{% extends 'profile/profile_detail.html' %}{% load sass_tags staticfiles %}

{% block header_content %}
  <div id="cover-map" class="clearfix" id="wajibisha_profile_header">
    <div id="slippy-map"></div>
    <div id="cover-profile" class="">
      {% include 'blocks/promises-header.html' %}
    </div>
  </div>

{% endblock %}

{% block profile_detail %}
  <div class="mt-200">

    <div class="showcase how-it-works text-center">
      <div class="wrapper clearfix">
        <h2>All the promises</h2>
        <br/>
      </div>
      <div class="container">
        <div class="row d-flex flex-row justify-content-end pb-5"
             style="color:#006699;">
          <p class="small pt-3 pb-3">Group by:</p>
          <div class="btn-group pl-4 pr-5" role="group" aria-label="Group by">
            <button type="button" class="btn btn-primary pl-4 pr-3 border-2"
                    style="border-top-left-radius:50px;border-bottom-left-radius:50px;border-color:#0067A3;background-color:#0067A3;">
              STATUS
            </button>
            <button type="button" class="btn pr-4 border-2" disabled
                    style="border-top-right-radius:50px;border-bottom-right-radius:50px;border-color:#808080;background-color:#f9f9f9!important;">
              CATEGORY
            </button>
          </div>
        </div>

        <div class="row pt-5">
          <!--start of card-->
          <div class="col-4">
            {% include 'profile/_blocks/_promise_card.html' with stat=promises.health card_img='img/tracker/category/health.svg' %}
          </div>
          <!--second column-->
          <div class="col-4">
            {% include 'profile/_blocks/_promise_card.html' with stat=promises.housing card_img='img/tracker/category/housing.svg' %}
          </div>

          <!--third column-->
          <div class="col-4">
            {% include 'profile/_blocks/_promise_card.html' with stat=promises.jobs card_img='img/tracker/category/jobs.svg' %}
          </div>

          <!--second container start here-->
          <div class="container pt-5">
            <div class="row pt-5">

              <div class="col-4">
                {% include 'profile/_blocks/_promise_card.html' with stat=promises.governance card_img='img/tracker/category/governance.svg' %}
              </div>


              <div class="col-4">
                {% include 'profile/_blocks/_promise_card.html' with stat=promises.environment card_img='img/tracker/category/environment.svg' %}
              </div>


              <div class="col-4">
                {% include 'profile/_blocks/_promise_card.html' with stat=promises.traffic card_img='img/tracker/category/traffic-management.svg' %}
              </div>
            </div>
          </div>
        </div>

        <p><a href="/promises/county-47-nairobi">View Detailed Promises</a></p>
      </div>

    </div>

  </div>
{% endblock %}