<div class="showcase clearfix partners {{ extra_css_class }}">
  <div class="wrapper text-center">
      <h2>Partners</h2>
      <p>This platform is made possible through support from the following partners:</p>

      <a href="//codeforafrica.org/" target="_blank" rel="noopener">
        <img src="{{ STATIC_URL }}img/logos/cfafrica.png" alt="Code for Africa"></a>
      <a href="//www.nigerianstat.gov.ng/" target="_blank" rel="noopener">
        <img src="{{ STATIC_URL }}img/logos/nbs.png" alt="Nigeria National Bureau of Statistics"></a>
      <a href="//www.nan.ng/" target="_blank" rel="noopener">
        <img src="{{ STATIC_URL }}img/logos/nan.png" alt="News Agency of Nigeria"></a>
    </div>
</div>
