{% extends 'profile/profile_detail.html' %} {% load humanize lookup staticfiles %}

{% block secondary_nav %}
  <div class="floating-nav-wrapper" id="sticky-nav">
    <nav class="floating-nav affix-top" data-spy="affix" data-offset-top="197">
      <div class="wrapper clearfix">
        <div class="geography-ico">
          <span><img
              src="{% static 'img/icons/favicon.ico' %}">{{ geography.this.name }}
          </span>
        </div>
      </div>
    </nav>
  </div>
{% endblock %}

{% block profile_header_tail %}
{% endblock %}

{% block profile_detail %}


  {% if not demographics.is_missing %}
    <article id="demographics" class="clearfix">
      <header class="section-contents"><h1>Demographics</h1></header>
      <div class="section-container">
        {% if not demographics.birth_registration.is_missing %}
        <section class="clearfix stat-row">
          <h2>
            <a class="permalink" href="#birth_registration" id="birth_registration">
              Birth Registration<i class="fa fa-link"></i></a></h2>
          <div class="column-full">
              <div id="chart-pie-demographics-birth_registration"
                   data-chart-title="Propotion of Birth Registration"
                   data-stat-type="number"
                   data-stat-value="-value"
                   data-source-title="National Bureau of Statistics, 2017"
                   data-source-link="https://nigerianstat.gov.ng/resource/Demographic%20Statistics%20Bulletin%202017%20tables.xlsx"></div>
            </div>
        </section>
        {% endif %}
        {% if not demographics.compiled_indeces.is_missing %}
        <section class="clearfix stat-row">
          <h2>
            <a class="permalink" href="#human-development-indeces" id="human-development-indeces">
              Human Development Indeces<i class="fa fa-link"></i></a></h2>
          <div class="column-full">
              <div id="chart-column-demographics-compiled_indeces"
                   data-chart-title="Human Development Indices"
                   data-stat-type="number"
                   data-source-title="Computation of Human Development Indices for the UNDP Nigeria Human Development Report (2016)"
                   data-source-link="https://nigerianstat.gov.ng/download/830"></div>
            </div>
        </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not health.is_missing %}
    <article id="health" class="clearfix">
      <header class="section-contents"><h1>Health</h1></header>
      <div class="section-container">
        {% if not health.hiv_patients.is_missing %}
          <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-grouped_column-health-hiv_patients"
                   data-chart-title="Distribution of HIV Patients by Year and Sex 2015-2016"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2018"
                   data-source-link="https://nigerianstat.gov.ng/download/614"></div>
            </div>
        </section>
        {% endif %}
        {% if not health.contraceptive_use.is_missing %}
          <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-health-contraceptive_use"
                   data-chart-title="Percent of women currently married or in union who are using (or whose partner is using) Contraceptive 2017"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2017"
                   data-source-link="https://nigerianstat.gov.ng/resource/Demographic%20Statistics%20Bulletin%202017%20tables.xlsx"></div>
            </div>
        </section>
        {% endif %}
        {% if not health.counselling_concluded.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-health-counselling_concluded"
                   data-chart-title="Number of Drug Counselling Sessions Concluded 2012 - 2016"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2016"
                   data-source-link="https://nigerianstat.gov.ng/download/614"></div>
            </div>
        </section>
        {% endif %}
        {% if not health.access_to_wash.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-health-access_to_wash"
                   data-chart-title="Percentage of Households with Access to Water Supply and Sanitation facility, 2018"
                   data-stat-type="scaled-percentage"
                   data-source-title="National Bureau of Statistics, 2016"
                   data-source-link="https://nigerianstat.gov.ng/download/839"></div>
            </div>
        </section>
        {% endif %}
        {% if not health.adolescent_fertility.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-health-adolescent_fertility"
                   data-chart-title="Female Adolescent Fertility Rate in 2016"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2018"
                   data-source-link="https://nigerianstat.gov.ng/download/952"></div>
            </div>
        </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not education.is_missing %}
    <article id="education" class="clearfix">
      <header class="section-contents"><h1>Education</h1></header>
      <div class="section-container">
        {% if not education.junior_secondary_school_enrollment.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-grouped_column-education-junior_secondary_school_enrollment"
                data-stat-type="number"
                data-chart-title="Distribution of Enrolment in Junior Secondary School by Year and sex, 2015 -2016"
                data-source-title="National Bureau of Statistics, 2018"
                data-source-link="https://nigerianstat.gov.ng/download/952"></div>
          </div>
        </section>
        {% endif %}
        {% if not education.senior_secondary_school_enrollment.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
               <div id="chart-grouped_column-education-senior_secondary_school_enrollment"
               data-stat-type="number"
               data-chart-title="Distribution of Enrolment in Senior Secondary School by State, Year and Sex, 2015 -2016"
               data-source-title="National Bureau of Statistics, 2018"
               data-source-link="https://nigerianstat.gov.ng/download/952"></div>
          </div>
        </section>
        {% endif %}
        {% if not education.technical_school.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-education-technical_school"
                   data-chart-title="Number Of Technical Schools By State And Year, (2014-2016)"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2017"
                   data-source-link="https://nigerianstat.gov.ng/download/866"></div>
            </div>
          </section>
          {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not crime.is_missing %}
  <article id="crime" class="clearfix">
    <header class="section-contents"><h1>Corruption & Crime</h1></header>
    <div class="section-container">
      {% if not crime.arrested_suspects.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
            <div id="chart-column-crime-arrested_suspects"
                 data-chart-title="Number of Suspects Arrested on Drug Charges 2012-2016"
                 data-stat-type="number"
                 data-source-title="National Bureau of Statistics, 2016"
                 data-source-link="https://nigerianstat.gov.ng/download/614"></div>
          </div>
      </section>
      {% endif %}
      {% if not crime.suspects_prosecuted.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
            <div id="chart-column-crime-suspects_prosecuted"
                 data-chart-title="Number of Suspects Prosecuted on Drug Charges 2012-2016"
                 data-stat-type="number"
                 data-source-title="National Bureau of Statistics, 2016"
                 data-source-link="https://nigerianstat.gov.ng/download/614"></div>
          </div>
      </section>
      {% endif %}
      {% if not crime.conviction_secured.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
            <div id="chart-column-crime-conviction_secured"
                 data-chart-title="Number of Convictions Secured on Drug Cases 2012 - 2016"
                 data-stat-type="number"
                 data-source-title="National Bureau of Statistics, 2016"
                 data-source-link="https://nigerianstat.gov.ng/download/614"></div>
          </div>
      </section>
      {% endif %}
      {% if not crime.avg_number_bribes.is_missing and not crime.bribery_prevalence.is_missing %}
      <section class="clearfix stat-row">
        {% if not crime.bribery_prevalence.is_missing %}
        <div class="column-third">
          <h3 class="chart-header">Corruption Index</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=crime.bribery_prevalence stat_type='number' %}
          </div>
          {% endif %}
        {% if not crime.avg_number_bribes.is_missing %}
          <div class="column-third">
            <div id="chart-column-crime-avg_number_bribes"
                 data-chart-title="Average number of bribes, 2016"
                 data-stat-type="number"
                 data-source-title="National Bureau of Statistics, 2016"
                 data-source-link="https://nigerianstat.gov.ng/resource/CorruptionStatistics_by_State_full.xlsx"></div>
          </div>
        {% endif %}
        {% if not crime.cases_of_corruption.is_missing %}
            <div class="column-third">
                <div id="chart-column-crime-cases_of_corruption"
                     data-chart-title="Number Of Reported Cases Of Corruption"
                     data-stat-type="number"
                     data-source-title="National Bureau of Statistics, 2017"
                     data-source-link="https://nigerianstat.gov.ng/download/866"></div>
              </div>
          {% endif %}
      </section>
      {% endif %}
      <!-- {% if not nbs_2018.mineral_production.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
            <div id="chart-column-nbs_2018-mineral_production"
                 data-chart-title="Mineral Production 2016 - 2018"
                 data-stat-type="number"
                 data-source-title="National Bureau of Statistics, 2018"
                 data-source-link="https://nigerianstat.gov.ng/download/614"></div>
          </div>
      </section>
      {% endif %}
      {% if not nbs_2018.mobile_subscription.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
            <div id="chart-grouped_column-nbs_2018-mobile_subscription"
                 data-chart-title="Telecoms Subscriptions by Mobile GSM and State Q4 2018"
                 data-stat-type="number"
                 data-source-title="National Bureau of Statistics, 2018"
                 data-source-link="https://nigerianstat.gov.ng/download/614"></div>
          </div>
      </section>
      {% endif %}
      {% if not nbs_2018.debt_data.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
          <div id="chart-grouped_column-nbs_2018-debt_data"
               data-chart-title="External and Domestic Debt 2011 - June 2018 in ₦" data-stat-type="number"></div>
            </div>
        </section>
      {% endif %}
      {% if not nbs_2018.faac.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
            <div id="chart-column-nbs_2018-faac"
                 data-chart-title="Federation Account Allocation Committee (FAAC) Allocation for January 2019 in Million ₦"
                 data-stat-type="number"
                 data-source-title="National Bureau of Statistics, 2019"
                 data-source-link="https://nigerianstat.gov.ng/download/614"></div>
          </div>
      </section>
      {% endif %}
      {% if not nbs_2018.telecom_subscription.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
            <div id="chart-grouped_column-nbs_2018-telecom_subscription"
                 data-chart-title="Telecoms Subscriptions 2018"
                 data-stat-type="number"
                 data-source-title="National Bureau of Statistics, 2018"
                 data-source-link="https://nigerianstat.gov.ng/download/614"></div>
          </div>
      </section>
      {% endif %}
      {% if not nbs_2018.jamb.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
            <div id="chart-grouped_column-nbs_2018-jamb"
                 data-chart-title="Telecoms Subscriptions 2018"
                 data-stat-type="number"
                 data-source-title="National Bureau of Statistics, 2018"
                 data-source-link="https://nigerianstat.gov.ng/download/614"></div>
          </div>
      </section>
      {% endif %} -->
    </div>
  </article>
  {% endif %}


  {% if not drugs.is_missing %}
    <article id="drugs" class="clearfix">
      <header class="section-contents"><h1>Drugs</h1></header>
      <div class="section-container">
        {% if not drugs.drugs_seized.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-drugs-drugs_seized"
                   data-chart-title="Quantity of Narcotic Drugs Seized (kg) 2012-2016"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2016"
                   data-source-link="https://nigerianstat.gov.ng/download/614"></div>
            </div>
        </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not agriculture.is_missing %}
    <article id="agriculture" class="clearfix">
      <header class="section-contents"><h1>Agriculture</h1></header>
      <div class="section-container">
        {% if not agriculture.all_consumer_price.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-half">
              <div id="chart-grouped_column-agriculture-all_consumer_price"
                   data-chart-title="Urban And Rural State Consumer Price Index: All Items"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/resource/cpi_1NewMAY2019.xlsx"></div>
            </div>
            <div class="column-half">
                <div id="chart-grouped_column-agriculture-food_consumer_price"
                     data-chart-title="Urban And Rural State Consumer Price Index: Food Items"
                     data-stat-type="number"
                     data-source-title="National Bureau of Statistics, 2019"
                     data-source-link="https://nigerianstat.gov.ng/resource/cpi_1NewMAY2019.xlsx"></div>
              </div>
        </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not transportation.is_missing %}
    <article id="transportation" class="clearfix">
      <header class="section-contents"><h1>Transportation</h1></header>
      <div class="section-container">
        {% if not transportation.air_transportation_domestic.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-grouped_column-transportation-air_transportation_domestic"
                   data-chart-title="Number of Passengers 2018, Domestics Flights"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2018"
                   data-source-link="https://nigerianstat.gov.ng/resource/JAN-DEC%202018%20Harmonised%20Air%20Traffic%20Statistics.xlsx"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.air_transportation_international.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-grouped_column-transportation-air_transportation_international"
                   data-chart-title="Number of Passengers 2018, International Flights"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2018"
                   data-source-link="https://nigerianstat.gov.ng/resource/JAN-DEC%202018%20Harmonised%20Air%20Traffic%20Statistics.xlsx"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.diesel_year.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-diesel_year"
                   data-chart-title="Yearly Average Diesel Price per litre (₦)"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/resource/DIESEL%20may%202019.xlsx"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.petrol_price.2019.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-petrol_price-2019"
                   data-chart-title="Petrol Price Jan to Dec 2019"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/download/923"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.diesel_price.2019.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-diesel_price-2019"
                   data-chart-title="Desel Price Jan to Dec 2019"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/download/921"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.petrol_price.2018.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-petrol_price-2018"
                   data-chart-title="Petrol Price Jan to Dec 2018"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/download/923"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.diesel_price.2018.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-diesel_price-2018"
                   data-chart-title="Desel Price Jan to Dec 2018"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/download/921"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.petrol_price.2017.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-petrol_price-2017"
                   data-chart-title="Petrol Price Jan to Dec 2017"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/download/923"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.diesel_price.2017.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-diesel_price-2017"
                   data-chart-title="Desel Price Jan to Dec 2017"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/download/921"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.petrol_price.2016.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-petrol_price-2016"
                   data-chart-title="Petrol Price Jan to Dec 2016"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/download/923"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.diesel_price.2016.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-diesel_price-2016"
                   data-chart-title="Desel Price Jan to Dec 2016"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/download/921"></div>
            </div>
        </section>
        {% endif %}
        {% if not transportation.diesel_price.2015.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
              <div id="chart-column-transportation-diesel_price-2015"
                   data-chart-title="Desel Price Jan to Dec 2015"
                   data-stat-type="number"
                   data-source-title="National Bureau of Statistics, 2019"
                   data-source-link="https://nigerianstat.gov.ng/download/921"></div>
            </div>
        </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not finance.is_missing %}
    <article id="transportation" class="clearfix">
      <header class="section-contents"><h1>Finances</h1></header>
      <div class="section-container">
        {% if not finance.bank_credit.is_missing and not finance.bank_deposit.is_missing %}
        <section class="clearfix stat-row">
            {% if not finance.bank_credit.is_missing %}
              <div class="column-half">
                  <div id="chart-column-finance-bank_credit"
                       data-chart-title="Bank Credit 2010 - 2015, (N' Million)"
                       data-stat-type="number"
                       data-source-title="National Bureau of Statistics, 2018"
                       data-source-link="https://nigerianstat.gov.ng/download/384"></div>
                </div>
              {% endif %}
              {% if not finance.bank_deposit.is_missing %}
                <div class="column-half">
                  <div id="chart-column-finance-bank_deposit"
                       data-chart-title="Bank Deposit 2010 - 2015, (N' Million)"
                       data-stat-type="number"
                       data-source-title="National Bureau of Statistics, 2018"
                       data-source-link="https://nigerianstat.gov.ng/download/384"></div>
                </div>
              {% endif %}
        </section>
        {% endif %}
      </div>
    </article>
  {% endif %}
{% endblock %}
