git+https://github.com/CodeForAfrica/HURUmap.git@v0.0.1#egg=hurumap

# Workaround for dependency links
# Comment out when changes / updates / PR accepted
git+https://github.com/CodeForAfricaLabs/wazimap.git@master#egg=wazimap
