{% load sass_tags staticfiles %}
<div class="card p-0" style="width:300px;margin:10px;color:#707070;">
  <div class="d-flex flex-row" style='height:150px;'>
    <div class="col-6 p-0">
      <img class="card-img p-0"
           src="{% static card_img %}"
           style="height:150px;width:180px;margin-top:-2rem;padding-left:0;">
    </div>
    <div class="col-6 p-0">
      <div class="">
        <p class="lead pr-5"><b class="text-large">{{ stat.total }} </b><span
            style="font-size:14px;"> Promises</span></p>
        <p class="lead pt-0 pr-4"><b
            style="font-size:28px;">{{ stat.completed_percentage }}% </b><span
            style="font-size:14px;"> Complete</span></p>
      </div>
    </div>
  </div>

  <div class="card-block border" style="background-color:#ededed;height:200px;width:320px;
          margin-left:-10px;border-color:rgba(112, 112, 112, 0.2);">
    <div class="d-flex flex-row">
      <div class="justify-content-start" style="font-weight:300;">
        <p class="pl-4 pt-3" style="font-size:larger;"><b>{{ stat.done }}</b></p>
        <p class="pl-4 pt-2 ml-5">Fulfilled</p>
        <p class="pl-4 pt-3" style="font-size:larger;"><b>{{ stat.in_progress }}</b></p>
        <p class="pl-4 ml-5 pt-0">In Progress</p>
      </div>
      <div class="justify-content-end offset-1"
           style="font-weight:300;">
        <p><b style="font-size:larger;">{{ stat.not_done }}</b><br></p>
        <p class="pt-2 pl-5">Unfulfilled</p>
        <p><b style="font-size:larger;">{{ stat.five_yr_plans }}</b><br></p>
        <p class="pt-2 pl-4">Stalled</p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row pb-3 pt-3 pl-5">
    <a  href="#" class="pt-0 mr-auto content-align-center pl-4 body-text small"><i class="fa fa-twitter fa-sm fa-share-alt pl-5 pr-1"></i>Share</a>

  </div>
</div>