{% extends 'homepage.html' %}{% load sass_tags humanize partition static %}

{% block head_meta_description %}{{ HURUMAP.name }} provides useful facts and
data about land ownership in South Africa. Compare places using tables and maps,
download data, and embed charts on your site.{% endblock %}


  {% block header_content %}
  {% endblock header_content %}

{% block content_container %}
  <div id="dominionHomeHero"></div>
  <div class="showcase how-it-works bg-white text-center">
    {% block how_it_works %}
      <div class="wrapper clearfix how-it-works">
        <h1>How It Works</h1>
        <br/>
        <div class="column-third">
          <p><img src="{% static 'img/icons/blurbs/checklist.svg' %}"/></p>
          <h2>Find Facts</h2>
          <p>Land ownership data is broken down by province and category: agricultural land, erven and urban land and sectional title land. </p>
        </div>
        <div class="column-third">
          <p><img src="{% static 'img/icons/blurbs/analysis.svg' %}"/></p>
          <h2>Visualize</h2>
          <p>Our library of charts gives you insight into land data from provinces you research. Look for them on profile pages. You can embed the charts on your own site. </p>
        </div>
        <div class="column-third-end">
          <p><img src="{% static 'img/icons/blurbs/visualization.svg' %}"/></p>
          <h2>Get Context</h2>
          <p>Pre-computed land statistics are presented alongside each data point so you can see how each place fits into a large context.</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="wrapper" style="margin: 30px auto;">
        <a href="/about" class="btn btn-lg bg-bottle-green">Learn more</a>
      </div>
    {% endblock %}
  </div>

  {% include 'blocks/showcase.html' %}

  {% include 'blocks/partners.html' %}

{% endblock content_container %}

{% block homepage_javascripb_libs %}
  {{ block.super }}
  <script src="{% static 'js/maps_mapit.js' %}"></script>

  <!-- Background Image Interactivity -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      $('.img-bg').on('click', function () {
        $('.img-bg').not(this).removeClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>
{% endblock %}
