{% extends 'homepage.html' %}{% load sass_tags humanize partition static %}

{% block head_meta_description %}{{ HURUMAP.name }} provides useful facts and
data about land ownership in South Africa. Compare places using tables and maps,
download data, and embed charts on your site.{% endblock %}

{% block header_menu %}
<li><a href="/about">About</a></li>
<li><a href="/#showcase">Showcase</a></li>
<li class="social-icons">
  <a href="https://twitter.com/{{ HURUMAP.twitter }}"><i
    class="fa fa-twitter fa-lg fa-fw"></i></a>
  <a href="https://facebook.com/{{ HURUMAP.facebook }}"><i
    class="fa fa-facebook fa-lg fa-fw"></i></a>
</li>
{% endblock header_menu %}

<!-- Empty header content to override top discover banner -->
{% block header_content %}{% endblock header_content %}

{% block content_container %}

  <div class="clearfix">
    <div id="slippy-map"></div>

    <!-- Map Explainer; floating discover banner -->
    <div class="map-explainer-wrapper">
      <div class="map-explainer">
        <i class="fa fa-times cross"
        onclick="javascript:$('.map-explainer-wrapper').css('display', 'none')"></i>
          <div style="padding-bottom: 2%">
            <h2 class="font-weight-bold" style="font-size: 2em">
              Discover the stories behind <br/> our <span style="color: #269a92;">land</span></h2>
            <hr>
        </div>
        <p>{{ HURUMAP.name }} gives journalist and civic activists
          useful facts and data about land ownership in South Africa</p>
        <a class="btn btn-primary btn-sm text-uppercase font-weight-light"
            href="/profiles/country-ZA-south-africa/">
          EXPLORE SOUTH AFRICA
          <img class="border-0" src="{% static 'img/icons/blurbs/button-arrow.svg' %}"
            style="height:15px; width: 18px; box-shadow: none; object-fit: contain;">
        </a>
      </div>
    </div>

    <!--  -->
    <div class="home-nav text-center section-container bg-color-white">
      <ul>
        <li class="section-title-icon"><a href='/about'>
          <span class="img-bg rounded bg-color-gradient text-white">
            <img src="{% static 'img/icons/blurbs/idea.svg' %}"/>
            ABOUT
          </span>
        </a></li>
        <li class="section-title-icon"><a href="javascript:$('.map-explainer-wrapper').css('display', 'none')">
          <span class="img-bg rounded bg-color-gradient text-white">
            <img src="{% static 'img/icons/blurbs/map.svg' %}"/>
            MAP
          </span>
        </a></li>
        <li class="section-title-icon"><a href='#showcase-stories'>
          <span class="img-bg rounded bg-color-gradient text-white">
            <img src="{% static 'img/icons/blurbs/script.svg' %}"/>
            STORIES
          </span>
        </a></li>
        <li class="section-title-icon"><a href='#partners'>
          <span class="img-bg rounded bg-color-gradient text-white">
            <img src="{% static 'img/icons/blurbs/group.svg' %}"/>
            PARTNERS
          </span>
        </a></li>
      </ul>
    </div>
  </div>
  
  <div id="dominionShowcase">
    {% block how_it_works %}
      <div class="wrapper clearfix how-it-works">
        <h1>How It Works</h1>
        <br/>
        <div class="column-third">
          <p><img src="{% static 'img/icons/blurbs/checklist.svg' %}"/></p>
          <h2>Find Facts</h2>
          <p>Land ownership data is broken down by province and category: agricultural land, erven and urban land and sectional title land. </p>
        </div>
        <div class="column-third">
          <p><img src="{% static 'img/icons/blurbs/analysis.svg' %}"/></p>
          <h2>Visualize</h2>
          <p>Our library of charts gives you insight into land data from provinces you research. Look for them on profile pages. You can embed the charts on your own site. </p>
        </div>
        <div class="column-third-end">
          <p><img src="{% static 'img/icons/blurbs/visualization.svg' %}"/></p>
          <h2>Get Context</h2>
          <p>Pre-computed land statistics are presented alongside each data point so you can see how each place fits into a large context.</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="wrapper" style="margin: 30px auto;">
        <a href="/about" class="btn btn-lg bg-bottle-green">Learn more</a>
      </div>
    {% endblock %}
  </div>

  <div id="dominionData"></div>

  {% include 'blocks/showcase.html' %}

  {% include 'blocks/partners.html' %}

{% endblock content_container %}

{% block homepage_javascripb_libs %}
  {{ block.super }}
  <script src="{% static 'js/maps_mapit.js' %}"></script>

  <!-- Background Image Interactivity -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      $('.img-bg').on('click', function () {
        $('.img-bg').not(this).removeClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>
{% endblock %}
