{% extends 'homepage.html' %}{% load sass_tags humanize partition static %}

{% block head_meta_description %}{{ HURUMAP.name }} provides useful facts and
data about land ownership in South Africa. Compare places using tables and maps,
download data, and embed charts on your site.{% endblock %}

{% block header_menu %}
<li><a href="/about">About</a></li>
<li><a href="/#showcase">Showcase</a></li>
<li class="social-icons">
  <a href="https://twitter.com/{{ HURUMAP.twitter }}"><i
    class="fa fa-twitter fa-lg fa-fw"></i></a>
  <a href="https://facebook.com/{{ HURUMAP.facebook }}"><i
    class="fa fa-facebook fa-lg fa-fw"></i></a>
</li>
{% endblock header_menu %}

<!-- Empty header content to override top discover banner -->
{% block header_content %}{% endblock header_content %}

{% block content_container %}
  <div id="dominionHomeHero"></div>
  <div id="dominionPortalChooser"></div>
  {% include 'blocks/showcase.html' %}
  <div id="dominionVideo"></div>
  <div id="dominionData"></div>
  <div id="dominionAbout"></div>

{% endblock content_container %}
