{% extends 'settings_js.html' %}{% load jsonify %}

{% block settings_javascript %}
  {{ block.super }}
  var countries = {{ HURUMAP.countries|jsonify|safe }};

  {% if profile_data_json %}
    var profileDataJson = {{ profile_data_json }};
  {% endif %}
  var geography = {{ geography.this |jsonify|safe }};
  {% if country %}
    var selected_country = {{ country|jsonify|safe}}
  {% else %}
    var selected_country = Object
      .entries({{ HURUMAP.countries | jsonify| safe }})
      .find((item) => item[1].code === geography.geo_code.slice(0,2))[1];
  {% endif %}

{% endblock settings_javascript %}
