{% extends 'profile/profile_detail.html' %} {% load humanize lookup staticfiles hashtospace %}

{% block header %}
    {% include 'blocks/profilepage_header.html' %}
{% endblock header %}

{% block profile_preamble %}
{% endblock %}

{% block profile_detail %}
  <div id="profile-detail">
    <div id="dominionProfileTabs" />
    {% block profile_detail_contents %}
    {% endblock %}
  </div>
  <div id="dominionProfileReleasesSection" />
{% endblock %}


{% block body_javascript_extra %}
    {{ block.super }}
    <script>
        var active_dataset_release = profileData["primary_releases"]["active"];
        var dataset_releases = profileData["primary_releases"]["other"].concat(active_dataset_release);
    </script>
{% endblock %}
