{% extends 'profile/profile_detail.html' %} {% load humanize lookup staticfiles hashtospace %}

{% block header %}
    {% include 'blocks/profilepage_header.html' %}
{% endblock header %}

{% block profile_preamble %}
{% endblock %}

{% block profile_detail %}
  <div id="profile-detail">
    <div id="dominionProfileTabs"></div>
    {% block profile_detail_contents %}
    {% endblock %}
  </div>

  {% if not head2head %}
    <div id="dominionProfileReleasesSection" />
    {% include 'blocks/country_partners.html' %}
    {% include 'blocks/partners.html' %}
  {% endif %}
{% endblock %}
