{% extends '_footer.html' %}

{% load staticfiles %}
{% block footer_branding %}
    <a href="https://codeforafrica.org" target="_blank">
            <img src="{% static 'img/logos/cfkenya-logo-white.png' %}" alt="Code for Africa" style="margin-top: 0;"></a>
        <a href="https://icfj.org" target="_blank">
            <img src="{% static 'img/logos/icfj-white.png' %}" alt="ICFJ" style="max-height: 42px;"></a>
    <a href="https://pesacheck.org" target="_blank">
            <img src="{% static 'img/logos/pesacheckwhite.png' %}" alt="pesacheck" style="max-height: 30px;"></a>
{% endblock %}