{% extends 'homepage.html' %}{% load humanize partition staticfiles %}

{% block content_container %}
<div class="content-container clearfix banner">
    <article class="wrapper">
        <section class="column-full clearfix">
            <h1 class="article-header">Discover the Stories Behind the Data</h1>
            <h4>HURUmap is a tool aimed at helping journalists add content and depth to stories.</h4>
        </section>
    </article>
</div>
<div class="content-container clearfix banner mobile">
    <article class="wrapper">
        <section class="column-full clearfix">
            <h1 class="article-header">Discover the Stories Behind the Data</h1>
            <div class="search-section div-area">
                <div><span>Search for a place in {{ HURUMAP.country_name }}</span> <i class="fa fa-search"></i></div>
            </div>
            <div class="search-section input-area">
                <input name="geography_select" id="geography-select" type="text" autocomplete="off">
            </div>
        </section>
    </article>
</div>

<div class="clearfix">
    <article style="margin-bottom:0px;">
        <section class=" clearfix" style="margin-bottom:0px;">
            <div id="slippy-map"></div>
        </section>

    </article>
</div>

<div class="content-container clearfix topics" id="topics">
    <article class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Topics </h1>
            <p class="article-p">Search by selecting a topic</p>
        </header>
        <section class="card-container clearfix">
        <script>
            topics = JSON.parse("{{topics|safe}}".replace(/'/g, '"'));
            for (k in topics) {
                document.write ('<a href="/profiles/{{ HURUMAP.country_profile }}/?topic='+  topics[k].topic  +'">')
                document.write ('<div class="column-quarter topic">')
                document.write ('<img src="'+ topics[k].icon +'" aria-hidden="true" style="height:80px;"/>');
                document.write ('<div class="topic-name"> ' + topics[k].name + '</div>');
                document.write ('</div>');
                document.write ('</a>');
            }
        </script>
        </section>
    </article>
</div>

<div class="content-container clearfix howitworks" id="howitworks">
    <article class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">How it Works</h1>
        </header>
        <section>
            <div class="column-third callout with-icon">
                <center><img src="/static/img/find_facts.png"/></center>
                <h3>Find facts</h3>
                <p>Populations and financial figures are broken down by category: Elections, Demographics, Service Delivery, Economics and Education.</p>
            </div>
            <div class="column-third callout with-icon">
                <center><img src="/static/img/get_context.png"/></center>
                <h3>Visualize</h3>
                <p>Our library of charts gives you insight into data from the places you research. Look for them on profile pages. You can even <a href="{% url 'example_detail' 'embed-charts' %}">embed the charts</a> on your own site.</p>
            </div>
            <div class="column-third callout with-icon">
                <center><img src="/static/img/visualise.png"/></center>
                <h3>Get context</h3>
                <p>Pre-computed statistics are presented alongside each data point, so you can see how each place fits into a larger context.</p>
            </div>
        </section>
    </article>
</div>

<div class="content-container clearfix showcase">
    <article class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Explore our Showcase</h1>
            <p class="article-p">Sample stories written with the help of HURUmap</p>
        </header>
        <section>
            <div class="column-third callout with-icon">
                <img src="{% static 'img/donkeys.jpg' %}"/>
                <h2>Marakwet locals intercept lorry ferrying 30 donkeys as demand for meat rises</h2>
                <p>By Stephen Rutto</p>
                <p>Marakwet East locals intercepted a lorry transporting 30 donkeys in Chesoi, on suspicion that the animals had been stolen from from other areas.</p>
                <center><a href='http://www.the-star.co.ke/news/2016/11/04/marakwet-locals-intercept-lorry-ferrying-30-donkeys-as-demand-for-meat_c1449795'><button>Read more</button></a></center>
            </div>
            <div class="column-third callout with-icon">
                <img src="{% static 'img/crime.jpg' %}"/>
                <h2>Two suspected thugs shot dead in Nairobi as crime rate soars</h2>
                 <p>By Nancy Agutu</p>
                <p>Two suspected thugs were shot dead in two separate incidents on Tuesday evening, and three guns with more than 30 bullets recovered</p>
                <center><a href="http://www.the-star.co.ke/news/2016/10/19/two-suspected-thugs-shot-dead-in-nairobi-as-crime-rate-soars_c1440749"><button>Read more</button></a></center>
            </div>
            <div class="column-third callout with-icon">
                <img src="{% static 'img/pregnancy.jpg' %}"/>
                <h2>Narok, Homa Bay and West Pokot top in early pregnancy</h2>
                <p>By Monicah Mwangi</p>
                <p>About one in every five teenage girls between 15-19 years have either had a live birth or are pregnant with their first child, according to a report by the United Nations Population Fund.</p>
                <center><a href="http://www.the-star.co.ke/news/2016/11/02/narok-homa-bay-and-west-pokot-top-in-early-pregnancy_c1447958"><button>Read more</button></a></center>
            </div>
        </section>
    </article>
</div>
<div style="display:none">
    <img src="{% static 'img/census_over.png' %}"/>
    <img src="{% static 'img/development_over.png' %}"/>
    <img src="{% static 'img/health_over.png' %}"/>
    <img src="{% static 'img/education_over.png' %}"/>
</div>
{% endblock content_container %}
