{% load staticfiles %}

<style type="text/css">
	.TFtable{
		width:100%; 
		border-collapse:collapse; 
	}

    .TFtable thead th{
        background: #204d8a;
        padding:10px;
        color: #fff;
    }

	.TFtable td{ 
		padding:7px; border:#4e95f4 0px solid;
	}
	/* provide some minimal visual accomodation for IE8 and below */
	.TFtable tr{
		background: #b8d1f3;
	}
	/*  Define the background color for all the ODD background rows  */
	.TFtable tr:nth-child(odd){ 
		background: #b8d1f3;
	}
	/*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even){
		background: #dae5f4;
	}

    .lt_button {
        background-color: #01200f; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<div class="content-container wrapper clearfix" style="overflow:auto;">
    <div class="holder" style="width: 100%; margin-bottom: 0px;">
        <div class="" style="width: 49%; margin-bottom: 0px; float: left;">
            <h2><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;10 Best Schools in {{ geography.this.short_name }}</h2>
            <br />
            <table class="TFtable" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align:left;  min-width: 5px;">No</th>
                        <th style="text-align:left;">Name</th>
                        <th style="min-width: 10px;">Pass Rate</th>
                        <th>National Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools.best_schools|slice:":10" %}
                        <tr>
                            <td style="text-align:left; min-width: 5px;">{{ forloop.counter }}</td>
                            <td><a href="/schools/{{ school.code }}">{{ school.name }}</a></a></td>
                            <td style="text-align:center;">{{ school.pass_rate }}</td>
                            <td style="text-align:center;">{{ school.national_rank_all }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div style="width: 49%; margin-bottom: 0px; float: right;">
            <h2><i class="fa fa-arrow-down"></i>&nbsp;&nbsp;10 Worst Schools in {{ geography.this.short_name }}</h2>
            <br />
            <table class="TFtable" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align:left;min-width: 5px;">No</th>
                        <th style="text-align:left;">Name</th>
                        <th style="min-width: 10px;">Pass Rate</th>
                        <th>National Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools.worst_schools|slice:":10" %}
                        <tr>
                            <td style="text-align:left;min-width: 5px;">{{ forloop.counter }}</td>
                            <td><a href="/schools/{{ school.code }}">{{ school.name }}</a></a></td>
                            <td style="text-align:center;">{{ school.pass_rate }}</td>
                            <td style="text-align:center;">{{ school.national_rank_all }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>