.top-menu {
  padding: 20px 50px 20px 50px;
  height: 100vh;
  overflow: auto;
}

.top-menu-lead {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .top-menu-lead {
    position: absolute;
    top: -25px;
    left: 10px;
    float: none;
  }
}

.clear-fix {
  clear: both;
}

.top-menu .top-menu-icon {
  position: absolute;
  top: -20px;
  right: 10px;
  display: none;
}

@media screen and (max-width: 768px) {
  .top-menu {
    padding: 40px 20px 20px 20px;
    max-height: 0;
    overflow: hidden;
  }

  .top-menu-icon {
    display: block !important;
  }
}

.menu-nav {
  display: flex;
  width: '100%';
}

.menu-nav-search {
  width: 100%;
  color: white;
}

/*Toggle bar css*/
@media screen and (max-width: 768px) {
  .top-menu.toggled {
    max-height: 100vh;
    width: 100%;
    transition: max-height 1s;
  }

  .top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon) {
    float: none;
    display: flex;
    margin: 0;
  }

  .toggle-toolbar-menu {
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .toggle-toolbar-country-search-menu {
    flex-direction: column-reverse;
    align-content: space-between;
    padding-bottom: 4rem;
  }

  .menu-nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .toggle-menu-nav-search {
    padding-top: 4rem;
  }

  /*.toggle-menu-nav-country-menu {
    padding-bottom: 4rem;
  }*/
}
