{% extends 'profile/profile_detail.html' %} {% load humanize lookup staticfiles hashtospace %}

{% block header_menu %}
  <li><a href="/about">About</a></li>
  <li><a href="/#showcase">Showcase</a></li>
  <li class="social-icons">
    <a href="https://twitter.com/{{ HURUMAP.twitter }}"><i
        class="fa fa-twitter fa-lg fa-fw"></i></a>
    <a href="https://facebook.com/{{ HURUMAP.facebook }}"><i
        class="fa fa-facebook fa-lg fa-fw"></i></a>
  </li>
{% endblock header_menu %}

{% block secondary_nav %}
  <div class="floating-nav-wrapper" id="sticky-nav">
    <nav class="floating-nav affix-top" data-spy="affix" data-offset-top="197">
      <div class="wrapper clearfix">
        <div class="geography-ico">
              <span><img
                  src="{% static 'img/icons/favicon.ico' %}">{{ geography.this.name }}
              </span>
        </div>
        <ul>
          <li><a href="#agricultural-land-sales"><i class="fa fa-money"></i>
            <span>Agricultural Land Sales</span></a></li>
          <li>
            <a href="#agricultural-land-sales-colour"><i class="fa fa-user"></i>
              <span>Land Traded for Transactions of Colour</span></a></li>
          <li><a href="#redistribution-restitution"><i class="fa fa-check"></i>
            <span> Land Redistribution and Restitution</span></a></li>
          <li><a href="#farm-land"><i class="fa fa-leaf"></i>
            <span>Farm Land</span></a></li>
          <li><a href="#erven-land"><i class="fa fa-building"></i>
            <span>Erven & Urban Land</span></a></li>
          <li><a href="#sectional-title-land"><i class="fa fa-bolt"></i>
            <span>Sectional Title Land</span></a></li>
        </ul>
      </div>
    </nav>
  </div>
{% endblock %}

{% block profile_header_tail %}
{% endblock %}

{% block profile_detail %}
  {% if not districtdistribution.is_missing %}
    <article>
      <header class="section-contents">
        <h1>Agricultural Land Sales Statistic for District Towns</h1>
      </header>
      <div class="section-container">
        {% for key, town_data in districtdistribution.towndistrictdistributiontransactionsdata.items %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink"><strong>Land
              Traded per Class (R/ha) for August 2017 to July
              2018 {{ key| hashtospace | title }} </strong><i class="fa fa-link"></i></a>
            </h2>
            <div class="column-full">
              <div id="chart-histogram-districtdistribution-towndistrictdistributiontransactionsdata-{{ key }}"
                   data-stat-type="number"
                   data-chart-title="Number of transactions per per class"
                   data-source-title="AGRIDS, 2018"
                   data-source-link="http://land.agrids.co.za/"></div>
            </div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-districtdistribution-towndistrictdistributionhectaresdata-{{ key }}"
                   data-stat-type="number"
                   data-chart-title="Number of Hectares traded per land class"
                   data-source-title="AGRIDS, 2018"
                   data-source-link="http://land.agrids.co.za/"></div>
            </div>
          </section>
          <!-- <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-bar-districtdistribution-towndistrictdistributionavgpricedata-{{key}}"
              data-initial-sort="-value"
              data-chart-title="Average price sold per land class"
              data-source-title="AGRIDS, 2018"
              data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-bar-districtdistribution-towndistrictdistributionpricetrendsdata-{{key}}"
              data-initial-sort="-value"
              data-chart-title="Price trends per land class"
              data-source-title="AGRIDS, 2018"
              data-source-link="http://land.agrids.co.za/"></div>
          </div>
      </section> -->
        {% endfor %}
      </div>
    </article>
  {% endif %}

  {% if not landsales.is_missing %}
    <article id="agricultural-land-sales" class="clearfix">
      <header class="section-contents">
        <h1>Agricultural Land Sales</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2 class="header-for-columns"><a class="permalink">Land Sales
            Distribution from August 2017 to July 2018
            <i class="fa fa-link"></i></a></h2>
          <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=landsales.landsalestransaction_tot stat_type='number' %}
          </div>
          <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=landsales.landsaleshectares_tot stat_type='number' %}
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-landsales-landsalestransaction"
                 data-stat-type="number"
                 data-chart-title="Number of transactions from August 2017 to July 2018 by land class in R/ha"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-landsales-landsaleshectares"
                 data-stat-type="number"
                 data-chart-title="Amount of hectares sold from August 2017 to July 2018 by land class in R/ha"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-landsales-landsalesaverageprice"
                 data-stat-type="number"
                 data-chart-title=" Average price of hectares sold from August 2017 to July 2018 by Land Class in R/ha"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <!-- <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-landsales-landsalespricetrends"
              data-stat-type="number"
              data-chart-title="Average Price trends in 12 months per Land Class"
              data-source-title="AGRIDS, 2018"
              data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section> -->
      </div>
    </article>
  {% endif %}
  {% if not landsalescolour.is_missing %}
    <article id="agricultural-land-sales-colour" class="clearfix">
      <header class="section-contents">
        <h1>Land traded statistic for transactions of colour</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=landsalescolour.landsalescolourhectares_stat stat_type='number' %}
          </div>
          <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=landsalescolour.landsalescolourtransaction_stat stat_type='number' %}
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-landsalescolour-landsalescolourhectares"
                 data-stat-type="number"
                 data-chart-title="Transactions of colour from August 2017 to July 2018 in hectares"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-landsalescolour-landsalescolourtransaction"
                 data-stat-type="number"
                 data-chart-title="Number of transactions of colour from August 2017 to July 2018"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-column-landsalescolour-landsalescolourtattransaction"
                 data-stat-type="number"
                 data-chart-title="Number of all transactions vs number of transactions of colour on Land traded 2017/2018"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
          <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=landsalescolour.landsalescolourcost_stat stat_type='number' %}
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-grouped_column-landsalescolour-landsalescolourtattransactionpermonth"
                 data-stat-type="number"
                 data-chart-title="Number of all transaction vs Number of transactions of colour on Land traded per month"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-column-landsalescolour-landsalescolourcostpermonth"
                 data-stat-type="number"
                 data-chart-title="Total cost in R million for transaction of colour in each month"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-column-landsalescolour-landsalescolourhectarespermonth"
                 data-stat-type="number"
                 data-chart-title="Total hectares (ha) traded for transaction of colour in each month"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-column-landsalescolour-landsalescolourpricehecpermonth"
                 data-stat-type="number"
                 data-chart-title="Price per hectares (R/ha) for transaction of colour in each month"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-column-landsalescolour-landsalescolourhectarespermonthpergu"
                 data-stat-type="number"
                 data-chart-title="Government Urban: Hectares(ha) traded for transaction of colour in each month"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-column-landsalescolour-landsalescolourhectarespermonthperga"
                 data-stat-type="number"
                 data-chart-title="Government Agriculture: Hectares(ha) traded for transaction of colour in each month"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-column-landsalescolour-landsalescolourhectarespermonthperot"
                 data-stat-type="number"
                 data-chart-title="Other: Hectares traded for transaction of colour in each month"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-column-landsalescolour-landsalescolourhectarespermonthperpr"
                 data-stat-type="number"
                 data-chart-title="Private: Hectares(ha) traded for transaction of colour in each month"
                 data-source-title="AGRIDS, 2018"
                 data-source-link="http://land.agrids.co.za/"></div>
          </div>
        </section>
      </div>
    </article>
  {% endif %}
  {% if not farmland.is_missing %}
    <article id="farm-land" class="clearfix">
      <header class="section-contents">
        <h1>Individual Land Ownership of farms and agricultural holdings</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <aside style="font-size: 14px;margin-left:-16.4em;width:14.4em;">
            <br/>
            <br/>
            <br/>
            <br/>
            CBOs,Community-Based Organisations, includes non-governmental
            organizations, churches, etc.
          </aside>
          <div class="column-half">
            <div id="chart-histogram-farmland-private_land_ownership_in_hectares_per_category"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Private land ownership in hectares by category (%)"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-farmland-number_of_private_land_owners_by_category"
                 data-stat-type="percentage"
                 data-chart-title="Number of Private Land Owners by Category (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <aside style="font-size: 14px;margin-left:-16.4em;width:14.4em;">
            <br/>
            Co-ownership: Land owned by owners who are classified in different
            categories e.g. land parcel co-owned by Individual(s) and a Trusts,
            male and female, etc.
          </aside>
          <div class="column-half">
            <div id="chart-pie-farmland-land_ownership_in_hectares_by_race"
                 data-stat-type="percentage"
                 data-chart-title="Individual land ownership of farms and agricultural holdings in hectares by race (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-farmland-number_of_land_owners_per_race"
                 data-stat-type="percentage"
                 data-chart-title="Number of individuals owning farms and agricultural holdings by race (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-histogram-farmland-land_ownership_in_hectares_by_gender"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Individual land ownership of farms and agricultural holdings in hectares by gender (%)"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-column-farmland-number_of_land_owners_per_gender"
                 data-stat-type="number"
                 data-chart-title="Number of individuals owning farms and agricultural holdings by gender"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-farmland-land_ownership_in_hectares_by_nationality"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Individual Land Ownership percent Hectares by Nationality"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-histogram-farmland-number_of_land_owners_per_nationality"
                 data-stat-type="number"
                 data-chart-title="Number of individuals owning farms and agricultural holdings by nationality"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
        {% if not land_audit_2013.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-half">
              <div id="chart-pie-land_audit_2013-land_distribution_gender"
                   data-stat-type="percentage"
                   data-chart-title="Private Land Distribution by Gender"
                   data-initial-sort="-value"
                   data-source-title="Land Audit Report, 2013"
                   data-source-link="http://www.ruraldevelopment.gov.za/phocadownload/Cadastral-Survey-management/Booklet/land%20audit%20booklet.pdf"></div>
            </div>
            <div class="column-half">
              <div id="chart-pie-land_audit_2013-land_ownership"
                   data-stat-type="percentage"
                   data-chart-title="Private Land Vs. State Land"
                   data-initial-sort="-value"
                   data-source-title="Land Audit Report, 2013"
                   data-source-link="http://www.ruraldevelopment.gov.za/phocadownload/Cadastral-Survey-management/Booklet/land%20audit%20booklet.pdf"></div>
            </div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-half">
              <div id="chart-pie-land_audit_2013-land_user_dist"
                   data-stat-type="percentage"
                   data-chart-title="Land Users"
                   data-initial-sort="-value"
                   data-source-title="Land Audit Report, 2013"
                   data-source-link="http://www.ruraldevelopment.gov.za/phocadownload/Cadastral-Survey-management/Booklet/land%20audit%20booklet.pdf"></div>
            </div>
            <div class="column-half">
              <div id="chart-pie-land_audit_2013-land_use_dist"
                   data-stat-type="percentage"
                   data-chart-title="Land Use"
                   data-initial-sort="-value"
                   data-source-title="Land Audit Report, 2013"
                   data-source-link="http://www.ruraldevelopment.gov.za/phocadownload/Cadastral-Survey-management/Booklet/land%20audit%20booklet.pdf"></div>
            </div>
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}
  {% if not ervenland.is_missing %}
    <article id="erven-land" class="clearfix">
      <header class="section-contents">
        <h1>Erven Land</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <aside style="font-size: 14px;margin-left:-16.4em;width:14.4em;">
            <br/>
            <br/>
            Erven Land: legal term used in Namibia, South Africa and Swaziland
            to describe a piece of
            land registered in a deeds registry as an erf, lot, plot or stand.
          </aside>
          <div class="column-half">
            <div id="chart-histogram-ervenland-erven_land_ownership_in_hectares_by_race"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Individual ownership of erven land in hectares by race (%)"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-ervenland-number_of_erven_land_owners_per_race"
                 data-stat-type="percentage"
                 data-chart-title="Number of individuals owning erven land by race (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <aside style="font-size: 14px;margin-left:-16.4em;width:14.4em;">
            Erven includes every defined portion,
            not intended to be a public place, of a piece of land laid out as a
            township,
            whether or not it has been formally recognized, approved or
            proclaimed as such.
          </aside>
          <div class="column-half">
            <div id="chart-pie-ervenland-erven_land_ownership_in_hectares_by_gender"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Individual ownership of erven land in hectares by gender (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-ervenland-number_of_erven_land_owners_per_gender"
                 data-stat-type="percentage"
                 data-chart-title="Number of individuals owning erven land by gender (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-histogram-ervenland-erven_land_ownership_in_hectares_by_nationality"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Individual ownership of erven land in hectares by nationality (%)"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-column-ervenland-number_of_erven_land_owners_per_nationality"
                 data-stat-type="number"
                 data-chart-title=" Number of individuals owning erven land by nationality"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
      </div>
    </article>
  {% endif %}
  {% if not sectionaltitleland.is_missing %}
    <article id="sectional-title-land" class="clearfix">
      <header class="section-contents">
        <h1>Sectional Title Land</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <aside style="font-size: 14px;margin-left:-16.4em;width:14.4em;">
            <br/>
            <br/>
            Sectional Title Land: Separate ownership of units or sections within
            a complex or development
          </aside style="font-size: 14px
          ;
            margin-left: -16.4em
          ;
            width: 14.4em
          ;">
          <div class="column-half">
            <div id="chart-histogram-sectionaltitleland-sectional_title_ownership_in_hectares_per_category"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Individual ownership of sectional title land in hectares by category (%)"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-sectionaltitleland-number_of_sectional_title_owners_by_category"
                 data-stat-type="percentage"
                 data-chart-title="Number of individuals owning sectional title land by category (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <aside style="font-size: 14px;margin-left:-16.4em;width:14.4em;">
            Trusts in terms of Trust Property Control Act, No 57 of 1988
            <a href="http://www.justice.gov.za/legislation/acts/1988-57.pdf">the
              Trust Act</a>
          </aside>
          <div class="column-half">
            <div id="chart-pie-sectionaltitleland-sectional_title_ownership_in_hectares_per_race"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Individual ownership of sectional title land in hectares by race (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-sectionaltitleland-number_of_sectional_title_owners_by_race"
                 data-stat-type="percentage"
                 data-chart-title="Number of individuals owning sectional title land by race (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-histogram-sectionaltitleland-sectional_title_ownership_in_hectares_per_gender"
                 data-stat-type="scaled-percentage"
                 data-chart-title=" Individual ownership of sectional title land in hectares by gender (%)"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-column-sectionaltitleland-number_of_sectional_title_owners_by_gender"
                 data-stat-type="number"
                 data-chart-title="Number of individuals owning sectional title land by gender "
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-sectionaltitleland-sectional_title_ownership_in_hectares_per_nationality"
                 data-stat-type="scaled-percentage"
                 data-chart-title=" Individual ownership of sectional title land in hectares by nationality (%)"
                 data-initial-sort="-value"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
          <div class="column-half">
            <div id="chart-histogram-sectionaltitleland-number_of_sectional_title_owners_by_nationality"
                 data-stat-type="number"
                 data-chart-title="Number of individuals owning sectional title land by nationality"
                 data-source-title="Land Audit Report, 2017"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/land-audit-report/file/6126"></div>
          </div>
        </section>
      </div>
    </article>
  {% endif %}
  {% if not redistributionandrestitution.is_missing %}
    <article id="redistribution-restitution" class="clearfix">
      <header class="section-contents">
        <h1>Land Redistribution and Restitution</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2 class="header-for-columns"><a class="permalink"> Land
            Redistribution Programme <i class="fa fa-link"></i></a></h2>
          <aside style="font-size: 14px;margin-left:-16.4em;width:14.4em;">
            <br/>
            Following centuries of colonial rule and decades of apartheid rule,
            democratic South Africa set out to redistribute rights in land as a
            way
            to remedy past racial injustice and lay the basis for more equitable
            development.
          </aside>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.hectarestransferredperprovincebyyear_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-histogram-redistributionandrestitution-hectarestransferredperprovincebyyear"
                 data-chart-title="Hectares transferred in the Redistributiton Programme from 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <h2 class="header-for-columns"><a class="permalink"> Redistributed
            Land Cost <i class="fa fa-link"></i></a></h2>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.redistributedlandhectares_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.redistributedlandaveragecostperhectares_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.redistributedlandcostinrands_stat stat_type='number' decimals="-2" %}
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-redistributionandrestitution-redistributedlandusebreakdown"
                 data-stat-type="percentage"
                 data-chart-title="Redistribution Programme Statistic, Percent land use breakdown year 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.redistributeprogrammeprojectsbyyear_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-column-redistributionandrestitution-redistributeprogrammeprojectsbyyear"
                 data-chart-title="Projects transferred through Redistribution Programme in the Financial Year 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.redistributeprogrammebeneficiariesbyyear_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-column-redistributionandrestitution-redistributeprogrammebeneficiariesbyyear"
                 data-chart-title="Beneficiaries of Redistribution Programme in the Financial Year 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.redistributeprogrammehouseholdsbyyear_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-column-redistributionandrestitution-redistributeprogrammehouseholdsbyyear"
                 data-chart-title="Households Benefitted from Redistribution Programme in the Financial Year 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.femalepartybenefited_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-column-redistributionandrestitution-femalepartybenefited"
                 data-chart-title="Number of female benefited from the Redistribution Programme in the Financial Year 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.disabledpeoplepartybenefited_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-column-redistributionandrestitution-disabledpeoplepartybenefited"
                 data-chart-title="Number of disabled people benefited from Redistribution Programme in the Financial Year 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.youthpartybenefited_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-column-redistributionandrestitution-youthpartybenefited"
                 data-chart-title="Number of youth benefited from Redistribution Programme in the Financial Year 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>

        </section>
        <section class="clearfix stat-row">
          <h2 class="header-for-columns"><a class="permalink"> Land Restitution
            Programme <i class="fa fa-link"></i></a></h2>
          <aside style="font-size: 14px;margin-left:-16.4em;width:14.4em;">
            <br/>
            Restitution of Land Rights is to offer a solution to people who had
            lost their land as a result of racially discriminatory practices
            such as forced removals.
          </aside>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.hectaresacquiredrestitution_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-histogram-redistributionandrestitution-hectaresacquiredrestitution"
                 data-chart-title="Hectares Acquired in the Restitution Programme in the Financial Year 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.householdsrestitution_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-histogram-redistributionandrestitution-householdsrestitution"
                 data-chart-title="Households benefited in the Restitution Programme from 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.beneficiariesrestitution_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-histogram-redistributionandrestitution-beneficiariesrestitution"
                 data-chart-title="Beneficiaries in the Restitution Programme from 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.femaleheadedhouseholdsrestitution_stat stat_type='number' decimals="-2" %}
          </div>
          <div class="column-two-thirds">
            <div id="chart-histogram-redistributionandrestitution-femaleheadedhouseholdsrestitution"
                 data-chart-title="Number of female headed households restitution Programme from 2009/2010 to 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-third">
            <div id="chart-histogram-redistributionandrestitution-financialcompensationrestitution"
                 data-chart-title="Financial Compensation in Rands (ZAR), Restitution Programme in 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
          <div class="column-third">
            <div id="chart-histogram-redistributionandrestitution-disabilitiesrestitution"
                 data-chart-title="People with disabilities benefited in Restitution Programme in 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
          <div class="column-third">
            <div id="chart-histogram-redistributionandrestitution-landcostrestitution"
                 data-chart-title="Land Cost in Restitution Programme in Rands (ZAR) in 2017/2018"
                 data-source-link="http://www.ruraldevelopment.gov.za/publications/evaluation-reports/file/6466"
                 data-source-title="Annual statistical report for selected service delivery programmes of the Department of Rural Development and Land Reform, 2018"></div>
          </div>
        </section>
      </div>
    </article>
  {% endif %}

  {% if not afrobarometer.is_missing %}
    <article>
      <header class="section-contents">
        <h1>Afrobarometer Round 7</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-access_to_information"
                 data-stat-type="percentage"
                 data-chart-title="How easy is it to access information on land ownership?"
                 data-source-link="http://afrobarometer.org/publications/south-africa-summary-results-2018"
                 data-source-title="Afrobarometer Round 7: Survey, 2018"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-land_to_prioritise_for_redistribution"
                 data-stat-type="percentage"
                 data-chart-title="Type of land that government should prioritise for redistribution"
                 data-source-link="http://afrobarometer.org/publications/south-africa-summary-results-2018"
                 data-source-title="Afrobarometer Round 7: Survey, 2018"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-maintain_willing_buyer_willing_seller_policy"
                 data-stat-type="percentage"
                 data-chart-title="The government must abide by willing buyer-willing seller policy in acquiring any property?"
                 data-source-link="http://afrobarometer.org/publications/south-africa-summary-results-2018"
                 data-source-title="Afrobarometer Round 7: Survey, 2018"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-allow_farmers_retain_land_ownership"
                 data-stat-type="percentage"
                 data-chart-title="Should the government allow farmers to retain ownership of land on which their labourers live?"
                 data-source-link="http://afrobarometer.org/publications/south-africa-summary-results-2018"
                 data-source-title="Afrobarometer Round 7: Survey, 2018"></div>
          </div>
        </section>

        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-land_acquisation_challenges"
                 data-stat-type="percentage"
                 data-chart-title="What is the greatest challenge to acquiring land today?"
                 data-source-link="http://afrobarometer.org/publications/south-africa-summary-results-2018"
                 data-source-title="Afrobarometer Round 7: Survey, 2018"></div>
          </div>
        </section>

      </div>
    </article>
  {% endif %}

  {% include 'settings_js.html' %}
  {% block body_javascript %}
    {{ block.super }}

    {% block profile_javascript_libs %}
      <script src="{% static 'js/vendor/leaflet-0.6.4.js' %}"></script>
      <script src="{% static 'js/vendor/topojson.v1.min.js' %}"></script>
      <script src="{% static 'js/vendor/leaflet.label.js' %}"></script>
      <script src="{% static 'js/charts.js' %}"></script>
      <script src="{% static 'js/head2head.js' %}"></script>
      <script src="{% static 'js/maps_static.js' %}"></script>
      <script src="{% static 'js/profile_map.js' %}"></script>
      <script src="{% static 'js/maps_mapit.js' %}"></script>
      <script src="{% static 'js/profile_map_mapit.js' %}"></script>
    {% endblock %}
  {% endblock %}
{% endblock %}
