<div class="showcase clearfix partners {{ extra_css_class }}">
    <div class="wrapper text-center">
        <h2>Partners</h2>
        <p>HURUmap is made possible through support from the following partners:</p>

        <a href="https://codefortanzania.org/" target="_blank" rel="noopener">
            <img src="{{ STATIC_URL }}img/logos/cf-tanzania-logo.png" alt="Code for Tanzania"></a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img src="{{ STATIC_URL }}img/logos/datazetu.png" alt="Data Zetu"></a>
        <a href="http://twaweza.org/" target="_blank" rel="noopener">
          <img src="{{ STATIC_URL }}img/logos/twaweza.png" alt="Twaweza"></a>

        <br/>
        <a href="https://www.gatesfoundation.org/" target="_blank" rel="noopener">
            <img src="{{ STATIC_URL }}img/logos/bmgf.png" alt="BMGF"></a>
        <a href="https://www.pepfar.gov/" target="_blank" rel="noopener">
            <img src="{{ STATIC_URL }}img/logos/pepfar.png" alt="Pepfar"></a>
        <a href="https://www.worldbank.org/" target="_blank" rel="noopener">
          <img src="{{ STATIC_URL }}img/logos/world-bank-group.png" alt="World Bank Group"></a>

        <br/>
      
    </div>
</div>
