<!--buttons for the promise tracker section are defined here-->
<div class="container">
  <div class="d-flex flex-row justify-content-center" style="margin:30px;">
    <button type="button" class="pl-5 pr-5 pt-3 pb-3 m-5 btn btn-primary">
      <i class="fa fa-share-alt pr-2" aria-hidden="true"></i>Share
    </button>

<button type="button" class="pl-5 pr-5 pt-3 pb-3 m-5 btn btn-primary">
      <i class="fa fa-bell pr-2" alt-hidden="true"></i>Get Nairobi Updates
    </button>

    <button type="button" class="pl-5 pr-5 pt-3 pb-3 m-5 btn btn-primary">
      <i class="fa fa-hand-rock-o pr-2"></i>Petition
    </button>

  </div>
</div>
<!--end of button class-->