<div class="container pt-5">
  <div class="d-flex pl-5 flex-row justify-content-center">
    <div class="col-sm-6 pl-5">
      <div class="card-slider card card-primary p-0">
        <div class="card-header">
          <h3 class="card-title pt-2 yellow-text">1,681 days to go</h3>
        </div>
        <div class="card-block pt-5">
          <p>At the current rate it will take <strong
              class="yellow-text">1,251</strong> days to complete all 100
            promises.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>