{% load staticfiles %}
<div class="mission showcase clearfix">
  <div class="wrapper">
    <div class="column-quarter title">
      <h2>OUR MISSION</h2>
    </div>
    <div class="column-half objective">
      Wajibisha seeks to provide an easy way to use online solutions for tracking
      county development promises using data obtained from campaign manifestos
    </div>
    <div class="column-quarter pie-chart">
      <img src="{% static 'img/Pie-Chart.svg' %}" height="180">
    </div>
  </div>

</div>