
<div class="container newsletter">
  <div class="d-flex justify-content-center pt-5 pb-5 borders-color"><hr align="center" width="32%">
</div>
  <h4 class="text-center pt-3 body-text">Sign up for weekly for weekly tracker updates in your inbox below.</h4>
  <form class="form-inline justify-content-center pt-5 pb-5">
    <div class="col-lg-8 center-block">
      <div class="input-group input-group-lg border rounded">
        <input type="text" class="form-control form-control-lg rounded" placeholder="hello@example.com">
        <span class="input-group-btn">
          <button class="btn btn-md" type="button">SUBCRIBE</button>
        </span>
      </div>
    </div>
  </form>
</div>