{% load sass_tags staticfiles %}
<div class="promises-header clearfix">
	<div class="wrapper content-container">
		<div class="column-third text-left">
			<h2>Nairobi</h2>
			<div>
				<p style="margin:0;">Population: 3,138,369</p>
				<p>Area: 696 sq.km</p>
			</div>
			<p>Censes data: 2009</p>
		</div>
		<div class="column-third">
      <div id="custom-search-input">
        <div class="row">
          <div class="col-md-12"> 
            <input class="search-query form-control form-control-lg" placeholder="Search" type="text">
          </div>
          </div>
        </div>
			<!--<div class="form-group">
				<input type="text" class="form-control form-control-lg border-right-5" id="validationDefault03" 
				placeholder=" Search" required >
			</div>-->
		</div>
    <div class="column-third text-right">
        <img src="{% static 'img/profiles/mike-sonko.jpg' %}" class="rounded-circle" height="150px;"> 
        <div>
          <p class="pb-0"><b>Governor : </b> Mike Sonko</p>
        <p class="pt-0"><b>Days in Office:</b> 138</p>
        <p class="pb-0">Term: 1ST</p>
      </div>
    </div>
	</div>
</div>
<div class="container p-0" style="height:350px;width:100%;max-width:1480px;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d510564.6498664422!2d36.56720029142611!3d-1.3031933719272912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1172d84d49a7%3A0xf7cf0254b297924c!2sNairobi!5e0!3m2!1sen!2ske!4v1523613390419" width="1480" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>