{% load staticfiles %}
<div class="showcase how-it-works text-center">
  <div class="wrapper clearfix text-center">
    <h4>THE TEAM</h4>
    <!--start a first card group-->
    <div class='pt-0 card-group'>
      <div class="team card text-center">
        <div class="card-body pl-0 pr-0">
          <img clas="card-img" src="{% static 'img/about/team.png' %}">
        </div>
      </div>
      <div class="team card text-center">
        <div class="card-body pl-0 pr-0">
          <img src="{% static 'img/about/team.png' %}">
        </div>
      </div>
      <div class="team card text-center">
        <div class="card-body pl-0 pr-0">
          <img src="{% static 'img/about/team.png' %}">
        </div>
      </div>
    </div>
    <!--start of second card group-->
    <div class='card-group'>
      <div class="team card text-center">
        <div class="card-body pl-0 pr-0">
          <img src="{% static 'img/about/team.png' %}">
        </div>
      </div>
      <div class="team card text-center">
        <div class="card-body pl-0 pr-0">
          <img src="{% static 'img/about/team.png' %}">
        </div>
      </div>
      <div class="team card text-center">
        <div class="card-body pl-0 pr-0">
          <img src="{% static 'img/about/team.png' %}">
        </div>
      </div>
    </div>
  </div>
</div>