{% load staticfiles %}
<section class="tweet-section" style="width:100%;height:auto;">
<div class=" container pt-5 pb-5" >
  <div class="d-flex justify-content-center"><h3>Latest tweets<h3></div>
	<div class="row pt-5 pb-5">
		<div class="card-group pb-5">
			<div class="tweet-card card border rounded" >
        <div class="d-flex flex-row">
          <div class="pl-2 pt-4"><img class="rounded-circle" src="http://via.placeholder.com/70x70" alt="image one"></div>
          <div class="pl-3 pr-2 pt-4">
            <p>Wajibisha Tracker @wajibisha</p>
            <p class="pr-4">Sonko does something huuugeee...</p>
            <p class="text-right pr-2 pt-3">
              <span><i class="fa fa-retweet fa-lg ml-3" aria-hidden="true"></i></span>
              <span><i class="fa fa-heart-o fa-lg ml-3" aria-hidden="true"></i></span>
            </p>
          </div>
        </div>   
      </div>
      <div class="tweet-card card border rounded" >
        <div class="d-flex flex-row">
          <div class="pl-2 pt-4"><img class="rounded-circle" src="http://via.placeholder.com/70x70" alt="image one"></div>
          <div class="pl-3 pr-2 pt-3 pt-4">
            <p>Wajibisha Tracker @wajibisha</p>
            <p class="pr-4">Sonko does something huuugeee....</p>
            <p class="text-right pr-2 pt-3">
              <span><i class="fa fa-retweet fa-lg ml-3" aria-hidden="true"></i></span>
              <span><i class="fa fa-heart-o fa-lg ml-3" aria-hidden="true"></i></span>
            </p>
          </div>
        </div> 
      </div>
      <div class="tweet-card card border rounded">
        <div class="d-flex flex-row">
          <div class="pl-2 pt-4"><img class="rounded-circle" src="http://via.placeholder.com/70x70" alt="image one"></div>
          <div class="pl-3 pr-2 pt-4">
            <p>Wajibisha Tracker @wajibisha</p>
            <p class="pr-4">Sonko does something huuugeee....</p>
            <p class="text-right pr-2 pt-3">
              <span><i class="fa fa-retweet fa-lg ml-3" aria-hidden="true"></i></span>
              <span><i class="fa fa-heart-o fa-lg ml-3" aria-hidden="true"></i></span>
            </p>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-5 pb-5"><hr align="center" width="32%" style="border-color:black;"></div>
  <h4 class="text-center pt-5">Sign up for weekly for weekly tracker updates in your inbox below.</h4>
  <form class="form-inline justify-content-center pt-5">
    <div class="col-lg-8 center-block">
      <div class="input-group input-group-lg rounded">
        <input type="text" class="form-control form-control-lg rounded" placeholder="hello@example.com">
        <span class="input-group-btn">
          <button class="btn btn-md btn-primary" type="button" style="background-color:#0067a3;width:180px;border-color:#0067a3;font-size:1.2rem;font-weight:100;border-radius:4px;">SUBCRIBE</button>
        </span>
      </div>
    </div>
  </form>
</div>
</div>
</section>