{% load staticfiles %}
<section class="tweet-section" style="width:100%;height:auto;">
<div class=" container pb-5 pt-5">
  <div class="pt-0 d-flex justify-content-center" style="color:#707070;"><h3>Latest tweets<h3></div>
	<div class="row">
		<div class="card-group pb-2" style="color:#707070;">
			<div class="tweet-card card border rounded" style="border-color:#bfd9e8!important;">
        <div class="d-flex flex-row">
          <div class="pl-2 pt-4"><img class="rounded-circle" src="http://via.placeholder.com/70x70" alt="image one"></div>
          <div class="pl-3 pr-2 pt-4">
            <p>Wajibisha Tracker @wajibisha</p>
            <p class="pr-4">Sonko does something huuugeee...</p>
            <p class="text-right pr-2 pt-3">
              <span><i class="fa fa-retweet fa-lg ml-3" aria-hidden="true"></i></span>
              <span><i class="fa fa-heart-o fa-lg ml-3" aria-hidden="true"></i></span>
            </p>
          </div>
        </div>   
      </div>
      <div class="tweet-card card border rounded" style="border-color:#bfd9e8!important;">
        <div class="d-flex flex-row">
          <div class="pl-2 pt-4"><img class="rounded-circle" src="http://via.placeholder.com/70x70" alt="image one"></div>
          <div class="pl-3 pr-2 pt-3 pt-4">
            <p>Wajibisha Tracker @wajibisha</p>
            <p class="pr-4">Sonko does something huuugeee....</p>
            <p class="text-right pr-2 pt-3">
              <span><i class="fa fa-retweet fa-lg ml-3" aria-hidden="true"></i></span>
              <span><i class="fa fa-heart-o fa-lg ml-3" aria-hidden="true"></i></span>
            </p>
          </div>
        </div> 
      </div>
      <div class="tweet-card card border rounded" style="border-color:#bfd9e8!important;">
        <div class="d-flex flex-row">
          <div class="pl-2 pt-4"><img class="rounded-circle" src="http://via.placeholder.com/70x70" alt="image one"></div>
          <div class="pl-3 pr-2 pt-4">
            <p>Wajibisha Tracker @wajibisha</p>
            <p class="pr-4">Sonko does something huuugeee....</p>
            <p class="text-right pr-2 pt-3">
              <span><i class="fa fa-retweet fa-lg ml-3" aria-hidden="true"></i></span>
              <span><i class="fa fa-heart-o fa-lg ml-3" aria-hidden="true"></i></span>
            </p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
</div>
</section>