$color-blue: #0067a3;
$color-red: #ee4538;
$color-orange: #f7971d;
$color-yellow: #f8ca0f;
$color-green: #4cae4e;


body {
  background-color: #F6F9FC !important;
}

#page-header {
  background-color: $color-blue;
}

@media only screen and (min-width: 1140px) {
  #page-header .wrapper {
    width: 95%;
    margin: 0 auto;
  }
}

#page-footer {
  background: linear-gradient(to right bottom, #0067A3, #0066A2, #005688);
}

.mission {
  background-color: white;
  padding: 60px 0;
  height: auto;
  display: table;
  float: none;
  width: 100%;

  .objective {
    height: inherit;
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;
  }
  .pie-chart {
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center;

  }
  .title {
    color: #0067a3;
    font-size: large;
    border-right: solid #d4d4d4;
    height: inherit;
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center;
    padding: 30px 0;

  }
}

/*HEADER SECTION*/
.clipped-header {
  background-color: $color-blue;
  height: 280px;
  color: white;
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: 100;
  transform-origin: -40px;
  transform: skewY(-6deg);
  box-shadow: 0 4px 2px -2px #b7b7b7;

  .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 103;
    transform: skewY(6deg);
    transform-origin: 0;
  }

  .wrapper .presentation-img {
    z-index: 1003;
    height: 200px;
    position: absolute;
    right: 0;
  }

}

.column-third-promise{
  width: 48%;
}

.column-third-profile.text-right {
    margin-top: -130px!important;
    //width: 110%;
}

.promises-header {
  background-color: #0067a3;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: 100;
  box-shadow: 0 4px 2px -2px #b7b7b7;
}

.promises-header .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 103;
}

.promises-header .wrapper .presentation-img {
  z-index: 1003;
  height: 200px;
  position: absolute;
  right: 0;
}

.container.iframe-map.p-0 {
  height: 350px;
  max-width: 100%;
}

/* LANDING PAGE SEARCH FORM */
.country.form-control.form-control-lg {
  width: 200px;
  font-size: 1rem;
  background-color: #4CAE4E;
  border-color: #4CAE4E;
}

.country option {
  background-color: #4CAE4E;
}

.showcase h4 {
  color: #0067a3;
}

.main-card {
  height:600px;
}
.height-card {
  height:450px;
}

/*COLORS AND TEXT */
.sub-title {
  color:#b7e4ff;
  font-size:1.2rem;
}

.yellow-text {
  color: $color-yellow;
}

.blue-text {
  color: #B7E4FF;
}

.body-text {
  color: #707070;
}

.body-text:hover {
  color: #707070;
}

.borders-color {
  border-color: #707070;
}

.card-promise-text {
  font-size: 14px;
}

.number-text {
  font-size: 28px;
}

.details {
  height: 11rem;
  background-color: #f6f9fc;
}

.how-it-works img {
  max-width: 100%;
  width: 180px;
}

.how-it-works p {
  margin-bottom: 0;
  padding-top: 1.2rem;
}

.background {
  background-color: #ededed;
}

.tweet-section {
  width: 100%;
  height: auto;
}

.tweet-card.card.border.rounded {
  border-color: #bfd9e8 !important;
}

.input-group-btn {
  position: relative;
  top: 6.5px;
  z-index: 999;
  margin-left: -190px;
}

.input-group > .form-control {
  height: 3.6rem;
  border-color: darkgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input.form-control.form-control-lg.rounded::placeholder {
  color: #d4d4d4;
  padding-left: 2rem;
  font-size: 0.8rem;
  top: 6px;
}

select.form-control.form-control-lg {
  color: white;
}

.card_status_img {
  display: block;
  width: 100%;
}

.promise-item {
  height: 180px;
  width: 100%;
  margin-bottom: 2rem !important;
}

#compare-place-picker {
  display: none !important;
}

.explain {
  display: none;
}

.display-inline {
  display: inline-block;
}

.links li a:hover {
  font-size: 18px;
}

/*FOOTER SECTION*/
.footer-text {
  text-decoration: none;
}

.footer-logo {
  max-height: 65px;
  width: 100px;
}

.tr-logo {
  max-height: 65px;
  margin: 10px
}

/* ARTICLE SECTION */
.article-label {
  margin: -45px;
  margin-top: -80px;
  background-color: #0067A3;
  color: #ededed;
  padding-left: 2rem;
  padding-right: 2rem;
}

.lead-content {
  background-color: grey;
  background: linear-gradient(0deg, black, #333 70%);
  opacity: 0.7;
  padding-top: 25px;
  height: 240px;
  background-blend-mode: lighten;
}

.card-content {
  margin-top: 13.5rem;
}

.author-text {
  color: #ededed;
}

.article-card {
  height: 280px;
  width: 660px
}

.article-width {
  width: 18rem;
}

.hr-nav {
  border-color: #0067A3;
  height: 12px;
  width: 100%;
}

/* CATEGORY SECTION */
.btn.btn-primary-right {
  color: #808080;
  border-color: #808080;
  background-color: #f9f9f9 !important;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

}

.btn.btn-primary-left {
  color: #F5F5F5;
  border-color: #0067A3;
  background-color: #0067A3 !important;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* BUTTONS */
.btn.btn-primary-buttons {
  color: white;
  border-color: #0067A3;
  background-color: #0067A3;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.btn.btn-primary-label {
  margin-top: -28px;
  background-color: #0067A3;
  color: #ededed;
}

/* CARDS */

.card-hw {
  height:610px;
  width:300px;
}

.card-height {
  height: 580px;
}

.card.p-0.offset-1 {
  height: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 50px 20px;
  height: 350px;
  background-color: #fff;
}

.tweet-card {
  height: 200px;
  margin: 2rem;
  border-color: #B7E4FF;
  padding: 0;
}

img.category-card-img.card-img.p-0.pl-0 {
  height: 150px;
  width: 180px;
  margin-top: -3rem;
}

.card-block.border {
  height: 200px;
  width: 320px;
  margin-left: -10px;
  background-color: #ededed;
  border-color: rgba(112, 112, 112, 0.2);
}

img.status-img.card-img.p-0.pl-0 {
  height: 150px;
  width: 180px;
  margin-top: -2rem;
}

.status-card.card.p-0.body-text {
  width: 300px;
  margin: 10px;
}

.status-card-height.d-flex.flex-row {
  height: 150px;
}

.card-slider {
  height: 250px;
  width: 450px;
  color: white;
  background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(0, 52, 82, 1) 100%);

}

.card-slider:hover {
  height: 250px;
  width: 450px;
  color: white;
  background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(0, 52, 82, 1) 100%);

}

.card-position.p-0.body-text {
  width: 600px;
  height: 260px;
  margin-top: -8rem;
}

.overview {
  padding-left: 15rem;
}

.content-font-size {
  font-size: 1.4rem;
}

.overview-img-text {
  margin-top: -8rem;
}

/*NEWSLETTER SECTION*/
.newsletter button {
  color: white !important;
  background-color: #0067a3;
  width: 180px;
  border-color: #0067a3;
  font-size: 1.2rem;
  font-weight: 100;
  border-radius: 4px;
}

/* TABLES */
.table.table.table-bordered.bg-light {
  height: 180px;
  width: 520px;
}

td.table-img {
  width: 120px;
  height: 150px;
}

img.img-width.d-block.p-0 {
  width: 100%;
}

#slippy-map {
  top: 250px !important;
}

.mt-200 {
  margin-top: 200px;
}

.promise-select {
  border-radius: 5px !important;
  background-color: #0067a3 !important;
  color: #FFFFFF !important;
}

.filter-text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  line-height: 5px;
}

.text-blue {
  color: #0067a3;
}

.text-white {
  color: #FFFFFF;
}

.mt-20 {
  margin-top: 20px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab button.active {
  background-color: #0067a3 !important;
  color: #ffffff !important;
}

.tab button {
  border-color:#808080;
  background-color: #f9f9f9;
  color: #001b1b !important;
}
.progress-bar {
  height:4px!important;
}

/* disable the hover effect on boostrap table /safari/firefox */
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: inherit;
}

/* Diaable the hover effect on boostrap table on chrome*/
table tr:hover td { 
   background-color: inherit;     
   opacity: 1.0;
}


/* TEAM SECTION */

.team {
  height:400px;
  margin:10px;
}

.team img {
  display:block;
  width:250px;
  height:auto;
  max-width:100%;
  max-height:250px; 
}

td.table-width {
  width:10rem!important;
}

.table-content {
  padding-bottom:2rem;
}

.table td, 
.table th {
  padding:0!important;
}

img.p-0.card_status_img {
  height:150px;
}

.dropdown {
  width:300px;
  font-size:14px;
  font-weight:100;
}



/*btn-group.pl-4.pr-5.tab {
  position:relative;
  display:inline-block;
  font-size:0;
  vertical-align:middle;
  white-space:nowrap;
} */