body {
  background-color: #F6F9FC !important; }

#page-header {
  background-color: #0067a3; }

@media only screen and (min-width: 1140px) {
  #page-header .wrapper {
    width: 95%;
    margin: 0 auto; } }

#page-footer {
  background: linear-gradient(to right bottom, #0067A3, #0066A2, #005688); }

.mission {
  background-color: white;
  padding: 60px 0;
  height: auto;
  display: table;
  float: none;
  width: 100%; }
  .mission .objective {
    height: inherit;
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px; }
  .mission .pie-chart {
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center; }
  .mission .title {
    color: #0067a3;
    font-size: large;
    border-right: solid #d4d4d4;
    height: inherit;
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center;
    padding: 30px 0; }

.clipped-header {
  background-color: #0067a3;
  height: 280px;
  color: white;
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: 100;
  transform-origin: -40px;
  transform: skewY(-6deg);
  box-shadow: 0 4px 2px -2px #b7b7b7; }
  .clipped-header .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 103;
    transform: skewY(6deg);
    transform-origin: 0; }
  .clipped-header .wrapper .presentation-img {
    z-index: 1003;
    height: 200px;
    position: absolute;
    right: 0; }

.promises-header {
  background-color: #0067a3;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: 100;
  box-shadow: 0 4px 2px -2px #b7b7b7; }

.promises-header .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 103; }

.promises-header .wrapper .presentation-img {
  z-index: 1003;
  height: 200px;
  position: absolute;
  right: 0; }

.showcase h4 {
  color: #0067a3; }

.space {
  padding-top: 1rem; }

.yellow-text {
  color: #f8ca0f; }

.how-it-works img {
  max-width: 100%;
  width: 180px; }

.how-it-works p {
  margin-bottom: 0;
  padding-top: 1.2rem; }

.background {
  background-color: #ededed; }

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 50px 20px;
  height: 350px;
  background-color: #fff; }

.tweet-card {
  height: 200px;
  margin: 2rem;
  border-color: #B7E4FF;
  padding: 0; }

.team {
  padding: 0;
  margin: 3rem;
  height: 230px; }

.input-group-btn {
  position: relative;
  top: 6.5px;
  z-index: 999;
  margin-left: -190px; }

.input-group > .form-control {
  height: 3.6rem;
  border-color: darkgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

input.form-control.form-control-lg.rounded::placeholder {
  color: #d4d4d4;
  padding-left: 2rem;
  font-size: 0.8rem;
  top: 6px; }

select.form-control.form-control-lg {
  color: white; }

.links li a:hover {
  font-size: 18px; }

/*# sourceMappingURL=../../../../../../../../static/css/wajibisha.css.map */