body {
  background-color: #F6F9FC !important; }

#page-header {
  background-color: #0067a3; }

@media only screen and (min-width: 1140px) {
  #page-header .wrapper {
    width: 95%;
    margin: 0 auto; } }

#page-footer {
  background: linear-gradient(to right bottom, #0067A3, #0066A2, #005688); }

.mission {
  background-color: white;
  padding: 60px 0;
  height: auto;
  display: table;
  float: none;
  width: 100%; }
  .mission .objective {
    height: inherit;
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px; }
  .mission .pie-chart {
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center; }
  .mission .title {
    color: #0067a3;
    font-size: large;
    border-right: solid #d4d4d4;
    height: inherit;
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center;
    padding: 30px 0; }

/*Header section*/
.clipped-header {
  background-color: #0067a3;
  height: 280px;
  color: white;
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: 100;
  transform-origin: -40px;
  transform: skewY(-6deg);
  box-shadow: 0 4px 2px -2px #b7b7b7; }
  .clipped-header .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 103;
    transform: skewY(6deg);
    transform-origin: 0; }
  .clipped-header .wrapper .presentation-img {
    z-index: 1003;
    height: 200px;
    position: absolute;
    right: 0; }

.promises-header {
  background-color: #0067a3;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: 100;
  box-shadow: 0 4px 2px -2px #b7b7b7; }

.promises-header .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 103; }

.promises-header .wrapper .presentation-img {
  z-index: 1003;
  height: 200px;
  position: absolute;
  right: 0; }

.showcase h4 {
  color: #0067a3; }

.space {
  padding-top: 1rem; }

.yellow-text {
  color: #f8ca0f; }

.blue-text {
  color: #B7E4FF; }

.body-text {
  color: #707070; }

.body-text:hover {
  color: #707070; }

.country.form-control.form-control-lg {
  width: 200px;
  font-size: 1rem;
  background-color: #4CAE4E;
  border-color: #4CAE4E; }

.country option {
  background-color: #4CAE4E; }

.details {
  height: 11rem;
  background-color: #f6f9fc; }

.how-it-works img {
  max-width: 100%;
  width: 180px; }

.how-it-works p {
  margin-bottom: 0;
  padding-top: 1.2rem; }

.background {
  background-color: #ededed; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 50px 20px;
  height: 350px;
  background-color: #fff; }

.tweet-card {
  height: 200px;
  margin: 2rem;
  border-color: #B7E4FF;
  padding: 0; }

.team {
  padding: 0;
  margin: 3rem;
  height: 230px; }

.input-group-btn {
  position: relative;
  top: 6.5px;
  z-index: 999;
  margin-left: -190px; }

.input-group > .form-control {
  height: 3.6rem;
  border-color: darkgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

input.form-control.form-control-lg.rounded::placeholder {
  color: #d4d4d4;
  padding-left: 2rem;
  font-size: 0.8rem;
  top: 6px; }

select.form-control.form-control-lg {
  color: white; }

.links li a:hover {
  font-size: 18px; }

/*Footer section*/
.footer-text {
  text-decoration: none; }

.footer-logo {
  max-height: 65px;
  width: 100px; }

.tr-logo {
  max-height: 65px;
  margin: 10px; }

/* Article section */
.article-label {
  margin: -45px;
  margin-top: -80px;
  background-color: #0067A3;
  color: #ededed;
  padding-left: 2rem;
  padding-right: 2rem; }

.lead-content {
  background-color: grey;
  background: linear-gradient(0deg, black, #333 70%);
  opacity: 0.7;
  padding-top: 25px;
  height: 240px;
  background-blend-mode: lighten; }

.card-content {
  margin-top: 13.5rem; }

.author-text {
  color: #ededed; }

.article-card {
  height: 280px;
  width: 660px; }

.article-width {
  width: 18rem; }

.card-hw {
  height: 610px;
  width: 300px; }

.hr-nav {
  border-color: #0067A3;
  height: 12px;
  width: 100%; }

.card-height {
  height: 580px; }

/*Category section*/
.btn.btn-primary-right {
  color: #808080;
  border-color: #808080;
  background-color: #f9f9f9 !important;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; }

.btn.btn-primary-left {
  color: #F5F5F5;
  border-color: #0067A3;
  background-color: #0067A3 !important;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; }

.card.p-0.offset-1 {
  height: 200px; }

img.category-card-img.card-img.p-0.pl-0 {
  height: 150px;
  width: 180px;
  margin-top: -3rem; }

/*Fulfilled section*/
/*health*/
.btn.btn-primary-buttons {
  color: white;
  border-color: #0067A3;
  background-color: #0067A3;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; }

.btn.btn-primary-label {
  margin-top: -28px;
  background-color: #0067A3;
  color: #ededed; }

/*# sourceMappingURL=../../../../../../../../static/css/wajibisha.css.map */