/*
 * HURUmap Land SCSS
 * -----------------
 * Customizations for HURUmap Land site
 *
 */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$brand-color-primary: #0e4a48;

// Heading font
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3em;
}

// Re-usable classes

// Fonts
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.font-weight-bold {
  font-weight: 700;
}
.text-primary {
  color: $brand-color-primary
}
.text-white {
  color: white;
}

.bg-color-gradient {
  background-image: linear-gradient(to right, #0e4b49, #16635f, #269a92);
}

// Rounded radius
.rounded {
  border-radius: 99999px;
}

// Images with backgrounds
span.img-bg {
  display: inline-block;
  padding: 24px;
}

.section-container {
  background-color: #fff;
  border-top: 1px solid #aed4df
}


// Footer

#page-footer img {
  max-width: 200px;
}

// Homepage

// How it works
.how-it-works {
  img {
    max-width: 50px;
  }
}

// Stories Showcase
.showcase.stories {
  .img {
    display: flex;
    height: auto;
    min-height: 200px;
    padding: 15px 15px;
    h2 {
      display: inline-block;
      width: 100%;
      max-width: 400px;
      margin: auto auto 0;
      padding: 5px 10px;

      background-color: #1c9d95;
      color: #fff;

      text-transform: uppercase;
      text-align: center;
    }
  }
}

//PARTNERS
.partners-section {
  padding-top: 0;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 4%;
  margin-top: -3%;

  .partners-desc {
    font-size: 21px;
    width: 30%;
    display: inline-block;
  }
}
.partners-section .img-bg {
  padding:20px 18px;
  font-size:12px;

  img {
    max-width: 40px
  }
}
.patners-logo img {
  margin: 10px 20px;
  max-width: 150px;
  max-height: 70px;
}
