/*
 * HURUmap Land SCSS
 * -----------------
 * Customizations for HURUmap Land site
 *
 */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

// Heading font
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3em;
}

// Re-usable classes

// Fonts
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.font-weight-bold {
  font-weight: 700;
}

// Rounded radius
.rounded {
  border-radius: 99999px;
}

// Images with backgrounds
span.img-bg {
  display: inline-block;
  padding: 24px;
}


// Footer

#page-footer img {
  max-width: 200px;
}

// Homepage

// How it works
.how-it-works {
  img {
    max-width: 50px;
  }
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    z-index: -1;
}

.bg-color-gradient {
  background-image: linear-gradient(to right, #0e4b49, #16635f, #269a92);
  color: white;
}

.showcase-story {
  text-align: center;
   a {
    text-decoration: none;
    border-radius: 24px;
    padding: .6rem 1.25rem;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    font-weight: bold;
    border: 0px;
  }
  hr {
    border-color: #aed4df;
  }
}

.showcase-story-title {
  padding: 3px 8px;
  color: white;
  background-color: #279c94;
  max-width: 50%;
  display: inline-block;
}

// Stories Showcase
.showcase.stories {
  .img {
    display: flex;
    height: auto;
    min-height: 200px;
    padding: 15px 15px;
    h2 {
      display: inline-block;
      width: 100%;
      max-width: 400px;
      margin: auto auto 0;
      padding: 5px 10px;

      background-color: #1c9d95;
      color: #fff;

      text-transform: uppercase;
      text-align: center;
    }
  }
}
