/*
 * HURUmap Land SCSS
 * -----------------
 * Customizations for HURUmap Land site
 *
 */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$brand-color-primary: #0e4a48;
$brand-color-light-green: #b6d9e2;
$brand-color-solid-light-green: #269c94;
$brand-color-solid-green: #279c94;
$brand-color-gray: #b1b1b1;
$font-raleway: 'Raleway', sans-serif;

// Heading font
h1 {
  font-family: $font-raleway;
  font-weight: 700;
  font-size: 3em;
}

// Re-usable classes

// Colors

.text-white {
  color: #fff;
}

.bg-color-white, .bg-white {
  background-color: #fff;
}
.bg-color-gradient, .bg-gradient {
  background-image: linear-gradient(to right, #0e4b49, #16635f, #269a92);
}
.bg-color-green, .bg-green {
  background-color: $brand-color-solid-green;
}

// Fonts
.font-raleway {
  font-family: $font-raleway;
}
.font-weight-bold {
  font-weight: 700;
}
.text-primary {
  color: $brand-color-primary
}
.text-white {
  color: white;
}

.bg-color-gradient {
  background-image: linear-gradient(to right, #0e4b49, #16635f, #269a92);
}

// Colors
.bg-color-gradient {
  background-image: linear-gradient(to right, #0e4b49, #16635f, #269a92) !important;
}
.bg-color-solid-green {
  background-color: $brand-color-solid-green;
}

// Text
.text-white {
    color: white;
}
.text-primary {
  color: #084a49;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

// Rounded radius
.rounded {
  border-radius: 99999px;
}

// Images with backgrounds
span.img-bg {
  display: inline-block;
  padding: 24px;
  font-size:12px;
}

.text-uppercase {
  text-transform: uppercase!important;
}

// Section containers
.section-container {
  background-color: #fff;
  border-top: 2px solid #a5d0dc;
  .wrapper {
    top: -60px;
    position: relative;
    padding: 15px 30px 0px;
    max-width: 1024px;
    margin: 0 auto;
  }
}
.section-title-icon {
  font-size:12px;
  display: flex;
  justify-content: center;
  span {
    height: 110px;
    width: 110px;
    padding: 20px 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    margin-bottom: 5px;
    max-width: 30px;
  }
  a {
    text-decoration: none;
  }
}


// Global Components

// Footer
#page-footer {
  padding: 60px 0 55px;
  img {
    max-width: 200px;
  }
}

// Pages

// Homepage

// Map Explainer; floating box
.map-explainer-wrapper {
  position: absolute;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 27em;
}
.map-explainer {
  display: inline-block;
  border-radius: 2px;
  width: 450px;
  max-width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 20px 30px 30px;
  text-align: center;
  color: rgb(8, 74, 73);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.23);

  .cross {
    float: right;
    margin-top: -12px;
    margin-right: -20px;
    color: $brand-color-gray;
  }

  hr {
    border-color: $brand-color-light-green;
    margin: 0;
  }

  a {
    border-radius: 24px;
    padding: 5px 15px 7px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    border: 0px;
    background-color: $brand-color-solid-light-green;
  }
}

// Nav
.home-nav img {
  max-width: 30px;
}

.home-nav ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding-left: 15%;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-top: -3%;
  z-index: 1;
  position: relative;

  li {
    float: left;
    padding: 0 6%;
    a {
      display: block;
      padding-left: 20px;
      font-size: 12px;

      span {
        background-color: $brand-color-solid-green;
        line-height: 2;
        &.active {
          background-image: linear-gradient(to right, #0e4b49, #16635f, #269a92);
        }
        &:hover {
          background-image: linear-gradient(to right, #0e4b49, #16635f, #269a92);
        }
      }
    }
  }
}

// How It Works
.how-it-works {
  img {
    max-width: 50px;
  }
}

// Stories
.showcase-stories {
  hr {
    border-color: #aed4df;
    border-top-width: 2px;
    margin: 2em 0;
  }

  a {
    text-decoration: none;
  }
  .showcase-story {
    position: relative;
    text-decoration: none;

    padding: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 250px;

    display: flex;
    flex-direction: column;

    h2 {
      margin: auto auto 10px;
      max-width: 300px;
      color: #fff;
      padding: 10px;
      font-family: $font-raleway;
      font-weight: 700;
    }

    button {
      border-radius: 24px;
      padding: .6rem 1.25rem;
      max-width: 140px;
      margin: 0 auto;
      text-overflow: ellipsis;
      font-size: 13px;
      font-weight: bold;
      border: 0px;
      font-family: $font-raleway;
    }
  
  }
}

// Partners
.showcase-partners .logos {
  a { text-decoration: none; }
  img {
    margin: 10px 20px;
    max-width: 150px;
    max-height: 70px;
  }
}
