/*
 * HURUmap Land SCSS
 * -----------------
 * Customizations for HURUmap Land site
 *
 */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$brand-color-primary: #0e4a48;

// Heading font
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3em;
}

// Re-usable classes

// Fonts
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.font-weight-bold {
  font-weight: 700;
}
.text-primary {
  color: $brand-color-primary
}
.text-white {
  color: white;
}

.bg-color-gradient {
  background-image: linear-gradient(to right, #0e4b49, #16635f, #269a92);
}

// Rounded radius
.rounded {
  border-radius: 99999px;
}

// Images with backgrounds
span.img-bg {
  display: inline-block;
  padding: 24px;
  font-size:12px;
}

.text-uppercase {
  text-transform: uppercase!important;
}

.section-container {
  background-color: #fff;
  border-top: 1px solid #aed4df
}

// Footer

#page-footer img {
  max-width: 200px;
}

// Homepage

// How it works
.how-it-works {
  img {
    max-width: 50px;
  }
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  &:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); /* Chrome 19+ & Safari 6+ */
  }
}

//PARTNERS
.partners-section {
  top: -24%;
  position: relative;
  padding: 4% 6%;
}
.partners-section .img-bg {
  padding:20px 18px;

  img {
    max-width: 40px
  }
}

//PARTNERS
.partners-section {
  padding-top: 0;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 4%;
  margin-top: -3%;

  .partners-desc {
    font-size: 21px;
    width: 30%;
    display: inline-block;
  }
}
.partners-section .img-bg {
  padding:20px 18px;
  font-size:12px;

  img {
    max-width: 40px
  }
}
.patners-logo img {
  margin: 10px 20px;
  max-width: 150px;
  max-height: 70px;
}
