<!-- index.html-->

{% extends "careerguidebase.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <main role="main" class="container">
    <section class="starter-template">
      <div class="container">
        <form action="/careerguide/" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <p class="jumbotron-heading"> I am a {{ form.gender }}, currently in {{ form.education_level }} from {{ form.region }} and <br/> <br />I would like to be a {{ form.career }} </p>
          <input type="submit" value="Submit" />
        </form>
        <!-- <p class="lead"> Dar-es-salaam</p> -->
          <!-- <a href="/stations" class="btn btn-primary">Find Other Stations</a> -->
          <!-- <a href="#" class="btn btn-secondary">Secondary action</a> -->
      </div>
    </section>
    {% if schools %}
      <section class=text-center>
        <div class="container">
          <h4>List of schools doing well in {{ school_level }} subjects aligning to your career</h4>
          <table>
            <tr>
              <th>School Name</th>
              <th>Region</th>
              <th>Subject</th>
              <th>Subject National Ranking</th>
              <th>Subject Regional Ranking</th>
              <th></th>
            </tr>
            {% for school in schools %}
              <tr>
                <td>{{ school.schoolname }}</td>
                <td>{{ school.region }}</td>
                <td>{{ school.subjectname }}</td>
                <td>{{ school.subjectnatranking }}</td>
                <td>{{ school.subjectregranking }}</td>
                <td><a href="/careerguide/school/{{ school.schoolcode }}">More</a></td>
              </tr>
            {% endfor %}
        </table>
      </div>
      </section>
    {% endif %}
  </main>

{% endblock %}
