{% extends 'profile/profile_detail.html' %}

{% block header %}
<style>
    #page-footer, #page-header {
        background: #204d8a;
    }
</style>
<header id="page-header">
    <div id="page-header-title" class="wrapper clearfix">
        <i id="menu-toggle" class="fa fa-bars"></i>
        <a class="title" href="{% url 'homepage' %}">
            <span style="font-size: 20px;font-weight: bolder;">League</span><br />
            <span style="font-size: 18px;font-weight: bold; margin-left: 20px;">Table</span>
        </a>

        <div class="nav-menu">
            <ul id="site-menu">
                {% block header_menu %}
                    <li><a href="/schools">Schools</a></li>
                    <li><a href="/about">About</a></li>
                {% endblock header_menu %}
            </ul>

            {% if not hide_nav_tools %}
                {% block nav_tools %}
                <div id="menu" class="tool-set clearfix">
                    <div class="tool-group">
                        <input name="geography_select" id="geography-select" type="text" placeholder="Search Place" autocomplete="off">
                    </div>
                    {% if not hide_nav_compare %}
                    {% comment %}
                    <span class="separator">or</span>
                    <div class="tool-group">
                        <a class="button" href="{% url 'table_search' %}">
                            <i class="fa fa-chevron-circle-right"></i>
                            Search for data
                        </a>
                    </div>
                    {% endcomment %}
                    {% endif %}
                </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>
</header>
{% block header_content %}
<div id="cover-map" class="clearfix">
    <div id="slippy-map"></div>
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header id="header-box" class="column-full">
                <h1 class="title">{{ geography.this.short_name }}</h1>
                <p class="caption">
                  {{ geography.this.geo_level|capfirst }}
                  {% if geography.parents %}
                      in
                      {% for level, g in geography.parents.items %}
                        <a href="/profiles/{{ g.full_geoid }}-{{ g.short_name|slugify }}/">{{ g.short_name }}</a>{% if not forloop.last %},{%endif%}
                      {% endfor %}
                  {% endif %}
                </p>
            </header>

            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        {% block profile_header_population %}
                        <span class="value">{{ schools.top_schools|length }}</span>
                        <span class="name">Total Secondary Schools</span>
                        {% endblock %}
                    </span>
                </div>
            </div>

            {% if geography.this.show_extra_links %}
                {% include "profile/_blocks/_header_extra_links.html" %}
            {% endif %}
        </article>
    </div>
</div>
{% endblock %}

<div class="content-container wrapper clearfix" style="overflow:auto;">
    <div class="holder" style="margin-bottom: 0px;">
        <div class="" style="width: 100%;">
            <center><h2>10 Top Schools in {{ geography.this.short_name }}</h2></center>
            <br />
            <table style="width: 100%; margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th style="text-align:left;">No</th>
                        <th style="text-align:left;">Name</th>
                        <th>Pass Rate</th>
                        <th>National Rank</th>
                        <th>Regional Rank</th>
                        <th style="text-align: right;">Stats</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools.top_schools|slice:":10" %}
                        <tr>
                            <td style="text-align:left;">{{ forloop.counter }}</td>
                            <td>{{ school.name }}</td>
                            <td style="text-align:center;">{{ school.pass_rate }}</td>
                            <td style="text-align:center;">{{ school.national_rank_all }}</td>
                            <td style="text-align:center;">{{ school.regional_rank_all }}</td>
                            <td style="text-align: right;"><a href="/schools/{{ school.code }}"><i class="fa fa-bar-chart"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br />
            <hr />
            <br />

            <center><h2>10 Lowest Schools in {{ geography.this.short_name }}</h2></center>
            <br />
            <table style="width: 100%; margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th style="text-align:left;">No</th>
                        <th style="text-align:left;">Name</th>
                        <th>Pass Rate</th>
                        <th>National Rank</th>
                        <th>Regional Rank</th>
                        <th style="text-align: right;">Stats</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools.lowest_schools|slice:":10" %}
                        <tr>
                            <td style="text-align:left;">{{ forloop.counter }}</td>
                            <td>{{ school.name }}</td>
                            <td style="text-align:center;">{{ school.pass_rate }}</td>
                            <td style="text-align:center;">{{ school.national_rank_all }}</td>
                            <td style="text-align:center;">{{ school.regional_rank_all }}</td>
                            <td style="text-align: right;"><a href="/schools/{{ school.code }}"><i class="fa fa-bar-chart"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br />
            <hr />
            <br />
        </div>
    </div>
</div>
{% endblock %}

{% block profile_detail %}
<article id="schools" class="clearfix">
    <header class="section-contents">
        <h1> Ownership</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <br />
            <div class="column-two-thirds" id="chart-bar-schools-schools_distribution" data-stat-type="scaled-percentage"
                data-chart-title="Schools by ownership status" data-qualifier="Universe: {{ schools_distribution.metadata.universe }}"></div>
        </section>
    </div>
</article>

<article id="schools" class="clearfix" style="overflow:auto;">
    <header class="section-contents">
        <h1> Regions</h1>
    </header>
    <div class="section-container" style="overflow:auto;">
        <section class="clearfix stat-row">
            <br />
            <div class="column-full" id="chart-column-schools-region_distribution" data-stat-type="scaled-percentage"
                data-chart-title="Schools by region status" data-qualifier="Universe: {{ region_distribution.metadata.universe }}"></div>
        </section>
    </div>
</article>

<article id="schools" class="clearfix">
        <header class="section-contents">
            <h1> Averege GPA</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2 class="header-for-columns"><a class="permalink" href="#age" id="age">GPA <i class="fa fa-link"></i></a></h2>
                <div class="column-quarter">
                    {% include 'profile/_blocks/_stat_list.html' with stat=schools.median_gpa stat_type='number' %}
                </div>
                <div class="column-half">
                    <div id="chart-histogram-schools-gpa_group_distribution" data-stat-type="scaled-percentage" data-chart-title="Average gpa range"></div>
                </div>
            </section>
        </div>
    </article>
{% endblock %}

{% block footer_content %}
{% include 'footer.html' %}
{% endblock footer_content %}