{% extends 'profile/profile_detail.html' %}
{% load staticfiles %}

{% block header %}
<style>
    #page-footer, #page-header {
        background: #204d8a;
    }
</style>
<style type="text/css">
	.TFtable{
		width:100%; 
		border-collapse:collapse; 
	}

    .TFtable thead th{
        background: #204d8a;
        padding:10px;
        color: #fff;
    }

	.TFtable td{ 
		padding:7px; border:#4e95f4 0px solid;
	}
	/* provide some minimal visual accomodation for IE8 and below */
	.TFtable tr{
		background: #b8d1f3;
	}
	/*  Define the background color for all the ODD background rows  */
	.TFtable tr:nth-child(odd){ 
		background: #b8d1f3;
	}
	/*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even){
		background: #dae5f4;
	}

    .lt_button {
        background-color: #01200f; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>
<header id="page-header">
    <div id="page-header-title" class="wrapper clearfix">
        <i id="menu-toggle" class="fa fa-bars"></i>
        <a class="title" href="{% url 'homepage' %}">
            <img src="{% static 'img/logos/books.png' %}" style="height: 44px; float: left;"/>
            <span style="font-size: 25px;font-weight: bolder; margin-left:10px; line-height: 50px;">League Table</span><br />
        </a>

        <div class="nav-menu">
            <ul id="site-menu">
                {% block header_menu %}
                    <li><a href="/schools">Full League</a></li>
                    <li><a href="/about">About</a></li>
                {% endblock header_menu %}
            </ul>

            {% if not hide_nav_tools %}
                {% block nav_tools %}
                <div id="menu" class="tool-set clearfix">
                    <div class="tool-group">
                        <input name="geography_select" id="geography-select" type="text" placeholder="Search for a place or school" autocomplete="off">
                    </div>
                    {% if not hide_nav_compare %}
                    {% comment %}
                    <span class="separator">or</span>
                    <div class="tool-group">
                        <a class="button" href="{% url 'table_search' %}">
                            <i class="fa fa-chevron-circle-right"></i>
                            Search for data
                        </a>
                    </div>
                    {% endcomment %}
                    {% endif %}
                </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>
</header>
{% block header_content %}
<div id="cover-map" class="clearfix">
    <div id="slippy-map"></div>
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header id="header-box" class="column-full">
                <h1 class="title">{{ geography.this.short_name }}</h1>
                <p class="caption">
                  {{ geography.this.geo_level|capfirst }}
                  {% if geography.parents %}
                      in
                      {% for level, g in geography.parents.items %}
                        <a href="/profiles/{{ g.full_geoid }}-{{ g.short_name|slugify }}/">{{ g.short_name }}</a>{% if not forloop.last %},{%endif%}
                      {% endfor %}
                  {% endif %}
                </p>
            </header>

            <div class="column-full">
                <div class="stat">
                    <span class="primary pull-left">
                        {% block profile_header_population %}
                        <span class="value">{{ schools.top_schools|length }}</span>
                        <span class="name">Total Secondary Schools</span>
                        {% endblock %}
                    </span>

                    <a href="javascript:;" class="pull-right" onclick="javascript: embedMap('{{ geography.this.geo_level }}', '{{geography.this.geo_code}}', '{{geography.this.short_name}}');">Embed Map</a>
                </div>
            </div>

            {% if geography.this.show_extra_links %}
                {% include "profile/_blocks/_header_extra_links.html" %}
            {% endif %}
        </article>
    </div>
</div>
{% endblock %}

<div class="content-container wrapper clearfix" style="overflow:auto;">
    <div class="holder" style="width: 100%; margin-bottom: 0px;">
        <div class="" style="width: 49%; margin-bottom: 0px; float: left;">
            <h2><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;10 Best Schools in {{ geography.this.short_name }}</h2>
            <br />
            <table class="TFtable" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align:left;  min-width: 5px;">No</th>
                        <th style="text-align:left;">Name</th>
                        <th style="min-width: 10px;">Pass Rate</th>
                        <th>National Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools.top_schools|slice:":10" %}
                        <tr>
                            <td style="text-align:left; min-width: 5px;">{{ forloop.counter }}</td>
                            <td><a href="/schools/{{ school.code }}">{{ school.name }}</a></a></td>
                            <td style="text-align:center;">{{ school.pass_rate }}</td>
                            <td style="text-align:center;">{{ school.national_rank_all }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div style="width: 49%; margin-bottom: 0px; float: right;">
            <h2><i class="fa fa-arrow-down"></i>&nbsp;&nbsp;10 Worst Schools in {{ geography.this.short_name }}</h2>
            <br />
            <table class="TFtable" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align:left;min-width: 5px;">No</th>
                        <th style="text-align:left;">Name</th>
                        <th style="min-width: 10px;">Pass Rate</th>
                        <th>National Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools.lowest_schools|slice:":10" %}
                        <tr>
                            <td style="text-align:left;min-width: 5px;">{{ forloop.counter }}</td>
                            <td><a href="/schools/{{ school.code }}">{{ school.name }}</a></a></td>
                            <td style="text-align:center;">{{ school.pass_rate }}</td>
                            <td style="text-align:center;">{{ school.national_rank_all }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <center>
        <button type="button" class="lt_button" onclick="javascript: embedTable('{{ geography.this.geo_level }}', '{{geography.this.geo_code}}');">Embed League Table</button>
    </center>
</div>
{% endblock %}

{% block profile_detail %}
<article id="schools" class="clearfix">
    <header class="section-contents">
        <h1> Ownership</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <br />
            <div class="column-two-thirds" id="chart-bar-schools-schools_distribution" data-stat-type="scaled-percentage"
                data-chart-title="Schools by ownership status" data-qualifier="Universe: {{ schools_distribution.metadata.universe }}"></div>
        </section>
    </div>
</article>

<article id="schools" class="clearfix" style="overflow:auto;">
    <header class="section-contents">
        <h1> Regions</h1>
    </header>
    <div class="section-container" style="overflow:auto;">
        <section class="clearfix stat-row">
            <br />
            <div class="column-full" id="chart-column-schools-region_distribution" data-stat-type="scaled-percentage"
                data-chart-title="Schools by region status" data-qualifier="Universe: {{ region_distribution.metadata.universe }}"></div>
        </section>
    </div>
</article>

<article id="schools" class="clearfix">
    <header class="section-contents">
        <h1> Averege GPA</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#age" id="age">GPA <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=schools.median_gpa stat_type='number' %}
            </div>
            <div class="column-half">
                <div id="chart-histogram-schools-gpa_group_distribution" data-stat-type="scaled-percentage" data-chart-title="Average gpa range"></div>
            </div>
        </section>
    </div>
</article>
{% endblock %}

{% block footer_content %}
{% include 'footer.html' %}
{% endblock footer_content %}