{% extends 'profile/profile_detail.html' %} {% load humanize lookup staticfiles %}


{% block header_content %}
    <div class="floating-nav-wrapper" id="sticky-nav">
        <nav class="floating-nav affix-top" data-spy="affix" data-offset-top="197">
            <div class="wrapper clearfix">
                <div class="geography-ico">
                    <span><img
                        src="{% static 'img/icons/favicon.ico' %}">{{ geography.this.name }}
                    </span>
                </div>
                <ul>
                    <li><a href="#elections"><i class="fa fa-check"></i>
                        <span>Elections</span></a></li>
                    <li><a href="#demographics"><i class="fa fa-user"></i>
                        <span>Demographics</span></a></li>
                    <li><a href="#households"><i class="fa fa-home"></i>
                        <span>Households</span></a></li>
                    <li><a href="#employment"><i
                            class="fa fa-briefcase"></i>
                        <span>Employment</span></a></li>
                    <li><a href="#crime_report"><i class="fa fa-shield"></i>
                        <span>Crime Reports</span></a></li>
                    <li><a href="#education"><i
                            class="fa fa-graduation-cap"></i>
                        <span>Education</span></a>
                    </li>
                    <li><a href="#health"><i class="fa fa-medkit"></i>
                        <span>Health</span></a></li>
                    <li><a href="#nutrition"><i class="fa fa-cutlery"></i>
                        <span>Nutrition</span></a></li>
                </ul>
            </div>
        </nav>
    </div>

    {{ block.super }}
{% endblock %}
{% block profile_header_tail %}
    <div class="column-full">
        <p class="caption"><strong>Census data:</strong> 2009</p>
    </div>
{% endblock %} {% block profile_detail %}


    <article id="demographics"
             class="clearfix {% if 'demographics' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
            <h1>Demographics</h1>
        </header>
        <div class="section-container">

            <section class="clearfix stat-row">
                <h2 class="header-for-columns"><a class="permalink"
                                                  href="#pop_count"
                                                  id="pop_count">Population <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-quarter">
                    {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
                </div>
                <div class="column-quarter"
                     id="chart-pie-demographics-sex_ratio"
                     data-stat-type="percentage" data-chart-title="Sex"></div>
                <div class="column-quarter">
                    {% include 'profile/_blocks/_stat_list.html' with stat=demographics.urbanised stat_type='percentage' %}
                </div>
                <div class="column-quarter"
                     id="chart-grouped_column-demographics-urban_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Urban vs rural by sex"></div>
            </section>
            <section class="clearfix stat-row">
                <h2 class="header-for-columns"><a class="permalink" href="#age"
                                                  id="age">Age <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-quarter">
                    {% include 'profile/_blocks/_stat_list.html' with stat=demographics.median_age stat_type='number' %}
                </div>
                <div class="column-half">
                    <div id="chart-histogram-demographics-age_group_distribution"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Population by age range"></div>
                </div>
                <div class="column-quarter"
                     id="chart-pie-demographics-age_category_distribution"
                     data-stat-type="percentage"
                     data-chart-title="Population by age category"></div>
            </section>
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#religion" id="religions">Religion
                    Distribution <i class="fa fa-link"></i></a></h2>
                <div class="column-half"
                     id="chart-pie-demographics-religion_ratio"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Main Religions"></div>
            </section>

        </div>
    </article>

    <div id="education_group">
        <article id="education"
                 class="clearfix {% if 'education' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1> Education</h1>
            </header>
            <div class="section-container">

                <section class="clearfix stat-row">
                    <h2><a class="permalink"
                           href="#highest-education-level-reached"
                           id="highest-education-level-reached">Educational
                        level <i
                                class="fa fa-link"></i></a></h2>
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=education.education_reached_secondary_or_higher stat_type='percentage' %}
                    </div>
                    <div class="column-two-thirds"
                         id="chart-histogram-education-education_reached_distribution"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Population by highest education level reached"
                         data-qualifier="Universe: {{ education.education_reached_distribution.metadata.universe }}"></div>
                </section>
                <section class="clearfix stat-row">
                    <h2><a class="permalink" href="#school-attendance"
                           id="school-attendance">School attendance <i
                            class="fa fa-link"></i></a></h2>
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=education.school_attendance_never stat_type='percentage' %}
                    </div>
                    <div class="column-two-thirds"
                         id="chart-grouped_column-education-school_attendance_distribution"
                         data-stat-type="scaled-percentage"
                         data-chart-title="School attendance by sex"
                         data-qualifier="Universe: {{ education.school_attendance_distribution.metadata.universe }}"></div>
                </section>

            </div>
        </article>
    </div>

    <article id="employment"
             class="clearfix {% if 'employment' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
            <h1> Employment</h1>
        </header>
        <div class="section-container">

            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#employment">Employment <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=employment.employed stat_type='percentage' %}
                </div>
                <div class="column-two-thirds"
                     id="chart-grouped_column-employment-activity_status_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Population by employment status"
                     data-qualifier="Universe: {{ employment.activity_status_distribution.metadata.universe }}"></div>
            </section>

        </div>
    </article>

    <article id="households"
             class="clearfix {% if 'households' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
            <h1>Households</h1>
        </header>
        <div class="section-container">

            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#households">Households <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=households.total_households stat_type='number' %}
                </div>
            </section>
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#households-water"
                       id="households-water">Main source of water <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=households.piped_water stat_type='percentage' %}
                </div>
                <div class="column-two-thirds"
                     id="chart-histogram-households-water_source_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Households by main source of water"></div>
            </section>
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#households-lighting"
                       id="households-lighting">Main source of lighting <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=households.lighting_electricity stat_type='percentage' %}
                </div>
                <div class="column-two-thirds"
                     id="chart-histogram-households-lighting_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Households by main type of lighting fuel"></div>
            </section>
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#households-waste"
                       id="households-waste">Main mode of human waste disposal
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=households.sewer_or_septic stat_type='percentage' %}
                </div>
                <div class="column-two-thirds"
                     id="chart-histogram-households-waste_disposal_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Households by main mode of human waste disposal"></div>
            </section>
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#households-materials"
                       id="households-materials">Household construction
                    materials <i class="fa fa-link"></i></a></h2>
                <div class="column-third"
                     id="chart-pie-households-roofing_material_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Households by main type of roofing material"></div>
                <div class="column-third"
                     id="chart-pie-households-floor_material_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Households by main type of floor material"></div>
                <div class="column-third"
                     id="chart-pie-households-wall_material_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Households by main type of wall material"></div>
            </section>
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#households-heads"
                       id="households-heads">Household Heads <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-half"
                     id="chart-histogram-households-household_heads"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Non-Male Headed Households"></div>
            </section>

        </div>
    </article>

    <div id="elections">
        <article id="voter_registration_2015"
                 class="clearfix {% if 'voter_registration_2015' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Voter Registration 2015</h1>
            </header>
            <div class="section-container">
                <section class="clearfix stat-row">
                    <div class="permalink">
                        {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2015.total stat_type='number' %}
                    </div>
                    <div class="column-golden-narrow"
                         id="chart-pie-voter_registration_2015-registration"
                         data-stat-type="percentage"
                         data-chart-title="Registered voters as at March 2015 and as at October 2015"></div>
                    <div class="column-golden-narrow"
                         id="chart-pie-voter_registration_2015-registration_ratio"
                         data-stat-type="percentage"
                         data-chart-title="Potential voters with IDs not registered as at December 2015"></div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2015.ids_issued stat_type='number' %}
                        <small>Source: <a
                                href="http://www.iebc.or.ke/docs/MVR-Baseline-Data.html">IEBC</a>
                        </small>
                    </div>
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2015.dead_with_ids stat_type='number' %}
                    </div>
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2015.reg_centers stat_type='number' %}
                    </div>
                </section>
            </div>
        </article>

        <article id="voter_registration_2017"
                 class="clearfix {% if 'voter_registration_2017' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Voter Registration 2017 </h1>

            </header>
            <div class="section-container">
                <section class="clearfix stat-row">
                    <div class="permalink">
                        {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.total stat_type='number' %}
                    </div>

                    <div class="column-third"
                         id="chart-pie-voter_registration_2017-gender_ratio"
                         data-stat-type="percentage"
                         data-chart-title="Registered voters gender ratio"></div>
                    <div class="column-third"
                         id="chart-pie-voter_registration_2017-registration"
                         data-stat-type="percentage"
                         data-chart-title="Registered voters as at March 2015 and as at December 2016"></div>
                    <div class="column-third"
                         id="chart-pie-voter_registration_2017-registration_ratio"
                         data-stat-type="percentage"
                         data-chart-title="Potential voters with IDs not registered as at December 2016"></div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.ids_issued stat_type='number' %}
                        <small>Source: <a
                                href="https://www.iebc.or.ke/iebcreports/">IEBC</a>
                        </small>
                    </div>
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.actual_dead_with_ids stat_type='number' %}
                    </div>
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.reg_centers stat_type='number' %}
                    </div>
                </section>


                <section class="clearfix stat-row">
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.polling_stations stat_type='number' %}
                    </div>
                </section>
                {% comment %} <section class="clearfix stat-row">
        </section> {% endcomment %}
            </div>
        </article>
    </div>

    <div id="health">
        <article id="contraceptive_use"
                 class="clearfix {% if 'contraceptive_use' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Use of contraceptives</h1>
            </header>
            <div class="section-container">

                <section class="clearfix stat-row">
                    <small>The contraceptive prevalence rate (CPR) is usually
                        defined as the percentage of currently married women who
                        are
                        currently using a method of contraception.
                    </small>
                    <br>
                    <small>If more than one method is used, only the most
                        effective
                        method is considered in this tabulation.
                    </small>
                    <br>
                    <small>LAM = Lactational amenorrhoea method</small>
                    <br>
                    <small>Source: <a
                            href="http://www.knbs.or.ke/index.php?option=com_content&view=article&id=308:2014-kenya-demographic-and-health-survey-2014-kdhs&catid=82:news&Itemid=593">KNBS
                        Demographic and Health Survey Report 2014</a></small>
                </section>
                <section class="clearfix stat-row">
                    <h2>Percent distribution of currently married women age
                        15-49 by
                        contraceptive method</h2>
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=contraceptive_use.cpr stat_type='percentage' %}
                    </div>
                    <div class="column-two-thirds"
                         id="chart-histogram-contraceptive_use-modern_methods_distribution"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Modern methods of contraception used"></div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-third"
                         id="chart-pie-contraceptive_use-contraceptive_use_distribution"
                         data-stat-type="percentage"
                         data-chart-title="Method of contraception"></div>
                    <div class="column-two-thirds"
                         id="chart-histogram-contraceptive_use-traditional_methods_distribution"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Traditional methods of contraception used"></div>
                </section>

            </div>
        </article>

        <article id="maternal_care_indicators"
                 class="clearfix {% if 'maternal_care_indicators' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Maternal care indicators</h1>
            </header>
            <div class="section-container">
                <section class="clearfix stat-row">
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=maternal_care_indicators.delivery_in_health_facility stat_type='percentage' %}
                    </div>
                </section>

                <section class="clearfix stat-row">
                    <div class="column-third"
                         id="chart-pie-maternal_care_indicators-antenatal_dist"
                         data-stat-type="percentage"
                         data-chart-title="Antenatal care"></div>
                    <div class="column-third"
                         id="chart-pie-maternal_care_indicators-anc_visits_dist"
                         data-stat-type="percentage"
                         data-chart-title="ANC visits"></div>
                    <div class="column-third"
                         id="chart-pie-maternal_care_indicators-delivery_by_skilled_provider_dist"
                         data-stat-type="percentage"
                         data-chart-title="Child Delivery"></div>
                </section>

                <section class="clearfix stat-row">
                    <h3>Intermittent Preventive Treatment of pregnant women</h3>
                    <small>The Government of Kenya’s policy advocates for
                        pregnant
                        women in malaria endemic areas to receive two doses of
                        intermittent preventive treatment (IPT) in the second
                        and
                        third trimesters in order to reduce the risk of malaria
                        infection. To assess the coverage of this policy, women
                        who
                        had a live birth in the two years before the survey were
                        asked if they had received treatment to prevent malaria
                        during their pregnancy
                    </small>
                </section>

                <section class="clearfix stat-row">
                    <div class="column-third"
                         id="chart-pie-maternal_care_indicators-one_or_more_dist"
                         data-stat-type="percentage"
                         data-chart-title="1 or more doses of SP/Fansidar"></div>
                    <div class="column-third"
                         id="chart-pie-maternal_care_indicators-two_or_more_dist"
                         data-stat-type="percentage"
                         data-chart-title="2 or more doses of SP/Fansidar"></div>
                    <div class="column-third"
                         id="chart-pie-maternal_care_indicators-three_or_more_dist"
                         data-stat-type="percentage"
                         data-chart-title="3 or more doses of SP/Fansidar"></div>
                </section>

            </div>
        </article>

        <article id="knowledge_of_hiv_prevention_methods"
                 class="clearfix {% if 'knowledge_of_hiv_prevention_methods' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Knowledge of HIV prevention</h1>
            </header>
            <div class="section-container">

                <section class="clearfix stat-row">
                    <small>Percentage of women and men age 15-49 who, in
                        response to
                        prompted questions, say that people can reduce the risk
                        of
                        getting HIV by using condoms every time they have sexual
                        intercourse and by having one sex partner who is not
                        infected and has no other partners
                    </small>
                </section>
                <section class="clearfix stat-row">
                    <div id="chart-grouped_column-knowledge_of_hiv_prevention_methods-distribution"
                         data-stat-type="scaled-percentage"
                         data-chart-title=""></div>
                </section>

            </div>
        </article>

        <article id="itn"
                 class="clearfix {% if 'itn' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Mosquito nets</h1>
            </header>
            <div class="section-container">

                <section class="clearfix stat-row">
                    <small>One of the strongest weapons in the fight against
                        malaria
                        is the use of insecticide-treated nets (ITNs) while
                        sleeping. In the 2014 KDHS, data were collected from
                        households on ownership and number of mosquito nets
                        owned.
                        Respondents were also asked to indicate particular
                        household
                        members who had slept under each net the night prior to
                        the
                        interview.
                    </small>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=itn.average_itn_per_household stat_type='number' %}
                    </div>
                    <div class="column-third"
                         id="chart-pie-itn-households_with_at_least_one_itn"
                         data-stat-type="percentage"
                         data-chart-title="Households that possess at least one insecticide-treated nets (ITNs)"></div>
                    <div class="column-third"
                         id="chart-pie-itn-percentage_households_with_ITN_for_every_two_people"
                         data-stat-type="percentage"
                         data-chart-title="Households that possess an insecticide-treated nets (ITNs) for every 2 people"></div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-two-thirds"
                         id="chart-grouped_column-itn-all_households_use_dist"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Use of nets by children under age five and pregnant women in all households"></div>
                    <div class="column-third"
                         id="chart-grouped_column-itn-households_with_at_least_one_itn_use_dist"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Use of nets by children under age five and pregnant women in all households with at least one insecticide-treated nets (ITNs)"></div>
                </section>

            </div>
        </article>

        <article id="fertility"
                 class="clearfix {% if 'fertility' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Fertility</h1>
            </header>
            <div class="section-container">

                <section class="clearfix stat-row">
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=fertility.fertility_rate stat_type='number' %}
                    </div>
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=fertility.mean_number_of_children_ever_born_to_women_aged_40_49 stat_type='number' %}
                    </div>
                    <div class="column-third"
                         id="chart-pie-fertility-percentage_women_age_15_49_currently_pregnant"
                         data-stat-type="percentage"
                         data-chart-title="Percentage women aged 15-49 who are currently pregnant"></div>
                </section>

            </div>
        </article>

        <article id="vaccinations"
                 class="clearfix {% if 'vaccinations' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Vaccinations</h1>
            </header>
            <div class="section-container">
                <section class="clearfix stat-row">
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=vaccinations.not_vaccinated stat_type='percentage' %}
                    </div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-third"
                         id="chart-pie-vaccinations-fully_vaccinated"
                         data-stat-type="percentage"
                         data-chart-title="Percentage children who are fully vaccinated"></div>
                    <div class="column-third"
                         id="chart-pie-vaccinations-all_basic_vaccinations"
                         data-stat-type="percentage"
                         data-chart-title="Percentage children who have received all basic vaccinations"></div>
                    <div class="column-third"
                         id="chart-pie-vaccinations-percentage_with_vaccination_cards"
                         data-stat-type="percentage"
                         data-chart-title="Percentage with vaccination cards"></div>
                </section>
                <section class="clearfix stat-row">
                    <div id="chart-column-vaccinations-distribution"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Percentage of children age 12-23 months who received specific vaccines"></div>
                </section>

            </div>
        </article>

        <article id="type_treatment"
                 class="clearfix {% if 'type_treatment' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Treatment of childhood illness</h1>
            </header>
            <div class="section-container">
                <section class="clearfix stat-row">
                    <small>Percentage of children under age five with fever in
                        the
                        two weeks preceding the survey; among children under age
                        five with fever, percentage for whom advice or treatment
                        was
                        sought, percentage who had blood taken from a finger or
                        heel, percentage who took any antimalarial, percentage
                        who
                        took any artemisinin-based combination therapy (ACT),
                        and
                        percentage who took any ACT the same or next day
                        following
                        the onset of fever; and among children under age five
                        with
                        fever who took any antimalarial drug, percentage who
                        took
                        any ACT
                    </small>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-third">
                        {% include 'profile/_blocks/_stat_list.html' with stat=type_treatment.children_with_fever stat_type='percentage' %}
                    </div>
                    <div class="column-two-thirds"
                         id="chart-column-type_treatment-treatment_of_chidren_with_fever_dist"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Type of treatment sought"></div>
                </section>

                <section class="clearfix stat-row">
                    <div class="column-third"
                         id="chart-pie-type_treatment-ari_dist"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Percentage of children with ARI who sought treatment from health facility or provider"></div>
                    <div class="column-third"
                         id="chart-pie-type_treatment-fever_dist"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Percentage of children with fever who sought treatment from health facility or provider"></div>
                    <div class="column-third"
                         id="chart-grouped_column-type_treatment-treatment_distribution"
                         data-stat-type="scaled-percentage"
                         data-chart-title="Among children under age five who had symptoms of acute respiratory infection (ARI) or had fever and diarrhoea and how they were treated."></div>
                </section>

            </div>
        </article>

        <article id="health_ratios"
                 class="clearfix {% if 'health_ratios' not in selected_sections %}hide{% endif %}">
            <header class="section-contents">
                <h1>Access to health services</h1>
            </header>
            <div class="section-container">
                <section class="clearfix stat-row">
                    <div class="column-half">
                        {% include 'profile/_blocks/_stat_list.html' with stat=healthratios.doctorratio stat_type='number' %}
                        <small>Source: <a
                                href="http://www.internationalbudget.org/wp-content/uploads/IBP-Budget-Brief-18B-Final.pdf">International
                            Budget Partnership</a></small>
                    </div>
                    <div class="column-half">
                        {% include 'profile/_blocks/_stat_list.html' with stat=healthratios.nurseratio stat_type='number' %}
                        <small>Source: <a
                                href="http://www.internationalbudget.org/wp-content/uploads/IBP-Budget-Brief-18B-Final.pdf">International
                            Budget Partnership</a></small>
                    </div>
                </section>
            </div>
        </article>
    </div>

    <article id="nutrition"
             class="clearfix {% if 'nutrition' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
            <h1>Nutritional status of children</h1>
        </header>
        <div class="section-container">
            <section>
                <small>Percentage of children under five years classified as
                    malnourished according to three anthropometric indices
                    of
                    nutritional status: height-for-age, weight-for- height,
                    and
                    weight-for-age.
                    The indices are expressed in standard deviation units
                    (SD)
                    from the median of the WHO Child Growth Standards
                    adopted in
                    2006.
                </small>
            </section>

            <section class="clearfix stat-row">
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=nutrition.height_for_age_mean_z_score stat_type='number' %}
                </div>
            </section>
            <section class="clearfix stat-row">
                <div class="column-half"
                     id="chart-pie-nutrition-height_for_age_below_minus_three_dist"
                     data-stat-type="percentage"
                     data-chart-title="Below -3 standard deviation(SD) units "></div>
                <div class="column-half"
                     id="chart-pie-nutrition-height_for_age_below_minus_two_dist"
                     data-stat-type="percentage"
                     data-chart-title="Below -2 standard deviation(SD) units "></div>
            </section>

            <section class="clearfix stat-row">
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=nutrition.weight_for_height_mean_z_score stat_type='number' %}
                </div>
            </section>
            <section class="clearfix stat-row">
                <div class="column-third"
                     id="chart-pie-nutrition-weight_for_height_below_minus_three_dist"
                     data-stat-type="percentage"
                     data-chart-title="Below -3 standard deviation(SD) units "></div>
                <div class="column-third"
                     id="chart-pie-nutrition-weight_for_height_below_minus_two_dist"
                     data-stat-type="percentage"
                     data-chart-title="Below -2 standard deviation(SD) units "></div>
                <div class="column-third"
                     id="chart-pie-nutrition-weight_for_height_above_plus_two_dist"
                     data-stat-type="percentage"
                     data-chart-title="Above +2 standard deviation(SD) units "></div>
            </section>

            <section class="clearfix stat-row">
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=nutrition.weight_for_age_mean_z_score stat_type='number' %}
                </div>
            </section>
            <section class="clearfix stat-row">
                <div class="column-third"
                     id="chart-pie-nutrition-weight_for_age_below_minus_three_dist"
                     data-stat-type="percentage"
                     data-chart-title="Below -3 standard deviation(SD) units "></div>
                <div class="column-third"
                     id="chart-pie-nutrition-weight_for_age_below_minus_two_dist"
                     data-stat-type="percentage"
                     data-chart-title="Below -2 standard deviation(SD) units "></div>
                <div class="column-third"
                     id="chart-pie-nutrition-weight_for_age_above_plus_two_dist"
                     data-stat-type="percentage"
                     data-chart-title="Above +2 standard deviation(SD) units "></div>
            </section>

        </div>
    </article>

    <article id="protests"
             class="clearfix {% if 'protests' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
            <h1>Protests</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=protests.number_of_protests stat_type='number' %}
                    <small>Source: <a
                            href="http://article19.org/resources.php/resource/38331/en/country-report:-protest-in-kenya-2015">Article
                        19</a></small>
                </div>
            </section>
        </div>
    </article>

    <style>
        .label {
            word-break: break-word;
        }

        #chart-histogram-crimereport-crimes_dist .action-links {
            margin-top: 40px;
        }
    </style>
    <article id="crime_report"
             class="clearfix {% if 'crime_report' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
            <h1>Crime Statistics</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=crime_report.crimes stat_type='number' %}
                    <small>Source: <a
                            href="http://www.nationalpolice.go.ke/crime-statistics.html">National
                        Police Service</a></small>
                </div>
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=crime_report.crimesindex stat_type='number' %}
                </div>
            </section>
            <section class="clearfix stat-row">
                <div id="chart-histogram-crime_report-crimes_dist"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Crimes"></div>
            </section>
        </div>
    </article>
    <style>
        .label {
            word-break: break-word;
        }
    </style>
    <div id="agriculture">
        <article id="crop_production" class="clearfix">
            <header class="section-contents">
                <h1>Crop Production</h1>
            </header>
            <div class="section-container">
                <section class="clearfix stat-row">
                    <div class="column-full">
                        <div id="chart-histogram-crop_production-area_dist"
                             data-stat-type="number"
                             data-chart-title="Area in hectares used for crop production"></div>
                    </div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-half">
                        <div id="chart-histogram-crop_production-prod_dist_k"
                             data-stat-type="number"
                             data-chart-title="Crop production (90kg bags)"></div>
                    </div>
                    <div class="column-half">
                        <div id="chart-histogram-crop_production-prod_dist_t"
                             data-stat-type="number"
                             data-chart-title="Crop production (tons)"></div>
                    </div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-full">
                        <div id="chart-histogram-crop_production-yield_dist"
                             data-stat-type="number"
                             data-chart-title="Yield bags per hectare or tons per hectare"></div>
                    </div>
                </section>
            </div>
        </article>
        <article id="livestock" class="clearfix">
            <header class="section-contents">
                <h1>Livestock</h1>
            </header>
            <div class="section-container">
                <section class="clearfix stat-row">
                    <div class="column-full">
                        <div id="chart-histogram-livestock-pop_dist"
                             data-stat-type="number"
                             data-chart-title="Livestock population"></div>
                    </div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-half" id="chart-pie-livestock-cattle_pop"
                         data-stat-type="number"
                         data-chart-title="Cattle '000"></div>
                    <div class="column-half" id="chart-pie-livestock-goat_pop"
                         data-stat-type="number"
                         data-chart-title="Goat '000"></div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-half" id="chart-pie-livestock-sheep_pop"
                         data-stat-type="number"
                         data-chart-title="Sheep '000"></div>
                    <div class="column-half"
                         id="chart-histogram-livestock-poultry_pop"
                         data-stat-type="number"
                         data-chart-title="Poultry '000"></div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-half">
                        {% include 'profile/_blocks/_stat_list.html' with stat=livestock.hives stat_type='number' %}
                    </div>
                    <div class="column-half" id="chart-pie-livestock-hives_pop"
                         data-stat-type="number" data-chart-title="Hives"></div>
                </section>
                <section class="clearfix stat-row">
                    <div class="column-full">
                        <div id="chart-histogram-livestock-prod_dist"
                             data-stat-type="number"
                             data-chart-title="Livestock Products '000"></div>
                    </div>
                </section>
            </div>
        </article>
    </div>

    {% block profile_javascript_libs %}
        {{ block.super }}
        <script src="{% static 'js/affix.js' %}"></script>
        <script src="{% static 'js/profiles.js' %}"></script>
    {% endblock %}
{% endblock %}