{% extends 'profile/profile_detail.html' %} {% load humanize lookup staticfiles %}

{% block profile_detail %}
  {% if not demographics.is_missing %}
    <article id="demographics"
             class="clearfix {% if 'demographics' not in selected_sections %}hide{% endif %}">

      <header class="section-contents">
        <h1>Demographics</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2 class="header-for-columns"><a class="permalink"
                                            href="#pop_count"
                                            id="pop_count">Population <i
              class="fa fa-link"></i></a></h2>
          <div class="column-quarter">
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>
          <div class="column-quarter"
               id="chart-pie-demographics-sex_ratio"
               data-stat-type="percentage" data-chart-title="Sex"></div>
          <div class="column-quarter">
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.urbanised stat_type='percentage' %}
          </div>
          <div class="column-quarter"
               id="chart-grouped_column-demographics-urban_distribution"
               data-stat-type="scaled-percentage"
               data-chart-title="Urban vs rural by sex"></div>
        </section>
      </div> <!-- end of section container -->
    </article> <!-- end of demographics article -->
  {% endif %} <!-- end if demographics -->


  {% if not education.is_missing %}
    <article id="education" class="clearfix {% if 'education' not in selected_sections %}hide{% endif %}">
      <header class="section-contents">
        <h1>Education</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2>
            <a class="permalink" href="#highest-education-level-reached" id="highest-education-level-reached">Educational
              level <i class="fa fa-link"></i></a></h2>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=education.education_reached_secondary_or_higher stat_type='percentage' %}
          </div>
          <div class="column-two-thirds"
               id="chart-histogram-education-education_reached_distribution"
               data-stat-type="scaled-percentage"
               data-chart-title="Population by highest education level reached"
               data-qualifier="Universe: {{ education.education_reached_distribution.metadata.universe }}">
          </div>
        </section>
      </div> <!-- section container -->
    </article> <!-- article education -->
  {% endif %} <!-- end if education -->

  {% if not employment.is_missing %}
    <article id="employment" class="clearfix {% if 'employment' not in selected_sections %}hide{% endif %}">
      <header class="section-contents">
        <h1> Employment</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2><a class="permalink" href="#employment">Employment
            <i class="fa fa-link"></i></a></h2>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=employment.employed stat_type='percentage' %}
          </div>
          <div class="column-two-thirds"
               id="chart-grouped_column-employment-activity_status_distribution"
               data-stat-type="scaled-percentage"
               data-chart-title="Population by employment status"
               data-qualifier="Universe: {{ employment.activity_status_distribution.metadata.universe }}">
          </div>
        </section>
      </div> <!-- section container -->
    </article> <!-- article employment -->
  {% endif %} <!-- end if education -->

  {% if not households.is_missing %}
    <article id="households" class="clearfix {% if 'households' not in selected_sections %}hide{% endif %}">
      <header class="section-contents">
        <h1>Households</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2><a class="permalink" href="#households">Households
            <i class="fa fa-link"></i></a></h2>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=households.total_households stat_type='number' %}
          </div>
        </section>
        <section class="clearfix stat-row">
          <h2><a class="permalink" href="#households-water"
                 id="households-water">Main source of water <i
              class="fa fa-link"></i></a></h2>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=households.piped_water stat_type='percentage' %}
          </div>
          <div class="column-two-thirds"
               id="chart-histogram-households-water_source_distribution"
               data-stat-type="scaled-percentage"
               data-chart-title="Households by main source of water">
          </div>
        </section>
        <section class="clearfix stat-row">
          <h2>
            <a class="permalink" href="#households-lighting" id="households-lighting">Main
              source of lighting <i class="fa fa-link"></i></a></h2>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=households.lighting_electricity stat_type='percentage' %}
          </div>
          <div class="column-two-thirds"
               id="chart-histogram-households-lighting_distribution"
               data-stat-type="scaled-percentage"
               data-chart-title="Households by main type of lighting fuel">
          </div>
        </section>
        <section class="clearfix stat-row">
          <h2><a class="permalink" href="#households-waste"
                 id="households-waste">Main mode of human waste disposal
            <i class="fa fa-link"></i></a></h2>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=households.sewer_or_septic stat_type='percentage' %}
          </div>
          <div class="column-two-thirds"
               id="chart-histogram-households-waste_disposal_distribution"
               data-stat-type="scaled-percentage"
               data-chart-title="Households by main mode of human waste disposal"></div>
        </section>
        <section class="clearfix stat-row">
          <h2><a class="permalink" href="#households-materials"
                 id="households-materials">Household construction
            materials <i class="fa fa-link"></i></a></h2>
          <div class="column-third"
               id="chart-pie-households-roofing_material_distribution"
               data-stat-type="scaled-percentage"
               data-chart-title="Households by main type of roofing material"></div>
          <div class="column-third"
               id="chart-pie-households-floor_material_distribution"
               data-stat-type="scaled-percentage"
               data-chart-title="Households by main type of floor material"></div>
          <div class="column-third"
               id="chart-pie-households-wall_material_distribution"
               data-stat-type="scaled-percentage"
               data-chart-title="Households by main type of wall material"></div>
        </section>
        <section class="clearfix stat-row">
          <h2><a class="permalink" href="#households-heads"
                 id="households-heads">Household Heads <i
              class="fa fa-link"></i></a></h2>
          <div class="column-half"
               id="chart-histogram-households-household_heads"
               data-stat-type="scaled-percentage"
               data-chart-title="Non-Male Headed Households"></div>
        </section>

      </div> <!-- section container -->
    </article> <!-- article households -->
  {% endif %} <!-- end if households -->


  <div class="health">
    {% if not contraceptive.is_missing %}
      <article id="contraceptive_use" class="clearfix {% if 'contraceptive_use' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Use of contraceptives</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <small>The contraceptive prevalence rate (CPR) is usually
              defined as the percentage of currently married women who
              are
              currently using a method of contraception.
            </small>
            <br>
            <small>If more than one method is used, only the most
              effective
              method is considered in this tabulation.
            </small>
            <br>
            <small>LAM = Lactational amenorrhoea method</small>
            <br>
            <small>Source: <a
                href="http://www.knbs.or.ke/index.php?option=com_content&view=article&id=308:2014-kenya-demographic-and-health-survey-2014-kdhs&catid=82:news&Itemid=593">KNBS
              Demographic and Health Survey Report 2014</a></small>
          </section>
          <section class="clearfix stat-row">
            <h2>Percent distribution of currently married women age
              15-49 by
              contraceptive method</h2>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=contraceptive_use.cpr stat_type='percentage' %}
            </div>
            <div class="column-two-thirds"
                 id="chart-histogram-contraceptive_use-modern_methods_distribution"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Modern methods of contraception used"></div>
          </section>

          <section class="clearfix stat-row">
            <div class="column-third"
                 id="chart-pie-contraceptive_use-contraceptive_use_distribution"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Method of contraception">
            </div>
            <div class="column-two-thirds"
                 id="chart-histogram-contraceptive_use-traditional_methods_distribution"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Traditional methods of contraception used">
            </div>
          </section>

        </div> <!-- section container -->
      </article> <!-- article contraceptive use -->
    {% endif %} <!-- end if contraceptive use -->

    {% if not maternal_care_indicators.is_missing %}
      <article id="maternal_care_indicators"
               class="clearfix {% if 'maternal_care_indicators' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Maternal care indicators</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=maternal_care_indicators.delivery_in_health_facility stat_type='percentage' %}
            </div>
          </section>

          <section class="clearfix stat-row">
            <div class="column-third"
                 id="chart-pie-maternal_care_indicators-antenatal_dist"
                 data-stat-type="percentage"
                 data-chart-title="Antenatal care"></div>
            <div class="column-third"
                 id="chart-pie-maternal_care_indicators-anc_visits_dist"
                 data-stat-type="percentage"
                 data-chart-title="ANC visits"></div>
            <div class="column-third"
                 id="chart-pie-maternal_care_indicators-delivery_by_skilled_provider_dist"
                 data-stat-type="percentage"
                 data-chart-title="Child Delivery"></div>
          </section>

          <section class="clearfix stat-row">
            <h3>Intermittent Preventive Treatment of pregnant women</h3>
            <small>The Government of Kenya’s policy advocates for
              pregnant
              women in malaria endemic areas to receive two doses of
              intermittent preventive treatment (IPT) in the second
              and
              third trimesters in order to reduce the risk of malaria
              infection. To assess the coverage of this policy, women
              who
              had a live birth in the two years before the survey were
              asked if they had received treatment to prevent malaria
              during their pregnancy
            </small>
          </section>

          <section class="clearfix stat-row">
            <div class="column-third"
                 id="chart-pie-maternal_care_indicators-one_or_more_dist"
                 data-stat-type="percentage"
                 data-chart-title="1 or more doses of SP/Fansidar"></div>
            <div class="column-third"
                 id="chart-pie-maternal_care_indicators-two_or_more_dist"
                 data-stat-type="percentage"
                 data-chart-title="2 or more doses of SP/Fansidar"></div>
            <div class="column-third"
                 id="chart-pie-maternal_care_indicators-three_or_more_dist"
                 data-stat-type="percentage"
                 data-chart-title="3 or more doses of SP/Fansidar"></div>
          </section>

        </div>
      </article>
    {% endif %} <!-- end if maternal_care_indicators -->

    {% if not knowledge_of_hiv_prevention_methods.is_missing %}
      <article id="knowledge_of_hiv_prevention_methods"
               class="clearfix {% if 'knowledge_of_hiv_prevention_methods' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Knowledge of HIV prevention</h1>
        </header>
        <div class="section-container">

          <section class="clearfix stat-row">
            <small>Percentage of women and men age 15-49 who, in
              response to
              prompted questions, say that people can reduce the risk
              of
              getting HIV by using condoms every time they have sexual
              intercourse and by having one sex partner who is not
              infected and has no other partners
            </small>
          </section>
          <section class="clearfix stat-row">
            <div id="chart-grouped_column-knowledge_of_hiv_prevention_methods-distribution"
                 data-stat-type="scaled-percentage"
                 data-chart-title=""></div>
          </section>

        </div>
      </article>
    {% endif %} <!-- end if knowledge_of_hiv_prevention_methods-->

    {% if not itn.is_missing %}
      <article id="itn"
               class="clearfix {% if 'itn' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Mosquito nets</h1>
        </header>
        <div class="section-container">

          <section class="clearfix stat-row">
            <small>One of the strongest weapons in the fight against
              malaria
              is the use of insecticide-treated nets (ITNs) while
              sleeping. In the 2014 KDHS, data were collected from
              households on ownership and number of mosquito nets
              owned.
              Respondents were also asked to indicate particular
              household
              members who had slept under each net the night prior to
              the
              interview.
            </small>
          </section>
          <section class="clearfix stat-row">
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=itn.average_itn_per_household stat_type='number' %}
            </div>
            <div class="column-third"
                 id="chart-pie-itn-households_with_at_least_one_itn"
                 data-stat-type="percentage"
                 data-chart-title="Households that possess at least one insecticide-treated nets (ITNs)"></div>
            <div class="column-third"
                 id="chart-pie-itn-percentage_households_with_ITN_for_every_two_people"
                 data-stat-type="percentage"
                 data-chart-title="Households that possess an insecticide-treated nets (ITNs) for every 2 people"></div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-two-thirds"
                 id="chart-grouped_column-itn-all_households_use_dist"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Use of nets by children under age five and pregnant women in all households"></div>
            <div class="column-third"
                 id="chart-grouped_column-itn-households_with_at_least_one_itn_use_dist"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Use of nets by children under age five and pregnant women in all households with at least one insecticide-treated nets (ITNs)"></div>
          </section>

        </div>
      </article>
    {% endif %} <!-- end if itn -->

    {% if not fertility.is_missing %}
      <article id="fertility"
               class="clearfix {% if 'fertility' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Fertility</h1>


        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=fertility.fertility_rate stat_type='number' %}
            </div>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=fertility.mean_number_of_children_ever_born_to_women_aged_40_49 stat_type='number' %}
            </div>
            <div class="column-third"
                 id="chart-pie-fertility-percentage_women_age_15_49_currently_pregnant"
                 data-stat-type="percentage"
                 data-chart-title="Percentage women aged 15-49 who are currently pregnant"></div>
          </section>

        </div>
      </article>
    {% endif %} <!-- end if fertility -->

    {% if not vaccinations.is_missing %}
      <article id="vaccinations"
               class="clearfix {% if 'vaccinations' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Vaccinations</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=vaccinations.not_vaccinated stat_type='percentage' %}
            </div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-third"
                 id="chart-pie-vaccinations-fully_vaccinated"
                 data-stat-type="percentage"
                 data-chart-title="Percentage children who are fully vaccinated"></div>
            <div class="column-third"
                 id="chart-pie-vaccinations-all_basic_vaccinations"
                 data-stat-type="percentage"
                 data-chart-title="Percentage children who have received all basic vaccinations"></div>
            <div class="column-third"
                 id="chart-pie-vaccinations-percentage_with_vaccination_cards"
                 data-stat-type="percentage"
                 data-chart-title="Percentage with vaccination cards"></div>
          </section>
          <section class="clearfix stat-row">
            <div id="chart-column-vaccinations-distribution"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Percentage of children age 12-23 months who received specific vaccines"></div>
          </section>

        </div>
      </article>
    {% endif %} <!-- end if vaccinations -->

    {% if not type_treatment.is_missing %}
      <article id="type_treatment"
               class="clearfix {% if 'type_treatment' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Treatment of childhood illness</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <small>Percentage of children under age five with fever in
              the
              two weeks preceding the survey; among children under age
              five with fever, percentage for whom advice or treatment
              was
              sought, percentage who had blood taken from a finger or
              heel, percentage who took any antimalarial, percentage
              who
              took any artemisinin-based combination therapy (ACT),
              and
              percentage who took any ACT the same or next day
              following
              the onset of fever; and among children under age five
              with
              fever who took any antimalarial drug, percentage who
              took
              any ACT
            </small>
          </section>
          <section class="clearfix stat-row">
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=type_treatment.children_with_fever stat_type='percentage' %}
            </div>
            <div class="column-two-thirds"
                 id="chart-column-type_treatment-treatment_of_chidren_with_fever_dist"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Type of treatment sought"></div>
          </section>

          <section class="clearfix stat-row">
            <div class="column-third"
                 id="chart-pie-type_treatment-ari_dist"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Percentage of children with ARI who sought treatment from health facility or provider"></div>
            <div class="column-third"
                 id="chart-pie-type_treatment-fever_dist"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Percentage of children with fever who sought treatment from health facility or provider"></div>
            <div class="column-third"
                 id="chart-grouped_column-type_treatment-treatment_distribution"
                 data-stat-type="scaled-percentage"
                 data-chart-title="Among children under age five who had symptoms of acute respiratory infection (ARI) or had fever and diarrhoea and how they were treated."></div>
          </section>

        </div>
      </article>
    {% endif %} <!-- end if type_treatment -->

    {% if healthratios.doctorratio and  healthratios.nurseratio %}
      <article id="health_ratios"
               class="clearfix {% if 'health_ratios' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Access to health services</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <div class="column-half">
              {% include 'profile/_blocks/_stat_list.html' with stat=healthratios.doctorratio stat_type='number' %}
              <small>Source: <a
                  href="http://www.internationalbudget.org/wp-content/uploads/IBP-Budget-Brief-18B-Final.pdf">International
                Budget Partnership</a></small>
            </div>
            <div class="column-half">
              {% include 'profile/_blocks/_stat_list.html' with stat=healthratios.nurseratio stat_type='number' %}
              <small>Source: <a
                  href="http://www.internationalbudget.org/wp-content/uploads/IBP-Budget-Brief-18B-Final.pdf">International
                Budget Partnership</a></small>
            </div>
          </section>
        </div>
      </article>
    {% endif %} <!-- end if health ratios-->

  </div> <!-- end of health -->

  {% if not protests.number_of_protests %}
    <article id="protests"
             class="clearfix {% if 'protests' not in selected_sections %}hide{% endif %}">
      <header class="section-contents">
        <h1>Protests</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=protests.number_of_protests stat_type='number' %}
            <small>Source: <a
                href="http://article19.org/resources.php/resource/38331/en/country-report:-protest-in-kenya-2015">Article
              19</a></small>
          </div>
        </section>
      </div>
    </article>
  {% endif %} <!-- end of protests -->

  <style>
    .label {
      word-break: break-word;
    }

    #chart-histogram-crimereport-crimes_dist .action-links {
      margin-top: 40px;
    }
  </style>
  {% if not crime_report.is_missing %}
    <article id="crime_report"
             class="clearfix {% if 'crime_report' not in selected_sections %}hide{% endif %}">
      <header class="section-contents">
        <h1>Crime Statistics</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=crime_report.crimes stat_type='number' %}
            <small>Source: <a
                href="http://www.nationalpolice.go.ke/crime-statistics.html">National
              Police Service</a></small>
          </div>
          <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=crime_report.crimesindex stat_type='number' %}
          </div>
        </section>
        <section class="clearfix stat-row">
          <div id="chart-histogram-crime_report-crimes_dist"
               data-stat-type="scaled-percentage"
               data-chart-title="Crimes"></div>
        </section>
      </div>
    </article>
  {% endif %} <!-- end if crime -->

  <style>
    .label {
      word-break: break-word;
    }
  </style>

  <div id="agriculture" class="clearfix">
    {% if not livestock.is_missing %}
      <article id="livestock" class="clearfix">
        <header class="section-contents">
          <h1>Livestock</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-livestock-pop_dist"
                   data-stat-type="scaled-percentage"
                   data-chart-title="Livestock population"></div>
            </div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-half" id="chart-pie-livestock-cattle_pop"
                 data-stat-type="number"
                 data-chart-title="Cattle '000"></div>
            <div class="column-half" id="chart-pie-livestock-goat_pop"
                 data-stat-type="number"
                 data-chart-title="Goat '000"></div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-half" id="chart-pie-livestock-sheep_pop"
                 data-stat-type="number"
                 data-chart-title="Sheep '000"></div>
            <div class="column-half"
                 id="chart-histogram-livestock-poultry_pop"
                 data-stat-type="number"
                 data-chart-title="Poultry '000"></div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-half">
              {% include 'profile/_blocks/_stat_list.html' with stat=livestock.hives stat_type='number' %}
            </div>
            <div class="column-half" id="chart-pie-livestock-hives_pop"
                 data-stat-type="number" data-chart-title="Hives"></div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-livestock-prod_dist"
                   data-stat-type="number"
                   data-chart-title="Livestock Products '000"></div>
            </div>
          </section>
        </div>
      </article>
    {% endif %}
    {% if not crop_production.is_missing %}
      <article id="crop_production" class="clearfix">
        <header class="section-contents">
          <h1>Crop Production</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-crop_production-area_dist"
                   data-stat-type="scaled-percentage"
                   data-chart-title="Area in hectares used for crop production"></div>
            </div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-half">
              <div id="chart-histogram-crop_production-prod_dist_k"
                   data-stat-type="number"
                   data-chart-title="Crop production (90kg bags)"></div>
            </div>
            <div class="column-half">
              <div id="chart-histogram-crop_production-prod_dist_t"
                   data-stat-type="number"
                   data-chart-title="Crop production (tons)"></div>
            </div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-crop_production-yield_dist"
                   data-stat-type="number"
                   data-chart-title="Yield bags per hectare or tons per hectare"></div>
            </div>
          </section>
        </div>
      </article>
    {% endif %}</div>

  {% if not elections.is_missing %}
    <div id="elections" class="clearfix">
      <article id="voter_registration_2015"
               class="clearfix {% if 'voter_registration_2015' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Voter Registration 2015</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <div class="permalink">
              {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2015.total stat_type='number' %}
            </div>
            <div class="column-golden-narrow" id="chart-pie-voter_registration_2015-registration" data-stat-type="percentage" data-chart-title="Registered voters as at March 2015 and as at October 2015"></div>
            <div class="column-golden-narrow" id="chart-pie-voter_registration_2015-registration_ratio" data-stat-type="percentage" data-chart-title="Potential voters with IDs not registered as at December 2015"></div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2015.ids_issued stat_type='number' %}
              <small>Source:
                <a href="http://www.iebc.or.ke/docs/MVR-Baseline-Data.html">IEBC</a>
              </small>
            </div>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2015.dead_with_ids stat_type='number' %}
            </div>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2015.reg_centers stat_type='number' %}
            </div>
          </section>
        </div>
      </article>

      <article id="voter_registration_2017"
               class="clearfix {% if 'voter_registration_2017' not in selected_sections %}hide{% endif %}">
        <header class="section-contents">
          <h1>Voter Registration 2017 </h1>

        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <div class="permalink">
              {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.total stat_type='number' %}
            </div>

            <div class="column-third"
                 id="chart-pie-voter_registration_2017-gender_ratio"
                 data-stat-type="percentage"
                 data-chart-title="Registered voters gender ratio"></div>
            <div class="column-third"
                 id="chart-pie-voter_registration_2017-registration"
                 data-stat-type="percentage"
                 data-chart-title="Registered voters as at March 2015 and as at December 2016"></div>
            <div class="column-third"
                 id="chart-pie-voter_registration_2017-registration_ratio"
                 data-stat-type="percentage"
                 data-chart-title="Potential voters with IDs not registered as at December 2016"></div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.ids_issued stat_type='number' %}
              <small>Source: <a
                  href="https://www.iebc.or.ke/iebcreports/">IEBC</a>
              </small>
            </div>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.actual_dead_with_ids stat_type='number' %}
            </div>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.reg_centers stat_type='number' %}
            </div>
          </section>


          <section class="clearfix stat-row">
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=voter_registration_2017.polling_stations stat_type='number' %}
            </div>
          </section>
          {% comment %}
            <section class="clearfix stat-row">
            </section> {% endcomment %}
        </div>
      </article>
    </div>
  {% endif %}
  {% if not afrobarometer.is_missing %}
    <article>
      <header class="section-contents"><h1>Afrobarometer Round 7</h1></header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-own_radio" data-stat-type="percentage" data-chart-title="Q91a.Own radio" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-own_motor_vehicle" data-stat-type="percentage" data-chart-title="Q91c.Own motor vehicle" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-own_television" data-stat-type="percentage" data-chart-title="Q91b.Own television" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-own_mobile_phone" data-stat-type="percentage" data-chart-title="Q91d.Own mobile phone" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-election_work_for_candidate_or_party" data-stat-type="percentage" data-chart-title="Q23d.election work for candidate or party" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-election_attend_campaign_rally" data-stat-type="percentage" data-chart-title="Q23a.election attend campaign rally" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-election_attend_campaign_meeting" data-stat-type="percentage" data-chart-title="Q23b.election attend campaign meeting" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-courts_make_binding_decisions" data-stat-type="percentage" data-chart-title="Q42a.Courts make binding decisions" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-vote_for_which_party" data-stat-type="percentage" data-chart-title="Q99.Vote for which party" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-level_of_corruption" data-stat-type="percentage" data-chart-title="Q54.Level of corruption" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-chinas_assistance_meets_country_needs" data-stat-type="percentage" data-chart-title="Q81e.China's assistance meets country needs" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-employment_status" data-stat-type="percentage" data-chart-title="Q95.Employment status" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-main_reason_for_not_reporting_corruption" data-stat-type="percentage" data-chart-title="Q58.Main reason for not reporting corruption" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-education_of_respondent" data-stat-type="percentage" data-chart-title="Q97.Education of respondent" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-people_must_pay_taxes" data-stat-type="percentage" data-chart-title="Q42c.People must pay taxes" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-negative_image_of_china" data-stat-type="percentage" data-chart-title="Q81d.Negative image of China" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-most_effective_way_to_combat_corruption" data-stat-type="percentage" data-chart-title="Q71b.Most effective way to combat corruption" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-people_can_fight_corruption" data-stat-type="percentage" data-chart-title="Q71a.People can fight corruption" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-people_must_obey_the_law" data-stat-type="percentage" data-chart-title="Q42b.People must obey the law" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-chinas_influence_on_economy" data-stat-type="percentage" data-chart-title="Q81a.China's influence on economy" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-chinas_influence_positive_or_negative" data-stat-type="percentage" data-chart-title="Q81b.China's influence: positive or negative" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-positive_image_of_china" data-stat-type="percentage" data-chart-title="Q81c.Positive image of China" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-occupation_of_respondent" data-stat-type="percentage" data-chart-title="Q96a.Occupation of respondent" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-employer_of_respondent" data-stat-type="percentage" data-chart-title="Q96b.Employer of respondent" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-how_often_use_a_mobile_phone" data-stat-type="percentage" data-chart-title="Q92a.How often use a mobile phone" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-how_often_use_the_internet" data-stat-type="percentage" data-chart-title="Q92b.How often use the internet" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-freeness_and_fairness_last_elections" data-stat-type="percentage" data-chart-title="Q22.Freeness and fairness last elections" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-extent_of_democracy" data-stat-type="percentage" data-chart-title="Q40.Extent of democracy" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-elections_ensure_voters_views_are_reflected" data-stat-type="percentage" data-chart-title="Q47a.Elections ensure voters' views are reflected" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_judges_and_magistrates" data-stat-type="percentage" data-chart-title="Q53g.Corruption: judges and magistrates" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-elections_to_remove_leaders_from_office" data-stat-type="percentage" data-chart-title="Q47b.Elections enable voters to remove leaders from office" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_tax_officials" data-stat-type="percentage" data-chart-title="Q53f.Corruption: tax officials" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_police" data-stat-type="percentage" data-chart-title="Q53e.Corruption: police" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_local_gov_councilors" data-stat-type="percentage" data-chart-title="Q53d.Corruption: local gov councilors" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_gov_officials" data-stat-type="percentage" data-chart-title="Q53c.Corruption: gov officials" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_mps" data-stat-type="percentage" data-chart-title="Q53b.Corruption: MPs" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_president_office" data-stat-type="percentage" data-chart-title="Q53a.Corruption: President Office" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-satisfaction_with_democracy" data-stat-type="percentage" data-chart-title="Q41.Satisfaction with democracy" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_business_executives" data-stat-type="percentage" data-chart-title="Q53j.Corruption: business executives" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_religious_leaders" data-stat-type="percentage" data-chart-title="Q53i.Corruption: religious leaders" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-corruption_traditional_leaders" data-stat-type="percentage" data-chart-title="Q53h.Corruption: traditional leaders" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-difficulty_to_obtain_public_school_services" data-stat-type="percentage" data-chart-title="Q55a.Difficulty to obtain public school services" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-voting_recent_national_election" data-stat-type="percentage" data-chart-title="Q21.Voting recent national election" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-difficulty_to_obtain_medical_treatment" data-stat-type="percentage" data-chart-title="Q55c.Difficulty to obtain medical treatment" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-pay_bribe_for_school_services" data-stat-type="percentage" data-chart-title="Q55b.Pay bribe for school services" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-difficulty_to_obtain_identity_document" data-stat-type="percentage" data-chart-title="Q55e.Difficulty to obtain identity document" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-pay_bribe_treatment_public_health" data-stat-type="percentage" data-chart-title="Q55d.Pay bribe treatment public health" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-difficulty_to_obtain_household_services" data-stat-type="percentage" data-chart-title="Q55g.Difficulty to obtain household services" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
        <section class="clearfix stat-row">
          <div class="column-half">
            <div id="chart-pie-afrobarometer-pay_bribe_for_document_or_permit" data-stat-type="percentage" data-chart-title="Q55f.Pay bribe for document or permit" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-afrobarometer-pay_bribe_for_household_services" data-stat-type="percentage" data-chart-title="Q55h.Pay bribe for household services" data-source-link="http://afrobarometer.org/data/merged-round-6-data-36-countries-2016" data-source-title="Afrobarometer Round 6: Survey, 2017"></div>
          </div>
        </section>
      </div>
    </article>{% endif %}

{% endblock profile_detail %}
