{% extends 'profile/profile_detail.html' %}

{% block profile_header_tail %}
    <div class="column-full">
        <p class="caption"><strong>Census data:</strong> 2014</p>
    </div>
{% endblock %}

{% block profile_detail %}
    <article id="life_expectancy"
             class="clearfix">
        <header class="section-contents">
            <h1>Life Expectancy</h1>
        </header>
        <div class="section-container">

            <section class="clearfix stat-row">
                <div class="column-three-quarters">
                    {% include 'profile/_blocks/_line_graph_stats.html' with x_values=life_expectancy.x y_values=life_expectancy.y chart_title=life_expectancy.chart_title x_label=life_expectancy.x_label y_label=life_expectancy.y_label uid=life_expectancy.id%}
                </div>
            </section>

        </div>
    </article>

    <article id="gni"
             class="clearfix">
        <header class="section-contents">
            <h1>GNI Index</h1>
        </header>
        <div class="section-container">

            <section class="clearfix stat-row">
                <div class="column-three-quarters">
                    {% include 'profile/_blocks/_line_graph_stats.html' with x_values=gni.x y_values=gni.y chart_title=gni.chart_title x_label=gni.x_label y_label=gni.y_label uid=gni.id%}
                </div>
            </section>

        </div>
    </article>



{% endblock %}