<h3>Re-use Manifesto</h3>

<p><a href="https://codeforafrica.org" target="_blank" rel="noopener">Code for Africa</a> and its partners hate seeing civil society or anyone else being duped into wasting money unnecessarily on inappropriate technology or predatory consultancies.</p>

<p>There are thousands of civic apps and other technology solutions already available for reuse, free-of-charge, on communities such as GitHub.</p>

<p>	Code for Africa is committed to help grow these resources and the global civic technology community, by making its <a href="https://github.com/CodeForAfrica" target="_blank" rel="noopener">code</a> and <a href="http://openafrica.net/" target="_blank" rel="noopener">data</a> freely available. It is also committed to helping fellow African citizen agency organisations re-purpose and customise existing civic code as cost-effectively as possible.</p>

<p>The code for {{ HURUMAP.name }} is available <a href="{{ HURUMAP.github_url }}" target="_blank" rel="noopener">here</a>.</p>

<p>All the data used by this project and other initiatives is available for free reuse on the <a href="{{ HURUMAP.openafrica_url }}" target="_blank" rel="noopener">openAFRICA.net</a> portal. It is already the continent's largest repository of public data, despite being volunteer run, and offers data ranging from government budget and tender information, to data about parliamentarians and other public officials.</p>


<br/><br/>

<p class="text-center">
    <a href="{{ HURUMAP.github_url }}" rel="noopener" target="_blank" class="btn btn-lg bg-ocean-green"><i class="fa fa-github"></i> Open Source</a>
    <span style="width: 10px; height: 1px;"></span>
    <a href="{{ HURUMAP.openafrica_url }}" rel="noopener" target="_blank" class="btn btn-lg bg-ocean-green"><i class="fa fa-database"></i> Open Data</a>
</p>
