{% extends 'profile/profile_detail.html' %} {% load humanize lookup staticfiles %}

{% block header_menu %}
  <li><a href="/about">About</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/#showcase">Showcase</a></li>
  <li><a href="https://facebook.com/HacksHackersAfrica"
         target="_blank" rel="noopener">Community</a></li>
  <li class="social-icons">
    <a href="https://twitter.com/{{ HURUMAP.twitter }}"><i
        class="fa fa-twitter fa-lg fa-fw"></i></a>
    <a href="https://facebook.com/{{ HURUMAP.facebook }}"><i
        class="fa fa-facebook fa-lg fa-fw"></i></a>
  </li>
{% endblock header_menu %}

{% block secondary_nav %}
    <div class="floating-nav-wrapper" id="sticky-nav">
      <nav class="floating-nav affix-top" data-spy="affix" data-offset-top="197">
        <div class="wrapper clearfix">
          <div class="geography-ico">
                    <span><img
                        src="{% static 'img/icons/favicon.ico' %}">{{ geography.this.name }}
                    </span>
          </div>
          <ul>
            <li><a href="#farm-land"><i class="fa fa-check"></i>
              <span>Farms & Agricultural Land</span></a></li>
            <li><a href="#erven-land"><i class="fa fa-home"></i>
              <span>Erven & Urban Land</span></a></li>
            <li><a href="#sectional-title-land"><i class="fa fa-user"></i>
              <span>Sectional Title Land</span></a></li>
              <li><a href="#redistribution-restitution"><i class="fa fa-user"></i>
                <span>Land Redistribution and Restitution</span></a></li>
          </ul>
        </div>
      </nav>
    </div>
{% endblock %}
{% block profile_header_population %}
{% endblock %}



{% block profile_header_tail %}
<!-- <div class="column-full">
    <strong> Year {{ primary_releases.active.year }}</strong>
    {% if primary_releases.other %}
    <div class="tool-group toggle-sub-group release-list">
        <a>Change release<i class="fa fa-chevron-circle-down"></i></a>
        <ul class="sub-group" style="display: none;">
        {% for release in primary_releases.other %}
            <li><a href="{{ request.path }}?release={{release.year}}"> Other year {{ release.year }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div> -->
{% endblock %}




{% block profile_detail %}
{% if not farmland.is_missing %}
  <article id="farm-land" class="clearfix">
      <header class="section-contents">
          <h1>Individual Land</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
            <div class="column-half">
                <div id="chart-histogram-farmland-private_land_ownership_in_hectares_per_category" data-stat-type="scaled-percentage" data-chart-title="Private land Ownership"></div>
            </div>
            <div class="column-half">
              <div id="chart-pie-farmland-number_of_private_land_owners_by_category" data-stat-type="percentage" data-chart-title="Number of Private Land Owners by Category" data-initial-sort="-value"></div>
            </div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-half">
                <div id="chart-pie-farmland-land_ownership_in_hectares_by_race" data-stat-type="percentage" data-chart-title="Individual Land Ownership percent Hectares by Race" data-initial-sort="-value"></div>
            </div>
            <div class="column-half">
              <div id="chart-pie-farmland-number_of_land_owners_per_race" data-stat-type="percentage" data-chart-title="Number of Individual Land Owners per Race" data-initial-sort="-value"></div>
            </div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-half">
                <div id="chart-histogram-farmland-land_ownership_in_hectares_by_gender" data-stat-type="scaled-percentage" data-chart-title="Individual Land Ownership percent Hectares by Gender"></div>
            </div>
            <div class="column-half">
              <div id="chart-column-farmland-number_of_land_owners_per_gender" data-stat-type="number" data-chart-title="Number of Individual Land Owners per Gender"></div>
            </div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-half">
                <div id="chart-pie-farmland-land_ownership_in_hectares_by_nationality" data-stat-type="scaled-percentage" data-chart-title="Individual Land Ownership percent Hectares by Nationality" data-initial-sort="-value"></div>
            </div>
            <div class="column-half">
              <div id="chart-histogram-farmland-number_of_land_owners_per_nationality" data-stat-type="number" data-chart-title="Number of Individual Land Owners per Nationality"></div>
            </div>
        </section>
      </div>
  </article>
{% endif %}
{% if not ervenland.is_missing %}
  <article id="erven-land" class="clearfix">
      <header class="section-contents">
          <h1>Erven Land</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
            <div class="column-half">
                <div id="chart-histogram-ervenland-erven_land_ownership_in_hectares_by_race" data-stat-type="scaled-percentage" data-chart-title="Individual Erven Land Ownership percent Hectares by Race"></div>
            </div>
            <div class="column-half">
              <div id="chart-pie-ervenland-number_of_erven_land_owners_per_race" data-stat-type="percentage" data-chart-title="Number of Individual Erven Land Owners per Race" data-initial-sort="-value"></div>
            </div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-half">
                <div id="chart-pie-ervenland-erven_land_ownership_in_hectares_by_gender" data-stat-type="scaled-percentage" data-chart-title="Individual Erven Land Ownership percent Hectares by Gender" data-initial-sort="-value"></div>
            </div>
            <div class="column-half">
              <div id="chart-pie-ervenland-number_of_erven_land_owners_per_gender" data-stat-type="percentage" data-chart-title="Number of Individual Erven Land Owners per Gender" data-initial-sort="-value"></div>
            </div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-half">
                <div id="chart-histogram-ervenland-erven_land_ownership_in_hectares_by_nationality" data-stat-type="scaled-percentage" data-chart-title="Individual Erven Land Ownership percent Hectares by Nationality"></div>
            </div>
            <div class="column-half">
              <div id="chart-column-ervenland-number_of_erven_land_owners_per_nationality" data-stat-type="number" data-chart-title="Number of Individual Erven Land Owners per Nationality"></div>
            </div>
        </section>
      </div>
  </article>
{% endif %}
{% if not sectionaltitleland.is_missing %}
  <article id="sectional-title-land" class="clearfix">
    <header class="section-contents">
        <h1>Sectional Title Land</h1>
    </header>
    <div class="section-container">
      <section class="clearfix stat-row">
          <div class="column-half">
              <div id="chart-histogram-sectionaltitleland-sectional_title_ownership_in_hectares_per_category" data-stat-type="scaled-percentage" data-chart-title="Individual Sectional Title Ownership percent Hectares by Category"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-sectionaltitleland-number_of_sectional_title_owners_by_category" data-stat-type="percentage" data-chart-title="Number of Individual Sectional Title Owners per Category" data-initial-sort="-value"></div>
          </div>
      </section>
      <section class="clearfix stat-row">
          <div class="column-half">
              <div id="chart-pie-sectionaltitleland-sectional_title_ownership_in_hectares_per_race" data-stat-type="scaled-percentage" data-chart-title="Individual Sectional Title Ownership percent Hectares by Race" data-initial-sort="-value"></div>
          </div>
          <div class="column-half">
            <div id="chart-pie-sectionaltitleland-number_of_sectional_title_owners_by_race" data-stat-type="percentage" data-chart-title="Number of Individual Sectional Title Owners per Race" data-initial-sort="-value"></div>
          </div>
      </section>
      <section class="clearfix stat-row">
          <div class="column-half">
              <div id="chart-histogram-sectionaltitleland-sectional_title_ownership_in_hectares_per_gender" data-stat-type="scaled-percentage" data-chart-title="Individual Sectional Title Ownership percent Hectares by Gender"></div>
          </div>
          <div class="column-half">
            <div id="chart-column-sectionaltitleland-number_of_sectional_title_owners_by_gender" data-stat-type="number" data-chart-title="Number of Individual Sectional Title Owners per Gender"></div>
          </div>
      </section>
      <section class="clearfix stat-row">
          <div class="column-half">
              <div id="chart-pie-sectionaltitleland-sectional_title_ownership_in_hectares_per_nationality" data-stat-type="scaled-percentage" data-chart-title="Individual Sectional Title Ownership percent Hectares by Nationality" data-initial-sort="-value"></div>
          </div>
          <div class="column-half">
            <div id="chart-histogram-sectionaltitleland-number_of_sectional_title_owners_by_nationality" data-stat-type="number" data-chart-title="Number of Individual Sectional Title Owners per Nationality"></div>
          </div>
      </section>
    </div>
  </article>
{% endif %}
{% if not redistributionandrestitution.is_missing %}
  <article id="redistribution-restitution" class="clearfix">
    <header class="section-contents">
        <h1>Land Redistribution and Restitution</h1>
    </header>
    <div class="section-container">
      <section class="clearfix stat-row">
        <h2 class="header-for-columns"><a class="permalink"> Redistributed Land <i class="fa fa-link"></i></a></h2>
        <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.redistributedlandinhectares_stat stat_type='number' decimals="-2" %}
        </div>
        <div class="column-half">
            <div id="chart-pie-redistributionandrestitution-redistributedlandusebreakdown" data-chart-title="Redistributed Land Use breakdown, year 2017/2018"></div>
        </div>
      </section>
      <section class="clearfix stat-row">
        <h2 class="header-for-columns"><a class="permalink"> Redistributed Land Cost <i class="fa fa-link"></i></a></h2>
        <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.redistributedlandaveragecostperhectares_stat stat_type='number' decimals="-2" %}
        </div>
        <div class="column-half">
            {% include 'profile/_blocks/_stat_list.html' with stat=redistributionandrestitution.redistributedlandcostinrands_stat stat_type='number' decimals="-2" %}
        </div>
      </section>
    </div>
  </article>
{% endif %}

  {% include 'settings_js.html' %}
  {% block body_javascript %}
      {{ block.super }}

      {% block profile_javascript_libs %}
      <script src="{% static 'js/vendor/leaflet-0.6.4.js' %}"></script>
      <script src="{% static 'js/vendor/topojson.v1.min.js' %}"></script>
      <script src="{% static 'js/vendor/leaflet.label.js' %}"></script>
      <script src="{% static 'js/charts.js' %}"></script>
      <script src="{% static 'js/head2head.js' %}"></script>
      <script src="{% static 'js/maps_static.js' %}"></script>
      <script src="{% static 'js/profile_map.js' %}"></script>
      <script src="{% static 'js/maps_mapit.js' %}"></script>
      <script src="{% static 'js/profile_map_mapit.js' %}"></script>
      {% endblock %}
  {% endblock %}
{% endblock %}
