{% extends 'homepage.html' %}

{% block body_id %}page{% endblock %}

{% block content_container %}
    <div class="content container-narrowest clearfix">
        <h1>About {{ HURUMAP.name }}</h1>
        <p><em>What’s the data behind the story?</em></p>

        <p>{{ HURUMAP.name }} gives infomediaries like journalists and civic activists an easy ‘plug & play’ toolkit for finding and embedding interactive data visualisations into their storytelling. The data is by the National Bureau of Statistics.</p>
        <br/>
    </div>
{% endblock %}
