{% extends '_base.html' %}

{% block body_id %}page-insights{% endblock %}
{% block body_class %}page-insights{% endblock %}

{% block content %}
    <div class="content-container wrapper clearfix">
        <article id="Insights">
            <header>
                <h1 class="article-header">Nigerian Insights</h1>
            </header>
            <section class="clearfix">
                <div class="row insight">
                    <div class="flourish-embed" data-src="story/35783"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
                </div>
                <div class="row insight">
                    <div class="flourish-embed" data-src="story/36013"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
                </div>
                <div class="row insight">
                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQMzdf69dDlDTJQslBPNj9ewroEzdnYyg61cRb8geqZZBn3byPpYsveZEtIhLSA_GYvytSLchg84p_t/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="629" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
            </section>
        </article>
    </div>
{% endblock %}
