{% extends '_base.html' %}

{% block body_id %}page-insights{% endblock %}
{% block body_class %}page-insights{% endblock %}

{% block content %}
    <div class="content-container wrapper clearfix">
        <article id="Insights">
            <header>
                <h1 class="article-header">Nigerian Insights</h1>
            </header>
            <section class="clearfix">
                <div class="row insight">
                    <div class="flourish-embed" data-src="story/35783"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
                </div>
                <div class="row insight">
                    <div class="flourish-embed" data-src="story/36013"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
                </div>
                <div class="row insight">
                    <div class="flourish-embed" data-src="story/36112"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
                </div>
            </section>
        </article>
    </div>
{% endblock %}
