{% extends '_base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{{ geo1.name }} vs {{ geo2.name }} - {{ block.super }}{% endblock %}
{% block head_css_extra %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/vendor/leaflet-0.6.4.css' %}" />
<link href="{% static 'css/vendor/leaflet.label.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/site.css' %}" />
{% endblock %}
{% block header %}
<style>
    #page-footer, #page-header {
        background: #204d8a;
    }
</style>
<header id="page-header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="{% static 'img/logo0.png' %}" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav text-center">
                        <li><a href="/leaguetable">SCHOOL LEAGUE</a></li>
                        <li><a href="/careerguide">CAREER GUIDE</a></li>
                        <li><a href="/university-finder">UNI FINDER</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</header>
{% endblock %}

{% block head_facebook_tags %}
    <meta property="og:title" content="{{ WAZIMAP.name }} comparison: {{ geo1.name }} vs {{ geo2.name }}" />
    <meta property="og:site_name" content="{{ WAZIMAP.name }}" />
    <meta property="og:url" content="{{ WAZIMAP.url }}{{ request.path }}" />
    <meta property="og:description" content="Compare demographics between {{ geo1.name }} vs {{ geo2.name }}." />
    <meta property="og:type" content="article" />
{% endblock %}

{% block body_class %}profile-head2head-view{% endblock %}

{% block content_container %}

<div class="head2head-wrapper">
    <iframe class="frame-left" scrolling="no" src="{% url 'geography_detail' geography_id=geo_id1 %}"></iframe>
    <iframe class="frame-right" scrolling="no" src="{% url 'geography_detail' geography_id=geo_id2 %}"></iframe>

    <div class="clear"></div>
</div>
{% endblock %}

{% block footer_content %}
    {% include 'footer.html' %}

    <!-- Embed table -->
    <div id="lightbox" style="display: none; color: #000;">
        <div class="hovercard-wrapper">
            <div class="hovercard">
                <small class="close clearfix close-embed" onclick="javascript: closeEmbed();"><i class="fa fa-times-circle"></i> Close</small>
                <h2 style="font-size: 22px;"></h2>
                <p>Copy the code below, then paste into your own CMS or HTML.
                    Embedded league tables are responsive to your page width,
                    and have been tested in Firefox, Safari, Chrome, and IE8 and above.
                </p>
                <textarea></textarea>
            </div>
        </div>
    </div>
{% endblock footer_content %}

{% block body_javascript_extra %}
    <script src="{% static 'js/head2head.js' %}"></script>

    <!-- embed table script -->
    <script type="text/javascript">
        // Fx to show table embed code
        function embedTable(geo_level, geo_code){
            var text = '&lt;iframe src="{{ HURUMAP.url }}/embed/' + geo_level + '/' + geo_code +
            '" frameborder="0" width="100%" height="300" style="margin: 1em; width: 100%;"&gt;&lt;/iframe&gt;';

            $('#lightbox h2').html("");
            $('#lightbox h2').html("Embed code for this league table");

            $('#lightbox textarea').html("");
            $('#lightbox textarea').html(text);
            $('#lightbox').toggle();
        }

        // Fx to show map embed code
        function embedMap(geo_level, geo_code, short_name){
            var short_name = short_name.toLowerCase().replace(/ /g,"-");

            var text = '&lt;iframe src="{{ HURUMAP.url }}/embed/' + geo_level + '-' + geo_code + '-' + short_name +
            '" frameborder="0" width="100%" height="300" style="margin: 1em; width: 100%;"&gt;&lt;/iframe&gt;';

            $('#lightbox h2').html("");
            $('#lightbox h2').html("Embed code for this map");

            $('#lightbox textarea').html("");
            $('#lightbox textarea').html(text);
            $('#lightbox').toggle();
        }

        function closeEmbed(){
            $('#lightbox').toggle();
        }
    </script>
{% endblock %}
