{% extends '_base.html' %}{% load sass_tags staticfiles %}

{% block body_id %}page{% endblock %}

{% block header_content %}
{% include 'blocks/promises-header.html' %}
{% endblock header_content %}

{% block content_container %}

<div class="showcase how-it-works text-center">
	<div class="wrapper clearfix">
		<h4>FULFILLED PROMISES</h4>
		<br/>
	</div>
  <div class="wrapper clearfix">
    <!--Start of  card section-->
    <div class="container pt-5">
      <!--Start of card row-->
      <div class="row pt-5 pb-5">
        <div class="col-6">
          <table class="table table-bordered bg-light">
            <tbody>
              <tr>
                <td class="table-img">
                  <img class="img-width d-block p-0" src="{% static 'img/tracker/status/fulfilled-portrait.svg' %}" alt="Fulfilled">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary-label rounded-0 pull-right" type="button">HEALTH</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>
              <tr>
                <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <table class="table table-bordered bg-light">
            <tbody>
              <tr>
                <td class="table-img">
                  <img class="img-width d-block p-0" src="{% static 'img/tracker/status/fulfilled-portrait.svg' %}" alt="Fulfilled">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary-label rounded-0 pull-right" type="button">HOUSING</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>
              <tr>
                <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--end of first row-->
        <div>
          <!--start of second card row-->
          <div class="row pt-5 pl-4 pb-5">
            <div class="col-6 pl-0">
              <table class="table table-bordered bg-light">
                <tbody>
                  <tr>
                    <td class="table-img">
                      <img class="img-width d-block p-0" src="{% static 'img/tracker/status/fulfilled-portrait.svg' %}" alt="Fulfilled">
                    </td>
                    <td colspan="3">
                      <button class="btn btn-primary-label rounded-0 pull-right" type="button">TRAFFIC MANAGEMENT</button>
                      <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                    </td>
                  </tr>
                  <tr>
                    <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                    <td colspan="3">
                      <div class="d-flex flex-row">
                        <p class="offset-1"><img src="{% static 'img/tracker/share.svg' %}" height="15px" width="15px"> Share</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/watch.svg' %}" height="15px" width="15px"> Watch</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-6">
              <table class="table table-bordered bg-light">
                <tbody>
                  <tr>
                    <td class="table-img">
                      <img class="img-width d-block p-0" src="{% static 'img/tracker/status/fulfilled-portrait.svg' %}" alt="Fulfilled">
                    </td>
                    <td colspan="3">
                      <button class="btn btn-primary-label rounded-0 pull-right" type="button" >HEALTH</button>
                      <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                    </td>
                  </tr>
                  <tr>
                    <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                    <td colspan="3">
                      <div class="d-flex flex-row">
                        <p class="offset-1"><img src="{% static 'img/tracker/share.svg' %}" height="15px" width="15px"> Share</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/watch.svg' %}" height="15px" width="15px"> Watch</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--end of second row-->
          </div>
        </div>
        <!--Start of third card row-->
        <div class="row pt-5 pl-4 pb-5">
            <div class="col-6 pl-0">
              <table class="table table-bordered bg-light">
                <tbody>
                  <tr>
                    <td class="table-img">
                      <img class="img-width d-block p-0" src="{% static 'img/tracker/status/fulfilled-portrait.svg' %}" alt="Fulfilled">
                    </td>
                    <td colspan="3">
                      <button class="btn btn-primary-label rounded-0 pull-right" type="button">HEALTH</button>
                      <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                    </td>
                  </tr>
                  <tr>
                    <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                    <td colspan="3">
                      <div class="d-flex flex-row">
                        <p class="offset-1"><img src="{% static 'img/tracker/share.svg' %}" height="15px" width="15px"> Share</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/watch.svg' %}" height="15px" width="15px"> Watch</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-6">
              <table class="table table-bordered bg-light">
                <tbody>
                  <tr>
                    <td class="table-img">
                      <img class="img-width d-block p-0" src="{% static 'img/tracker/status/fulfilled-portrait.svg' %}" alt="Fulfilled">
                    </td>
                    <td colspan="3">
                      <button class="btn btn-primary-label rounded-0 pull-right" type="button" >HOUSING</button>
                      <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                    </td>
                  </tr>
                  <tr>
                    <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                    <td colspan="3">
                      <div class="d-flex flex-row">
                        <p class="offset-1"><img src="{% static 'img/tracker/share.svg' %}" height="15px" width="15px"> Share</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/watch.svg' %}" height="15px" width="15px"> Watch</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--end of second row-->
          </div>
        </div>
        <!--Stand-alone row-->
        <div class="row pb-5">
            <div class="col-6 pl-0">
              <table class="table table-bordered bg-light">
                <tbody>
                  <tr>
                    <td class="table-img">
                      <img class="img-width d-block p-0" src="{% static 'img/tracker/status/fulfilled-portrait.svg' %}" alt="Fulfilled">
                    </td>
                    <td colspan="3">
                      <button class="btn btn-primary-label rounded-0 pull-right" type="button">TRAFFIC MANAGEMENT</button>
                      <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                    </td>
                  </tr>
                  <tr>
                    <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                    <td colspan="3">
                      <div class="d-flex flex-row">
                        <p class="offset-1"><img src="{% static 'img/tracker/share.svg' %}" height="15px" width="15px"> Share</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/watch.svg' %}" height="15px" width="15px"> Watch</p>
                        <p class="offset-1"><img src="{% static 'img/tracker/clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--end of standalone-->
          <!--./end of fulfilled card section-->
          </div>
      </div>
  </div>
  {% endblock %}