{% extends '_base.html' %}{% load sass_tags staticfiles %}

{% block body_id %}page{% endblock %}

{% block header_content %}
<div class="promises-header clearfix">
	<div class="wrapper content-container">
		<div class="column-third text-left">
			<h2>Promises</h2>
			<div>
				<p style="margin:0;">Population: 3,138,369</p>
				<p>Area: 696 sq.km</p>
			</div>
			<p>Censes data: 2009</p>
		</div>
		<div class="column-third">
			<div class="form-group">
				<input type="text" class="form-control form-control-lg border-right-5" id="validationDefault03" 
				placeholder=" Search" required >
			</div>
		</div>
		<div class="column-third push-right">
			<img src="http://via.placeholder.com/30x30" class="presentation-img rounded-circle">
		</div>
	</div>
</div>
<div class="container p-0" style="height:350px;width:100%;max-width:1480px;">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d510564.6498664422!2d36.56720029142611!3d-1.3031933719272912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1172d84d49a7%3A0xf7cf0254b297924c!2sNairobi!5e0!3m2!1sen!2ske!4v1523613390419" width="1480" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endblock header_content %}

{% block content_container %}

<div class="showcase how-it-works text-center">
	<div class="wrapper clearfix">
		<h2>Fulfilled Promises</h2>
		<br/>
	</div>

  <!--fulfilled card section-->
  <div class="container pt-5">
    <div class="row pt-5 pb-5">
      <div class="col-6">
        <table class="table table-bordered bg-light" style="height:180px;width:600px;">
          <tbody>
            <tr>
              <td style="width:120px;height:150px;">
                <img class="p-0" src="{% static 'img/tracker/statuses/Fulfilled-portrait.svg' %}" alt="Fulfilled"
                style="display:block;width:100%;">
              </td>
              <td colspan="3">
                <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px">Health</button>
                <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
              </td>
            </tr>

            <tr>
              <td><p class="font-weight-normal text-center">FULFILLED</p></td>
              <td colspan="3">
                <div class="d-flex flex-row">
                  <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                  <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                  <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="col-6" style="padding-left:8rem">
        <table class="table table-bordered bg-light" style="height:180px;width:600px;">
          <tbody>
            <tr>
              <td style="width:120px;height:150px;">
                <img class="p-0" src="{% static 'img/tracker/statuses/Fulfilled-portrait.svg' %}" alt="Fulfilled"
                style="display:block;width:100%;">
              </td>
              <td colspan="3">
                <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px">Housing</button>
                <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
              </td>
            </tr>

            <tr>
              <td><p class="font-weight-normal text-center">FULFILLED</p></td>
              <td colspan="3">
                <div class="d-flex flex-row">
                  <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                  <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                  <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <!--start of second row-->
      <div class="row pt-5 pb-5">
        <div class="col-6">
          <table class="table table-bordered bg-light" style="height:180px;width:600px;">
            <tbody>
              <tr>
                <td style="width:120px;height:150px;">
                  <img class="p-0" src="{% static 'img/tracker/statuses/Fulfilled-portrait.svg' %}" alt="Fulfilled"
                  style="display:block;width:100%;">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px">Traffic Management</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>
              <tr>
                <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-6" style="padding-left:8rem">
          <table class="table table-bordered bg-light" style="height:180px;width:600px;">
            <tbody>
              <tr>
                <td style="width:120px;height:150px;">
                  <img class="p-0" src="{% static 'img/tracker/statuses/Fulfilled-portrait.svg' %}" alt="Fulfilled"
                  style="display:block;width:100%;">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px">Health</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>

              <tr>
                <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
    <!--./end of fulfilled card section-->


  </div>

{% endblock %}