{% extends '_base.html' %}{% load sass_tags staticfiles %}

{% block body_id %}page{% endblock %}

{% block header_content %}
{% include 'blocks/promises-header.html' %}
{% endblock header_content %}

{% block content_container %}

<div class="showcase how-it-works text-center">
	<div class="wrapper clearfix">
		<h4>HEALTH PROMISES</h4>
		<br/>
	</div>

<div class="wrapper clearfix">


  <div class="container">
      <div class="row">
        <div class="col-6 pull-left">
          <div class="row d-flex flex-row justify-content-start">
            <p><i class="fa fa-3x fa-angle-left pr-4" aria-hidden="true" style="color:#0067A3;"></i><strong class="pr-4">GO BACK</strong><span> Showing 1 - 7 of 7 promises</span></p>
          </div>
        </div>
        <div clas="col-6 text-left">
          <div class="d-flex flex-row justify-content-start">
            <div class="row d-flex flex-row justify-content-end pb-5" style="color:#006699;">
              <p class="small pt-3 pb-3">Filter by:</p>
              <div class="d-flex flex-row judtify-content-end pl-4 pt-2 pr-5 ">
                <div class="dropdown pl-4">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;border-color:#0067A3;background-color:#0067A3;">FULFILLED
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </div>
                  <div class="dropdown pl-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;border-color:#0067A3;background-color:#0067A3;">CATEGORY
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                      </ul>
                    </div>
                    <div class="dropdown pl-4">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"style="border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;border-color:#0067A3;background-color:#0067A3;">DURATION
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#"></a></li>
                          <li><a href="#"></a></li>
                          <li><a href="#"></a></li>
                        </ul>
                      </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>





  <!--fulfilled card section-->
  <div class="container pt-5">
    <div class="row pt-5 pb-5">
      <div class="col-6">
        <table class="table table-bordered bg-light" style="height:180px;width:520px;">
          <tbody>
            <tr>
              <td style="width:120px;height:150px;">
                <img class="p-0" src="{% static 'img/tracker/statuses/Fulfilled-portrait.svg' %}" alt="Fulfilled"
                style="display:block;width:100%;">
              </td>
              <td colspan="3">
                <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px;background-color: #0067A3;color: #ededed;">HEALTH</button>
                <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
              </td>
            </tr>

            <tr>
              <td><p class="font-weight-normal text-center">FULFILLED</p></td>
              <td colspan="3">
                <div class="d-flex flex-row">
                  <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                  <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                  <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="col-6">
        <table class="table table-bordered bg-light" style="height:180px;width:520px;">
          <tbody>
            <tr>
              <td style="width:120px;height:150px;">
                <img class="p-0" src="{% static 'img/tracker/statuses/Stalled-portrait.svg' %}" alt="Fulfilled"
                style="display:block;width:100%;">
              </td>
              <td colspan="3">
                <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px;background-color: #0067A3;color: #ededed;">HEALTH</button>
                <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
              </td>
            </tr>

            <tr>
              <td><p class="font-weight-normal text-center">STALLED</p></td>
              <td colspan="3">
                <div class="d-flex flex-row">
                  <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                  <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                  <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <!--start of second row-->
      <div class="row pt-5 pl-3 pb-5">
        <div class="col-6">
          <table class="table table-bordered bg-light" style="height:180px;width:520px;">
            <tbody>
              <tr>
                <td style="width:120px;height:150px;">
                  <img class="p-0" src="{% static 'img/tracker/statuses/In Progress-portrait.svg' %}" alt="Fulfilled"
                  style="display:block;width:100%;">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px;background-color: #0067A3;color: #ededed;">HEALTH</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>
              <tr>
                <td><p class="font-weight-normal text-center">IN PROGRESS</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-6 pl-4">
          <table class="table table-bordered bg-light" style="height:180px;width:520px;">
            <tbody>
              <tr>
                <td style="width:120px;height:150px;">
                  <img class="p-0" src="{% static 'img/tracker/statuses/Fulfilled-portrait.svg' %}" alt="Fulfilled"
                  style="display:block;width:100%;">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px;background-color: #0067A3;color: #ededed;">HEALTH</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>
              <tr>
                <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
    <!--./end of fulfilled card section-->


<!--start of third row-->
      <div class="row pl-3 pb-5">
        <div class="col-6">
          <table class="table table-bordered bg-light" style="height:180px;width:520px;">
            <tbody>
              <tr>
                <td style="width:120px;height:150px;">
                  <img class="p-0" src="{% static 'img/tracker/statuses/Unfulfilled-portrait.svg.svg' %}" alt="Fulfilled"
                  style="display:block;width:100%;">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px;background-color: #0067A3;color: #ededed;">HEALTH</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>
              <tr>
                <td><p class="font-weight-normal text-center">IN PROGRESS</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-6 pl-4">
          <table class="table table-bordered bg-light" style="height:180px;width:520px;">
            <tbody>
              <tr>
                <td style="width:120px;height:150px;">
                  <img class="p-0" src="{% static 'img/tracker/statuses/Fulfilled-portrait.svg' %}" alt="Fulfilled"
                  style="display:block;width:100%;">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px;background-color: #0067A3;color: #ededed;">HEALTH</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>
              <tr>
                <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>


    <!--start of fourth row-->
      <div class="row pt-5 pl-3 pb-5">
        <div class="col-6">
          <table class="table table-bordered bg-light" style="height:180px;width:520px;">
            <tbody>
              <tr>
                <td style="width:120px;height:150px;">
                  <img class="p-0" src="{% static 'img/tracker/statuses/In Progress-portrait.svg' %}" alt="Fulfilled"
                  style="display:block;width:100%;">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px;background-color: #0067A3;color: #ededed;">HEALTH</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>
              <tr>
                <td><p class="font-weight-normal text-center">IN PROGRESS</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-6 pl-4">
          <table class="table table-bordered bg-light" style="height:180px;width:520px;">
            <tbody>
              <tr>
                <td style="width:120px;height:150px;">
                  <img class="p-0" src="{% static 'img/tracker/statuses/Fulfilled-portrait.svg' %}" alt="Fulfilled"
                  style="display:block;width:100%;">
                </td>
                <td colspan="3">
                  <button class="btn btn-primary rounded-0 pull-right" type="button" style="margin-top:-28px;background-color: #0067A3;color: #ededed;">HEALTH</button>
                  <div class="pt-2"><p class="text-center pt-5">Review and review country health care system</p></div>
                </td>
              </tr>
              <tr>
                <td><p class="font-weight-normal text-center">FULFILLED</p></td>
                <td colspan="3">
                  <div class="d-flex flex-row">
                    <p class="offset-1"><img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> Share</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
                    <p class="offset-1"><img src="{% static 'img/tracker/Clap.svg' %}" height="15px" width="15px"> Congratulate</p>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>



      <div class="d-flex flex-row justify-content-center" >
        <nav aria-label="Navigation" style="color:#707070;">
          <ul class="pagination">
            <li class="page-item">
              <a class="pl-1" href="#" aria-label="Previous">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="pl-1 links" href="#">1</a></li>
            <li class="page-item"><a class="pl-1 links" href="#">2</a></li>
            <li class="page-item"><a class="pl-1 links" href="#">3</a></li>
            <li class="page-item">
              <a class="pl-1" href="#" aria-label="Next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
  
    </div>


  </div>
  </div>
</div>
  {% endblock %}