{% extends '_base.html' %}{% load sass_tags staticfiles %}

{% block body_id %}page{% endblock %}

{% block header_content %}
{% include 'blocks/promises-header.html' %}
{% endblock header_content %}

{% block content_container %}
<div class="showcase how-it-works text-center">
  <div class="wrapper clearfix">
    <h4>ALL PROMISES</h4>
    <br/>
  </div>
  <div class="container">
    <div class="row d-flex flex-row justify-content-end pb-5" style="color:#006699;">
      <p class="small pt-3 pb-3">Group by:</p>
      <div class="btn-group pl-4 pr-5" role="group" aria-label="Group by"">
        <button type="button" class="btn btn-primary pl-4 pr-3 border-2" style="border-top-left-radius:50px;border-bottom-left-radius:50px;border-color:#0067A3;background-color:#0067A3!important;">STATUS</button>
        <button type="button" class="btn pr-4 border-2" disabled style="border-top-right-radius:50px;border-bottom-right-radius:50px;border-color:#808080;background-color:#f9f9f9!important;">CATEGORY</button>
      </div>
    </div>

    <div class="row pt-5">
      <!--Start of Card-->
      <div class="col-4">
        <div class="status-card card p-0 body-text">
          <div class="status-card-height d-flex flex-row">
            <div class="col-6 p-0">
              <img class="status-img card-img p-0 pl-0" src="{% static 'img/tracker/categories/Health.svg' %}">
            </div>
            <div class="col-6 p-0">
              <div class="">
                <p class="lead pr-5"><b class="text-large">14 </b><span style="font-size:14px;"> Promises</span></p>
                <p class="lead pt-0 pr-4"><b style="font-size:28px;">7% </b><span style="font-size:14px;"> Complete</span></p>
              </div>
            </div>
          </div>
          <div class="card-block border">
          <div class="d-flex flex-row">
            <div class="justify-content-start font-weight-light">
              <p class="pl-4"><b>1</b></p>
              <p class="pl-4 pt-2 ml-5">Fulfilled</p>
              <p class="pl-4"><b>0</b></p>
              <p class="pt-2 pl-4 ml-5">In Progress</p>
            </div>
            <div class="justify-content-end offset-1 font-weight-light">
              <p><b>13</b><br></p>
              <p class="pt-2 pl-5">Unfulfilled</p>
              <p><b>0</b><br></p>
              <p class="pt-2 pl-4">Stalled</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row pb-3 pt-3">
          <p class="pt-0 mr-auto">
            <img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> 
            <span >Share</span></p>
            <p class="pt-0"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
          </div>
        </div>
      </div>
      <!--Second card column-->
      <div class="col-4">
        <div class="status-card card p-0 body-text">
          <div class="status-card-height d-flex flex-row">
            <div class="col-6 p-0">
              <img class="status-img card-img p-0 pl-0" src="{% static 'img/tracker/categories/Housing.svg' %}" >
            </div>
            <div class="col-6 p-0">
              <div class="">
                <p class="lead pr-5"><b class="text-large">14 </b><span style="font-size:14px;"> Promises</span></p>
                <p class="lead pt-0 pr-4"><b style="font-size:28px;">7% </b><span style="font-size:14px;"> Complete</span></p>
              </div>
            </div>
          </div>
          <div class="card-block border">
          <div class="d-flex flex-row">
            <div class="justify-content-start font-weight-light">
              <p class="pl-4"><b>1</b></p>
              <p class="pl-4 pt-2 ml-5">Fulfilled</p>
              <p class="pl-4"><b>0</b></p>
              <p class="pt-2 pl-4 ml-5">In Progress</p>
            </div>
            <div class="justify-content-end offset-1 font-weight-light">
              <p><b>13</b><br></p>
              <p class="pt-2 pl-5">Unfulfilled</p>
              <p><b>0</b><br></p>
              <p class="pt-2 pl-4">Stalled</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row pb-3 pt-3">
          <p class="pt-0 mr-auto">
            <img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> 
            <span >Share</span></p>
            <p class="pt-0"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
          </div>
        </div>
      </div>
      <!--Third card column-->
      <div class="col-4">
        <div class="status-card card p-0 body-text">
          <div class="status-card-height d-flex flex-row">
            <div class="col-6 p-0">
              <img class="status-img card-img p-0 pl-0" src="{% static 'img/tracker/categories/Jobs.svg' %}">
            </div>
            <div class="col-6 p-0">
              <div class="">
                <p class="lead pr-5"><b class="text-large">14 </b><span style="font-size:14px;"> Promises</span></p>
                <p class="lead pt-0 pr-4"><b style="font-size:28px;">7% </b><span style="font-size:14px;"> Complete</span></p>
              </div>
            </div>
          </div>
          <div class="card-block border">
          <div class="d-flex flex-row">
            <div class="justify-content-start font-weight-light">
              <p class="pl-4"><b>1</b></p>
              <p class="pl-4 pt-2 ml-5">Fulfilled</p>
              <p class="pl-4"><b>0</b></p>
              <p class="pt-2 pl-4 ml-5">In Progress</p>
            </div>
            <div class="justify-content-end offset-1 font-weight-light">
              <p><b>13</b><br></p>
              <p class="pt-2 pl-5">Unfulfilled</p>
              <p><b>0</b><br></p>
              <p class="pt-2 pl-4">Stalled</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row pb-3 pt-3">
          <p class="pt-0 mr-auto">
            <img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> 
            <span >Share</span></p>
            <p class="pt-0"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
          </div>
        </div>
      </div>

      <!--Container starts here-->
      <div class="container pt-5">
        <div class="row pt-5">
          <div class="col-4">
            <div class="status-card card p-0 body-text">
              <div class="status-card-height d-flex flex-row">
                <div class="col-6 p-0">
                  <img class="status-img card-img p-0 pl-0" src="{% static 'img/tracker/categories/Governance.svg' %}">
                </div>
                <div class="col-6 p-0">
                  <div class="">
                    <p class="lead pr-5"><b class="text-large">14 </b><span style="font-size:14px;"> Promises</span></p>
                    <p class="lead pt-0 pr-4"><b style="font-size:28px;">7% </b><span style="font-size:14px;"> Complete</span></p>
                  </div>
                </div>
              </div>
              <div class="card-block border">
              <div class="d-flex flex-row">
                <div class="justify-content-start font-weight-light">
                  <p class="pl-4"><b>1</b></p>
                  <p class="pl-4 pt-2 ml-5">Fulfilled</p>
                  <p class="pl-4"><b>0</b></p>
                  <p class="pt-2 pl-4 ml-5">In Progress</p>
                </div>
                <div class="justify-content-end offset-1 font-weight-light">
                  <p><b>13</b><br></p>
                  <p class="pt-2 pl-5">Unfulfilled</p>
                  <p><b>0</b><br></p>
                  <p class="pt-2 pl-4">Stalled</p>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row pb-3 pt-3">
              <p class="pt-0 mr-auto">
                <img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> 
                <span >Share</span></p>
                <p class="pt-0"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="status-card card p-0 body-text">
              <div class="status-card-height d-flex flex-row">
                <div class="col-6 p-0">
                  <img class="status-img card-img p-0 pl-0" src="{% static 'img/tracker/categories/Environment.svg' %}">
                </div>
                <div class="col-6 p-0">
                  <div class="">
                    <p class="lead pr-5"><b class="text-large">14 </b><span style="font-size:14px;"> Promises</span></p>
                    <p class="lead pt-0 pr-4"><b style="font-size:28px;">7% </b><span style="font-size:14px;"> Complete</span></p>
                  </div>
                </div>
              </div>
              <div class="card-block border">
              <div class="d-flex flex-row">
                <div class="justify-content-start font-weight-light">
                  <p class="pl-4"><b>1</b></p>
                  <p class="pl-4 pt-2 ml-5">Fulfilled</p>
                  <p class="pl-4"><b>0</b></p>
                  <p class="pt-2 pl-4 ml-5">In Progress</p>
                </div>
                <div class="justify-content-end offset-1 font-weight-light">
                  <p><b>13</b><br></p>
                  <p class="pt-2 pl-5">Unfulfilled</p>
                  <p><b>0</b><br></p>
                  <p class="pt-2 pl-4">Stalled</p>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row pb-3 pt-3">
              <p class="pt-0 mr-auto">
                <img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> 
                <span >Share</span></p>
                <p class="pt-0"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="status-card card p-0 body-text">
              <div class="status-card-height d-flex flex-row">
                <div class="col-6 p-0">
                  <img class="status-img card-img p-0 pl-0" src="{% static 'img/tracker/categories/Traffic Management.svg' %}" >
                </div>
                <div class="col-6 p-0">
                  <div class="">
                    <p class="lead pr-5"><b class="text-large">14 </b><span style="font-size:14px;"> Promises</span></p>
                    <p class="lead pt-0 pr-4"><b style="font-size:28px;">7% </b><span style="font-size:14px;"> Complete</span></p>
                  </div>
                </div>
              </div>
              <div class="card-block border">
              <div class="d-flex flex-row">
                <div class="justify-content-start font-weight-light">
                  <p class="pl-4"><b>1</b></p>
                  <p class="pl-4 pt-2 ml-5">Fulfilled</p>
                  <p class="pl-4"><b>0</b></p>
                  <p class="pt-2 pl-4 ml-5">In Progress</p>
                </div>
                <div class="justify-content-end offset-1 font-weight-light">
                  <p><b>13</b><br></p>
                  <p class="pt-2 pl-5">Unfulfilled</p>
                  <p><b>0</b><br></p>
                  <p class="pt-2 pl-4">Stalled</p>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row pb-3 pt-3">
              <p class="pt-0 mr-auto">
                <img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> 
                <span >Share</span></p>
                <p class="pt-0"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
              </div>
            </div>
          </div>
          <div class="col-4 pt-5">
            <div class="status-card card p-0 body-text">
              <div class="status-card-height d-flex flex-row">
                <div class="col-6 p-0">
                  <img class="status-img card-img p-0 pl-0" src="{% static 'img/tracker/categories/Social Inclusion.svg' %}" >
                </div>
                <div class="col-6 p-0">
                  <div class="">
                    <p class="lead pr-5"><b class="text-large">14 </b><span style="font-size:14px;"> Promises</span></p>
                    <p class="lead pt-0 pr-4"><b style="font-size:28px;">7% </b><span style="font-size:14px;"> Complete</span></p>
                  </div>
                </div>
              </div>
              <div class="card-block border">
              <div class="d-flex flex-row">
                <div class="justify-content-start font-weight-light">
                  <p class="pl-4"><b>1</b></p>
                  <p class="pl-4 pt-2 ml-5">Fulfilled</p>
                  <p class="pl-4"><b>0</b></p>
                  <p class="pt-2 pl-4 ml-5">In Progress</p>
                </div>
                <div class="justify-content-end offset-1 font-weight-light">
                  <p><b>13</b><br></p>
                  <p class="pt-2 pl-5">Unfulfilled</p>
                  <p><b>0</b><br></p>
                  <p class="pt-2 pl-4">Stalled</p>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row pb-3 pt-3">
              <p class="pt-0 mr-auto">  
                <img src="{% static 'img/tracker/Share.svg' %}" height="15px" width="15px"> 
                <span >Share</span></p>
                <p class="pt-0"><img src="{% static 'img/tracker/Watch.svg' %}" height="15px" width="15px"> Watch</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'blocks/info-card.html' %}
  {% include 'blocks/buttons.html' %}
  {% include 'blocks/newsletter.html' %}

</div>
</div>
{% endblock %}