{% load i18n %}
{% load staticfiles %}
<!-- <div class="content-container wrapper clearfix" style="overflow:auto;">
    <div class="holder" style="width: 100%; margin-bottom: 0px;">
        <div class="" style="width: 49%; margin-bottom: 0px; float: left;">
            <h2><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;10 Best Schools in {{ geography.this.short_name }}</h2>
            <br />
            <table class="TFtable" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align:left;  min-width: 5px;">No</th>
                        <th style="text-align:left;">Name</th>
                        <th style="min-width: 10px;">Pass Rate</th>
                        <th>National Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools.best_schools|slice:":10" %}
                        <tr>
                            <td style="text-align:left; min-width: 5px;">{{ forloop.counter }}</td>
                            <td><a href="/schools/{{ school.code }}">{{ school.name }}</a></a></td>
                            <td style="text-align:center;">{{ school.pass_rate }}</td>
                            <td style="text-align:center;">{{ school.national_rank_all }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div style="width: 49%; margin-bottom: 0px; float: right;">
            <h2><i class="fa fa-arrow-down"></i>&nbsp;&nbsp;10 Worst Schools in {{ geography.this.short_name }}</h2>
            <br />
            <table class="TFtable" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align:left;min-width: 5px;">No</th>
                        <th style="text-align:left;">Name</th>
                        <th style="min-width: 10px;">Pass Rate</th>
                        <th>National Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools.worst_schools|slice:":10" %}
                        <tr>
                            <td style="text-align:left;min-width: 5px;">{{ forloop.counter }}</td>
                            <td><a href="/schools/{{ school.code }}">{{ school.name }}</a></a></td>
                            <td style="text-align:center;">{{ school.pass_rate }}</td>
                            <td style="text-align:center;">{{ school.national_rank_all }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div> -->
<div class="content-container wrapper clearfix" style="overflow:auto;">
<div class="container">
    <div class="row">
      <div class="col-md-12">

          <!--
          * =================================
          * Top School List
          * =================================
          -->
          <div class="col-md-6">
              <h3 class="title text-center">{%trans '10 Top Schools' %} </h3>
              <h4 class="title text-center">{%trans 'Schools Category with 40 Students and More' %}</h4>
              <ul id="best-40" class="list-group school">
                {% for school in schools.best_schools_more_40|slice:":10" %}
                  <li class="list-group-item">
                      <a href="/leaguetable/schools/{{ school.code }}">
                          <div class="col-xs-5">
                              <div class="school-name">{{ school.name | title }} School</div>
                              <div class="school-type">{{ school.gender | title }}</div>
                          </div>
                          <div class="col-xs-5">
                              <div class="school-rank">#{{ school.national_rank_all }} {%trans 'in' %} Tanzania</div>
                              <div class="school-rank">#{{ school.regional_rank_all }} {%trans 'in' %} {{ school.region | title }}</div>
                          </div>
                          <div class="col-xs-2">
                              {{ school.avg_gpa | floatformat:3 }} GPA
                          </div>
                      </a>
                  </li>
                {% endfor %}
              </ul>
          </div>
          <!--
          * =================================
          * Lowest School List
          * =================================
          -->
          <div class="col-md-6">
            <h3 class="title text-center">{% trans '10 Lowest Schools' %} </h3>
            <h4 class="title text-center">{% trans 'Schools Category with 40 Students and More' %}</h4>
              <ul id="worst-40" class="list-group school">
                {% for school in schools.worst_schools_more_40|slice:":10" %}
                <li class="list-group-item">
                    <a href="/leaguetable/schools/{{ school.code }}">
                        <div class="col-xs-5">
                            <div class="school-name">{{ school.name | title }} School</div>
                            <div class="school-type">{{ school.gender | title }}</div>
                        </div>
                        <div class="col-xs-5">
                            <div class="school-rank">#{{ school.national_rank_all }} {%trans 'in' %} Tanzania</div>
                            <div class="school-rank">#{{ school.regional_rank_all }} {%trans 'in' %} {{ school.region | title }}</div>
                        </div>
                        <div class="col-xs-2">
                            {{ school.avg_gpa | floatformat:3 }} GPA
                        </div>
                    </a>
                </li>
                  {% endfor %}
              </ul>
          </div>
      </div>

      <div class="col-md-12">

          <!--
          * =================================
          * Top School List
          * =================================
          -->
          <div class="col-md-6">
            <h3 class="title text-center">{% trans '10 Top Schools' %} </h3>
            <h4 class="title text-center">{% trans 'Schools Category with less than 40 Students' %}</h4>
              <ul id="best" class="list-group school">
                {% for school in schools.best_schools_less_40|slice:":10" %}
                <li class="list-group-item">
                    <a href="/leaguetable/schools/{{ school.code }}">
                        <div class="col-xs-5">
                            <div class="school-name">{{ school.name | title }} School</div>
                            <div class="school-type">{{ school.gender | title }}</div>
                        </div>
                        <div class="col-xs-5">
                            <div class="school-rank">#{{ school.national_rank_all }} {%trans 'in' %} Tanzania</div>
                            <div class="school-rank">#{{ school.regional_rank_all }} {%trans 'in' %} {{ school.region | title }}</div>
                        </div>
                        <div class="col-xs-2">
                            {{ school.avg_gpa | floatformat:3 }} GPA
                        </div>
                    </a>
                </li>
                {% endfor %}
              </ul>
          </div>
          <!--
          * =================================
          * Lowest School List
          * =================================
          -->
          <div class="col-md-6">
            <h3 class="title text-center">{% trans '10 Lowest Schools' %} </h3>
            <h4 class="title text-center">{% trans 'Schools Category less than 40 Students' %}</h4>
              <ul id="worst" class="list-group school">
                {% for school in schools.worst_schools_less_40|slice:":10" %}
                <li class="list-group-item">
                    <a href="/leaguetable/schools/{{ school.code }}">
                        <div class="col-xs-5">
                            <div class="school-name">{{ school.name | title }} School</div>
                            <div class="school-type">{{ school.gender | title }}</div>
                        </div>
                        <div class="col-xs-5">
                            <div class="school-rank">#{{ school.national_rank_all }} {%trans 'in' %} Tanzania</div>
                            <div class="school-rank">#{{ school.regional_rank_all }} {%trans 'in' %} {{ school.region | title }}</div>
                        </div>
                        <div class="col-xs-2">
                            {{ school.avg_gpa | floatformat:3 }} GPA
                        </div>
                    </a>
                </li>
                  {% endfor %}
              </ul>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
