{% extends 'profile/profile_detail.html' %}
{% load i18n %}
{% load staticfiles %}
{% block head_css_extra %}
<link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/vendor/leaflet-0.6.4.css' %}" />
<link href="{% static 'css/vendor/leaflet.label.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/site.css' %}" />
{% endblock %}
{% block header %}
<style>
    #page-footer {
        background: #2E4668;
        padding: 10px 30px 30px;
    }
    #page-footer img {
      max-height: 100%;
      margin: 0;
    }
</style>
<header id="page-header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">
                      <img class="logo" src="{% static 'img/logo0.png' %}" />
                  </a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav text-center">
                      <li><a href="/leaguetable">SCHOOL LEAGUE</a></li>
                      <li><a href="/careerguide">CAREER GUIDE</a></li>
                      <li><a href="/university-finder">UNI FINDER</a></li>
                      <li><a href="/about">ABOUT</a></li>
                      <li>
                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                          <input name="next" type="hidden" value="{{ redirect_to }}" />
                          {% get_current_language as LANGUAGE_CODE %}
                          {% ifequal LANGUAGE_CODE "en" %}
                              <!-- {{ language.name_local }} ({{ language.code }}) -->
                            <input type="hidden" name="language" value="sw" />
                            <input type="image" value="submit" src="{% static 'img/tz.png' %}" style="padding-top: 17px;" />
                          {% else %}
                            <input  type="hidden" name="language" value="en" />
                            <input type="image" value="submit" src="{% static 'img/us.png' %}" style="padding-top: 17px;" />
                          {% endifequal %}
                          <!-- </select> -->
                      </form>
                      </li>
                      <!-- <li><a href="/contact">CONTACT US</a></li> -->
                  </ul>
              </div>
          </div>
      </nav>
</header>
<div class="main-content">
{% block header_content %}
<div id="cover-map" class="clearfix">
    <div id="slippy-map"></div>
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header id="header-box" class="column-full">
                <h1 class="title">{{ school.name }}</h1>
                <p class="caption">
                  {{ geography.this.geo_level|capfirst }}
                  {% if geography.parents %}
                      in
                      {% for level, g in geography.parents.items %}
                        <a href="/leaguetable/profiles/{{ g.full_geoid }}-{{ g.short_name|slugify }}/">{{ g.short_name }}</a>{% if not forloop.last %},{%endif%}
                      {% endfor %}
                  {% endif %}
                </p>
            </header>

            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        Location
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
</div>
{% endblock %}

{% block profile_preamble %}
    <div class="clearfix wrapper" style="min-height: 300px;">
        <br />
        <h2><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;&nbsp;Stats</h2>
        <hr />
        <br/><br />

        <div class="column-third">
            <h3>{{ school.ownership }}</h3>
            <h3>Ownership</h3>
        </div>

        <div class="column-third">
            <h3>{{ school.pass_rate }}</h3>
            <h3>Pass Rate</h3>
        </div>

        <div class="column-third">
            <h3>{{ school.avg_gpa }}</h3>
            <h3>Average GPA</h3>
        </div>
    </div>
    <br />
    <br />
{% endblock %}

{% block profile_detail %}
    <div class="clearfix wrapper" style="min-height: 500px;">
        <br />
        <h2><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;&nbsp;Performance Trend</h2>
        <hr />
        <br/><br />
    </div>
    <br />
    <br />
{% endblock %}
