<div class="showcase clearfix partners {{ extra_css_class }}">
    <div class="wrapper text-center">
        <h2>Partners</h2>
        <p>HURUmap is made possible through support from the following
            partners:</p>

        <a href="https://codeforafrica.org/" target="_blank" rel="noopener">
            <img src="{{ STATIC_URL }}img/logos/cfafrica.png"
                 alt="Code for Africa"></a>

        <a href="https://ihub.co.ke" target="_blank" rel="noopener">
            <img src="{{ STATIC_URL }}img/logos/ihub-kenya.png"
                 alt="iHub"></a>
        <br/>
        <a href="https://www.gatesfoundation.org/" target="_blank"
           rel="noopener">
            <img src="{{ STATIC_URL }}img/logos/bmgf.png" alt="BMGF"></a>
        <a href="https://africapractice.com" target="_blank" rel="noopener">
            <img src="{{ STATIC_URL }}img/logos/ap-logo.gif"
                 alt="Africa Practice"></a>

    </div>
</div>