{% extends 'homepage.html' %}

{% block body_id %}page{% endblock %}
{% block content_container %}
    <div class="content container-narrowest clearfix">
        <h1>About {{ HURUMAP.name }}</h1>
        <p>{{ HURUMAP.name }} contains three different tools: School league, Career guide and University finder.</p>
        <p>{{ HURUMAP.name }} School League gives infomediaries like journalists and civic activists an easy ‘plug & play’ toolkit for finding school rankings information and embedding interactive data visualisations into their storytelling. The tool's underlying data is quality-checked, from reputable official sources including the government Census, PEPFAR and Uwezo.</p>
        <p>{{ HURUMAP.name }} Career Guide assists student to find schools to go in any location that align best with their career choice </p>
        <p>{{ HURUMAP.name }} University Finder helps Advance Level Students to find the best possible university course to attend based on their ACSEE erformance and preferences. </p>
        <p>The school league tool is built on <a href="http://wazimap.readthedocs.org/" target="_blank" rel="noopener">Wazimap</a>, an open source platform by <a href="https://openup.org.za/" target="_blank" rel="noopener">OpenUp</a> and <a href="http://www.mediamonitoringafrica.org/" target="_blank" rel="noopener">Media Monitoring Africa</a> for making census data more understandable.</p>

        <br/>
        {% include 'blocks/about/manifesto.html' %}
    </div>
{% endblock %}
