{% extends 'homepage_country.html' %}{% load humanize partition staticfiles %}

{% block head_title %}League Table : Schools Ranking{% endblock %}

{% block header %}
    <style>
        #page-footer, #page-header {
            background: #204d8a;
        }
    </style>
    <header id="page-header">
        <div id="page-header-title" class="wrapper clearfix">
            <i id="menu-toggle" class="fa fa-bars"></i>
            <a class="title" href="{% url 'homepage' %}">
                <img src="{% static 'img/logos/books.png' %}" style="height: 44px; float: left;"/>
                <span style="font-size: 25px;font-weight: bolder; margin-left:10px; line-height: 50px;">Elimu Yangu</span><br />
            </a>

            <div class="nav-menu">
                <ul id="site-menu">
                    {% block header_menu %}
                        <li><a href="/leaguetable">League League</a></li>
                        <li><a href="/careerguide">Career Guide</a></li>
                        <li><a href="/schools">University Finder</a></li>
                        <li><a href="/about">About</a></li>
                    {% endblock header_menu %}
                </ul>

                {% if not hide_nav_tools %}
                    {% block nav_tools %}
                    <div id="menu" class="tool-set clearfix">
                        <div class="tool-group">
                            <input name="geography_select" id="geography-select" type="text" placeholder="Search Place" autocomplete="off">
                        </div>
                        {% if not hide_nav_compare %}
                        {% comment %}
                        <span class="separator">or</span>
                        <div class="tool-group">
                            <a class="button" href="{% url 'table_search' %}">
                                <i class="fa fa-chevron-circle-right"></i>
                                Search for data
                            </a>
                        </div>
                        {% endcomment %}
                        {% endif %}
                    </div>
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content_container %}
    <div class="showcase clearfix partners {{ extra_css_class }}">
        <div class="wrapper text-center">
            <h2>Partners</h2>
            <p>League Table is made possible through support from the following partners:</p>

            <a href="http://twaweza.org/" target="_blank" rel="noopener">
                <img src="{{ STATIC_URL }}img/logos/world_bank_group_logo.png" alt="World Bank Group"></a>
            <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
                <img src="{{ STATIC_URL }}img/logos/datazetu.png" alt="Data Zetu"></a>
            <a href="https://codeforafrica.org/" target="_blank" rel="noopener">
                <img src="{{ STATIC_URL }}img/logos/cfafrica.png" alt="Code for Africa"></a>
            <br/>
        </div>
    </div>
{% endblock %}

{% block footer_content %}
    {% include 'footer.html' %}
{% endblock footer_content %}
