{% extends '_base.html' %}{% load staticfiles %}

{% block body_id %}homepage{% endblock %}

{% block head_css_extra %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/site.css' %}" />
<link rel=stylesheet type=text/css href="{% static 'css/style.css' %}">
     <!-- UNI FINDER STEP CSS -->
<link rel="stylesheet" href="{% static 'css/step.css' %}" />
<link rel="stylesheet" href="{% static 'css/arrow.css' %}" />
    <!-- OWL CAROSEL CSS -->
<link rel="stylesheet" href="{% static 'lib/owlcarousel/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'lib/owlcarousel/css/owl.theme.css' %}">
   <!-- Jquery nice select -->
<link rel="stylesheet" href="{% static 'lib/jquery.nice-select/css/nice-select.css' %}">

<link rel="stylesheet" href="{% static 'css/vendor/leaflet-0.6.4.css' %}" />
<link href="{% static 'css/vendor/leaflet.label.css' %}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block header %}
<style>
    #page-footer {
        background: #2E4668;
        padding: 10px 30px 30px;
    }
    #page-footer img {
      max-height: 100%;
      margin: 0;
    }
</style>
    <header  id="page-header">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">
                            <img class="logo" src="{% static 'img/logo0.png' %}" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav text-center">
                            <li><a href="/leaguetable">SCHOOL LEAGUE</a></li>
                            <li><a href="/careerguide">CAREER GUIDE</a></li>
                            <li><a href="/university-finder">UNI FINDER</a></li>
                            <li><a href="/about">ABOUT</a></li>
                            <li><a href="/contact">CONTACT US</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
{% endblock %}

{% block body_javascript_extra %}
    {{ block.super }}

    {% block homepage_javascripb_libs %}
    <script src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/jquery.nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>

    <script src="{% static 'js/vendor/leaflet-0.6.4.js' %}"></script>
    <script src="{% static 'js/vendor/topojson.v1.min.js' %}"></script>
    <script src="{% static 'js/vendor/leaflet.label.js' %}"></script>
    <script src="{% static 'js/maps_static.js' %}"></script>
    <script src="{% static 'js/profile_map.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/jquery.min.js'  %}"></script>
    <script src="{% static 'js/vendor/popper.min.js'  %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js'  %}"></script>
    <script src="{% static 'js/vendor/holder.min.js'  %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    {% endblock %}

    <script>
    // show 'use my current location' button
    if (Modernizr.geolocation) {
        $('.geolocate-only').show();
    }
    // geoSelect already defined by widget.geo.select.js
    geoSelect.focus();

    var maps = new ProfileMaps();
    var centre = {% if HURUMAP.map_centre %}{{ HURUMAP.map_centre }}{% else %}null{% endif %};
    var zoom = {% if HURUMAP.map_zoom %}{{ HURUMAP.map_zoom }}{% else %}null{% endif %};

    maps.drawMapForHomepage('{{ geo_data.first_child_level }}', '{{ HURUMAP.default_geo_version }}', centre, zoom);
    </script>
    <!-- <script src="{% static 'js/data.query.builder.js' %}"></script> -->
{% endblock %}
