{% extends 'homepage_country.html' %}{% load i18n %}{% load humanize partition staticfiles %}

{% block head_title %}Elimu Yangu{% endblock %}


{% block content_container %}
<div class="main-content">
  <!--
  * =================================
  * Main content
  * =================================-->
  <div class="landing-main text-center">
    <h1 class="tagline">{% trans 'MAP OUT YOUR EDUCATION' %}</h1>
    <h4 class="more-info">{%trans 'A smarter way to plan and search for the right schools and universities' %}</h4>

  <!--    <button id="getStarted">GET STARTED</button>-->
  </div>
  <!--
  * =================================
  * Help content
  * =================================
  -->
  <div class="help-box text-center">
  <div class="container">
      <div class="row">
  <!--            <div class="help-text with-padding">HOW CAN WE HELP YOU?</div>-->
          <div class="help-info">
              <span>{%trans 'I am a' %}</span>
              <select id="person" class="inline-select">
                  <option value="journalist" selected="selected">{%trans 'journalist' %}</option>
                  <option value="student">{%trans 'student' %}</option>
              </select>
              <span>{%trans 'looking for' %}</span>
              <select id="wishlist" class="inline-select">
                  <option value="suitable university courses to attend">{%trans 'suitable university courses to attend' %}</option>
                  <option value="data on high schools" selected="selected">{%trans 'data on high schools' %}</option>
                  <option value="best high schools to go to">{%trans 'best high school to go to' %}</option>
              </select>
              <span>{%trans 'in the country' %}</span>
          </div>
      </div>
      <div class="row">
          <a id="schoolLeague" class="col-sm-3 option-box selected" href="/leaguetable">
              <h3 class="title">SCHOOL LEAGUE</h3>
              <div class="description">{%trans 'Explore the complete list of schools in Tanzania and compare performances within the different regions.' %}</div>
          </a>
          <a id="careerGuide" class="col-sm-3 option-box" href="/careerguide">
              <h3 class="title">CAREER GUIDE</h3>
              <div class="description">{%trans 'Find schools for you to go in your location that align best with your career choice.' %}</div>
          </a>
          <a id="universityFinder" class="col-sm-3 option-box" href="/university-finder">
              <h3 class="title">UNIVERSITY FINDER</h3>
              <div class="description">{%trans 'Find the best possible university course to attend based on your performance and preferences.' %}</div>
          </a>
      </div>
  </div>
  </div>
</div>
    <!-- <div class="showcase clearfix partners {{ extra_css_class }}">
        <div class="wrapper text-center">
            <h2>Partners</h2>
            <p>League Table is made possible through support from the following partners:</p>

            <a href="http://twaweza.org/" target="_blank" rel="noopener">
                <img src="{{ STATIC_URL }}img/logos/world_bank_group_logo.png" alt="World Bank Group"></a>
            <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
                <img src="{{ STATIC_URL }}img/logos/datazetu.png" alt="Data Zetu"></a>
            <a href="https://codeforafrica.org/" target="_blank" rel="noopener">
                <img src="{{ STATIC_URL }}img/logos/cfafrica.png" alt="Code for Africa"></a>
            <br/>
        </div>
    </div> -->
{% endblock %}

{% block footer_content %}
    {% include 'footer.html' %}
{% endblock footer_content %}
