{% extends 'homepage.html' %}{% load sass_tags humanize partition static %}

{% block head_meta_description %}{{ HURUMAP.name }} provides useful facts and
data about land ownership in South Africa. Compare places using tables and maps,
download data, and embed charts on your site.{% endblock %}

{% block header_menu %}
<li><a href="/about">About</a></li>
<li><a href="/#showcase">Showcase</a></li>
<li class="social-icons">
  <a href="https://twitter.com/{{ HURUMAP.twitter }}"><i
    class="fa fa-twitter fa-lg fa-fw"></i></a>
  <a href="https://facebook.com/{{ HURUMAP.facebook }}"><i
    class="fa fa-facebook fa-lg fa-fw"></i></a>
</li>
{% endblock header_menu %}

{% block header_content %}{% endblock header_content %}

{% block content_container %}

  <div class="clearfix">
      <div id="slippy-map"></div>
      <div id="map-div" class="map-box">
        <i class="fa fa-times" style="float:right;margin-top:-18px; margin-right:-20px"
         onclick="javascript:$('#map-div').css('display', 'none')"></i>
         <div style="padding-bottom: 2%">
            <h2 class="font-weight-bold" style="border-bottom: 2px solid; font-size: 2em">
              Discover the stories behind <br/> our <span style="color: #269a92;">land</span></h2>
        </div>
        <p>{{ HURUMAP.name }} gives journalist and civic activists
          useful facts and data about land ownership in South Africa</p>
        <button class="btn btn-primary btn-sm text-uppercase font-weight-light">
          SEARCH RESULTS
        </button>

      </div>
  </div>
  <div class="showcase how-it-works bg-tan text-center">
    {% block how_it_works %}
    <div class="wrapper clearfix how-it-works">
      <h1>How It Works</h1>
      <br/>
      <div class="column-third">
        <p><span class="img-bg rounded bg-color-primary"><img src="{% static 'img/icons/blurbs/checklist.svg' %}"/></span></p>
        <h3>Find Facts</h3>
        <p>Land ownership data is broken down by province and category: agricultural land, erven and urban land and sectional title land. </p>
      </div>
      <div class="column-third">
        <p><span class="img-bg rounded bg-color-primary"><img src="{% static 'img/icons/blurbs/analysis.svg' %}"/></span></p>
        <h3>Visualize</h3>
        <p>Our library of charts gives you insight into land data from provinces you research. Look for them on profile pages. You can embed the charts on your own site. </p>
      </div>
      <div class="column-third">
        <p><span class="img-bg rounded bg-color-primary"><img src="{% static 'img/icons/blurbs/visualization.svg' %}"/></span></p>
        <h3>Get Context</h3>
        <p>Pre-computed land statistics are presented alongside each data point so you can see how each place fits into a large context.</p>
      </div>
    </div>
    <div class="wrapper">
      <br/><br/>
      <p><a href="/help" class="btn btn-lg bg-bottle-green">Learn more</a></p>
    </div>
    {% endblock %}
  </div>

  {% include 'blocks/showcase.html' %}

  {% include 'blocks/partners.html' with extra_css_class='bg-tan' %}

  <style>
    .map-box {
      position: fixed;
      top: 18%;
      left: 33%;
      border-radius: 2px;
      width: 33%;
      height: auto;
      background-color: #ffffff;
      padding: 2% 3% 1%;
      text-align: center;
      color: rgb(8, 74, 73);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.23);
    }
    button {
      border-radius: 24px;
      padding: .6rem 1.25rem;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 13px;
      color: #fff;
      border: 0px;
      background-image: linear-gradient(to right, #0e4b49, #16635f, #269a92);
    }
  </style>

{% endblock content_container %}

{% block homepage_javascripb_libs %}
{{ block.super }}
<script src="{% static 'js/maps_mapit.js' %}"></script>

{% endblock %}
